
@import reset
@import _index
@import _pages
@import _degital_service
@import _mountaineer
@import _activity
@import _qa
@import _animation

// @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css)

// *
// 	touch-action: auto
	
body
	
	font-family:  "Helvetica Neue", Helvetica, Arial, 'Noto Sans TC', sans-serif !important
	-webkit-font-smoothing: antialiased
	// overflow-x: auto
	line-height: 1.5
	color: #000
	overflow-x: hidden
	


a
	color: #888

h5
	font-size: 28px

h6
	font-size: 18px
p
	font-size: 16px



header
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		position: fixed
		z-index: 500	
		width: 100%
		height: 70px
		padding: 0 0px
		background: rgba(255,255,255,.9)
		border-bottom: 1px solid #eee
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		top: 0
		.logo
			margin-left: 3%
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			.logo_a
				width: 120px
				margin-right: 20px
				margin-top: 3px
			.logo_b
				width: 95px
				margin-left: 20px
				margin-top: 9px
			.l-l
				width: 1px
				height: 25px
				background: #019E96

		.menu
			display: none
		.hamburg
			display: block
			position: absolute
			height: 40px
			width: 40px
			top: 20px
			right: 20px
			cursor: pointer
			z-index: 2800
		.aside
			position: fixed
			width: 100%
			height: 100vh
			background: rgba(255,255,255, 1)
			padding-top: 10px
			transition: all .2s ease
			right: -100%
			// right: 0%
			top: 70px
			z-index: 1200
			overflow-x: hidden
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: center
			.join_member_m
				width: 80%	
				height: 50px
				margin: 0 auto
				background: #019E96
				color: #FFF
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				bottom: 0
				font-weight: 700
				border-radius: 50px
			ul
				margin-top: 60px
				li
					.m-first
						display: flex
						justify-content: center
						align-items: center
						width: 100%
						padding: 0 0 0 0px
						line-height: 1.4
						color: #014343
						font-size: 20px
						font-weight: 700
						margin-bottom: 20px
						cursor: pointer
						.go_submenu
							width: 45px
							height: 45px
							background: #222
							display: flex
							justify-content: center
							align-items: center
							i
								font-size: 30px
					.m-second_bg
						width: 100%
						display: none
						flex-direction: row
						justify-content: flex-start
						align-items: flex-start
						transition: all .5s ease
						ul
							width: 100%
							margin-top: 0px
							margin-bottom: 30px
							li
								.m-second
									display: block
									width: 100%
									text-align: center
									color: #014343
									font-size: 15px
									padding: 8px 20px
									text-align: center
									display: flex
									flex-direction: row
									justify-content: center
									align-items: center

	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		position: fixed
		border-radius: 50px
		width: 90%
		height: 60px
		padding: 0 0px
		// background: rgba(255,255,255,1)
		// filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3))
		z-index: 1000
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		top: 10px
		left: 5%
		transition: all .2s
		&:hover
			background: rgba(255,255,255,1)
			filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2))
		.logo
			margin-left: 3%
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			.logo_a
				width: 120px
				margin-right: 20px
				margin-top: 3px
			.logo_b
				width: 95px
				margin-left: 20px
				margin-top: 9px
			.l-l
				width: 1px
				height: 25px
				background: #019E96
			
		.hamburg
			display: none
		.aside
			display: none
		.menu
			width: 90%
			ul
				display: flex
				flex-direction: row
				justify-content: flex-end
				align-items: center
				li 
					margin-left: 0px
					height: 70px
					padding: 0 1.5%
					cursor: pointer
					color: #999
					font-size: 16px
					font-weight: 900
					display: flex
					flex-direction: row
					justify-content: center
					align-items: center
					position: relative
					&:hover
						text-decoration-line: underline
						text-underline-position: 10px
						
					a 
						display: block
						// width: 140px
						height: 70px
						color: #195F5F
						// padding: 0 22px
						font-size: 16px
						font-weight: 900
						display: flex
						flex-direction: row
						justify-content: center
						align-items: center
						transition: all .3s

					.drop_down
						position: absolute
						display: none
						border-radius: 20px
						width: 150px
						background: #FFF
						padding: 20px
						top: 70px
						left: 15px
						transition: all .3s
						z-index: 3000
						overflow: hidden
						a 
							display: block
							width: 100%
							height: 35px
							color: #014343
							font-size: 14px
							line-height: 1.4
							background: #FFF
							text-decoration-line: none !important
							display: flex
							flex-direction: column
							justify-content: center
							align-items: flex-start
							&:hover
								color: #FFC517
								text-decoration-line: underline !important
					&:hover
						a
							
							text-decoration-line: underline
						.drop_down
							display: block


.show
	display: flex !important

.hamburg-open
	right: 0% !important
	transform: rotate(0deg) translate3d(0px, 0px, 0px)


.hamburg
	.aaa, .bbb, .ccc
		display: block
		width: 80%
		margin: 0 auto
		height: 4px
		background: #014343
		margin-bottom: 5px
		margin-top: 5px
		transition: all .5s ease
		transform: rotate(0deg) translate3d(0px, 0px, 0px)


.cross
	.aaa
		display: block
		width: 80%
		margin: 0 auto
		height: 5px
		background: #014343
		margin-bottom: 6px
		margin-top: 6px
		transition: all .3s ease
		transform: rotate(405deg) translate3d(8px, 8px, 0px)
	.bbb
		display: block
		width: 80%
		margin: 0 auto
		height: 5px
		background: #014343
		margin-bottom: 6px
		margin-top: 6px
		transition(all .2s ease)
		transform: rotate(0deg) translate3d(0px, 0px, 0px)
		opacity: 0

	.ccc
		display: block
		width: 80%
		margin: 0 auto
		height: 5px
		background: #014343
		margin-bottom: 6px
		margin-top: 6px
		transition: all .3s ease
		transform: rotate(-405deg) translate3d(8px, -8px, 0px)


.second-open
	right: 0% !important
	transition: all .5s ease


.join_member
	background: #019E96
	width: 110px
	height: 40px !important
	padding: 15px
	border-radius: 50px
	margin-left: 20px
	color: #FFF !important
	&:hover
		background: #014343
		text-decoration: none !important

.clear
	clear: both
.clearfix:before,.clearfix:after
	content: ""
	display: table
.clearfix:after
	clear: both
.clearfix
	zoom: 1 /* ie 6/7 */


.index_menu_bg
	background: rgba(255,255,255,1)
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2))



.footer_wrapper
	margin-top: -90px
	position: relative
	
	.footer_topwave
		background-size: 100%
		background-repeat: no-repeat
		// height: 100px
		// background: #000
		position: relative
		img 
			display: block
	.footer_body
		background: #f8e292
		margin-top: -3px
		position: relative
		


.pillar_show
	display: block !important
.s_switch_on
	.add
		display: none !important
	.minus
		display: block !important

.footer_content
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		padding: 50px 0
		.item_row
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			.pillar
				width: 85%
				display: flex
				flex-direction: column
				justify-content: flex-start
				align-items: flex-start
				margin: 0 35px
				margin-bottom: 15px
				border-bottom: 1px solid #047B77
				.footer_menu_title
					width: 100%
					height: 30px
					display: flex
					flex-direction: row
					justify-content: space-between
					align-items: center
					margin-bottom: 10px
					.add
						display: block
					.minus
						display: none
					
					i 
						color: #047B77
						margin-right: 10px
					p 
						margin-bottom: 0
						color: #047B77
						font-size: 17px
						font-weight: 600
				.pillar_content
					display: none
					.link
						display: block
						color: #047B77
						height: 40px
						font-size: 16px
			
				
			.social_media
				width: 100%
				height: 120px
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				// background: #000
				.s_link_row
					width: 100%
					// background: #189
					display: flex
					flex-direction: row
					justify-content: center
					align-items: center
					margin-bottom: 30px
					.s_link
						display: block
						width: 40px
						margin-left: 25px
						padding: 8px
						border-radius: 50%
						transition: all .2s
						background: #047B77
						display: flex
						flex-direction: row
						justify-content: center
						align-items: center  
						img 
							display: block
							width: 100%
				.s_bottom_link
					color: #047B77
					font-size: 12px
					a	
						font-size: 12px
						color: #047B77

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 50px 30px
		.item_row
			display: flex
			flex-wrap: wrap
			flex-direction: row
			justify-content: space-between
			align-items: flex-start
			.pillar
				// width: 120px
				display: flex
				flex-direction: column
				justify-content: flex-start
				align-items: flex-start
				margin: 0 1%
				.footer_menu_title
					width: 100%
					height: 30px
					display: flex
					flex-direction: row
					justify-content: space-between
					align-items: center
					margin-bottom: 10px
					.add
						display: none !important
					.minus
						display: none !important
					
					i 
						color: #047B77
						margin-right: 10px
					p 
						margin-bottom: 0
						color: #047B77
						font-size: 17px
						font-weight: 600
				p
					color: #047B77
					font-size: 14px
					font-weight: 600
					margin-bottom: 20px

				.link
					display: block
					color: #047B77
					height: 30px
					font-size: 14px
					&:hover
						color: #014343
						text-decoration: underline

			.social_media
				width: 25%
				height: 150px
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: flex-end
				// background: #000
				.s_link_row
					width: 100%
					// background: #189
					display: flex
					flex-direction: row
					justify-content: flex-start
					align-items: center  
					.s_link
						display: block
						width: 40px
						margin-right: 25px
						padding: 8px
						border-radius: 50%
						transition: all .2s
						background: #047B77
						display: flex
						flex-direction: row
						justify-content: center
						align-items: center  
						img 
							display: block
							width: 100%
						&:hover
							background: #014343

				.s_bottom_link
					color: #047B77
					font-size: 12px
					a	
						font-size: 12px
						color: #047B77
						&:hover
							color: #014343
							text-decoration: underline
							




.notice-popup
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		position: relative
		max-width: 1000px
		padding: 20px 0
		margin: 0 auto
		background: #000
		iframe
			width: 100%
			height: 400px

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		position: relative
		max-width: 1000px
		padding: 20px 0
		margin: 0 auto
		background: #000
		iframe
			width: 100%
			height: 600px








	

.mfp-close-btn-in .mfp-close
	position: absolute
	width: 70px
	height: 40px
	border-radius: 30px
	background: #FFE893
	color: #014343
	right: 0px
	top: -50px




.notice-popup_text
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		position: relative
		max-width: 950px
		padding: 20px 0
		margin: 0 auto
		background: #FFF
		border-radius: 50px
		padding: 50px 20px
		.notice-popup_content
			background: #FFF
			padding-right: 10px
			height: 60vh
			overflow: auto

			h6
				font-size: 22px
				color: #047B77
				font-weight: 700
				text-align: center
				margin-bottom: 20px
			p 
				color: #047B77
				font-size: 14px
				margin-bottom: 5px
	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		position: relative
		max-width: 950px
		padding: 20px 0
		margin: 0 auto
		background: #FFF
		border-radius: 50px
		padding: 50px 20px
		.notice-popup_content
			background: #FFF
			padding-right: 10px
			height: 60vh
			overflow: auto

			h6
				font-size: 22px
				color: #047B77
				font-weight: 700
				text-align: center
				margin-bottom: 20px
			p 
				color: #047B77
				font-size: 14px
				margin-bottom: 5px
			





.for_order_a
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		order: 2
	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		order: 1
		max-width: none
		margin: 0


.for_order_b
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		order: 1
	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		order: 2
		max-width: none
		margin: 0

.scroll
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		display: none
	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		position: fixed
		left: -20px	
		bottom: 5%
		transform: rotate(90deg)
		z-index: 1000
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		transition: all .3s
		p
			color: #014343
			font-size: 20px 
			font-weight: 900
		.l-line
			width: 60px
			height: 2px
			background: #014343
			margin-left: 10px


.go_top
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		display: none
		
	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		position: fixed
		right: 10px
		bottom: 50px
		transform: rotate(90deg)
		z-index: 500
		font-size: 20px
		opacity: 0
		tansition: all .5s
		cursor: pointer
		.for_flex
			.aaa
				color: #047B77
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				i 
					margin-right: 10px
					font-size: 30px
				&:hover
					color: #014343

.go_top_show
	opacity: 1 !important
.gone
	opacity: 0 !important

.loading
	position: absolute
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	background: #FFF
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	z-index: 1000
	.loading_logo_w
		.jump
			width: 10px
			transform: (translateX(87px) translateY(15px))
			animation: bounce .3s infinite alternate
		.loading_logo
			width: 200px
		.loading_bar
			margin: 10px auto
			.meter
				height: 10px
				width: 200px
				background: rgba(0,0,0,.05)
				border-radius: 25px
				padding: 2px
				> span
					display: block
					height: 100%
					border-radius: 20px
					background-color: #FFE893
					position: relative
					overflow: hidden
					animation-name: expandWidth
					animation-timing-function: ease-out
					animation-duration: 3s
					animation-iteration-count: infinite




@keyframes bounce
	from
		transform: (translateX(87px) translateY(15px))
	to 
		transform: (translateX(87px) translateY(-5px))

@keyframes expandWidth
	0%
		width: 0
	100%
		width: 100%


.remove
	display: none







.ggg
	width: 300px
	height: 300px
	background: eee
	position: relative
	margin: 0 auto
	border: 2px solid #000
	overflow-x: auto
	&:-webkit-scrollbar
		width: 0px
		background-color: transparent
	// touch-action: pan-x !important
	// -webkit-overflow-scrolling: touch
	.bbb
		position: absolute
		width: 3000px
		height: 200px
		background: #188290
		margin-left: 0
		margin-right: 0
		&:-webkit-scrollbar
			width: 0px
			background-color: transparent
