{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<div class="activity_wrapper">


{# section top #}
<div class="activity_top_section_wrapper">
	<section class="main slider">
		<!-- 1 -->
		<div class="activity_top_section ">
			<div class="for_flex">
				<div class="top_description for_order_a">
					<span>2O21.O4.26 • 數位金融 11</span>
					<h1>玉山銀行連續 16 年榮獲經濟部「信保績優總行獎」 再創金融業最佳紀錄</h1>
					<p>經濟部與信保基金於今 (24) 日頒發「 2021 中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續 2 年榮獲「信保金質獎-...</p>
						<div class="btn_row">
							<a href="#" class="go_btn">閱讀文章</a>
						</div>
				</div>
				<div class="slide_ad for_order_b">
					<div class="slider_wrapper">
						<img src="img/blog_top.jpg" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- 2 -->
		<div class="activity_top_section ">
			<div class="for_flex">
				<div class="top_description for_order_a">
					<span>2O21.O4.26 • 數位金融 222</span>
					<h1>玉山銀行連續 16 年榮獲經濟部「信保績優總行獎」 再創金融業最佳紀錄</h1>
					<p>經濟部與信保基金於今 (24) 日頒發「 2021 中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續 2 年榮獲「信保金質獎-...</p>
						<div class="btn_row">
							<a href="#" class="go_btn">閱讀文章</a>
						</div>
				</div>
				<div class="slide_ad for_order_b">
					<div class="slider_wrapper">
						<img src="img/blog_top.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

	<!-- <div class="activity_top_section ">
		<div class="top_description for_order_a">
      <h5>2O21.O4.26 • 數位金融</h5>
			<h1>玉山銀行連續 16 年榮獲經濟部「信保績優總行獎」 再創金融業最佳紀錄</h1>
			<p>經濟部與信保基金於今 (24) 日頒發「 2021 中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續 2 年榮獲「信保金質獎-...</p>
				<div class="btn_row">
					<a href="#" class="go_btn">閱讀文章</a>
				</div>
		</div>
    <div class="slide_ad for_order_b">
        <div class="slider_wrapper">
            <img src="img/blog_top.jpg" alt="">
        </div>
        <div class="slider_btn">
            <div class="go_left"><img src="img/btn_to_left.svg" alt=""></div>
            <div class="go_right"><img src="img/btn_to_right.svg" alt=""></div>
        </div>
    </div>
	</div> -->




	<div class="filter_row_blog">
		<div class="filter_section_blog" >
			<div class="filter_row">
				<a href="" class="filter_on">全部分類</a>
				<a href=""><h2>個人服務</h2></a>
				<a href=""><h2>小型企業</h2></a>
				<a href=""><h2>法人服務</h2></a>
				<a href=""><h2>數位金融</h2></a>
				<a href=""><h2>關於玉山</h2></a>
				<a href=""><h2>喜悅與榮耀</h2></a>
			</div>
		</div>
	</div>

  <div class="activity_list">

    <!-- item_row -->
		<div class="item_row"> 
      <!-- blog_item -->
      <a href="activity_blog_inside_page.html" class="blog_item">
        <img src="img/blog_01.jpg" alt="">
        <h3>玉山證券榮獲《財訊》財富管理大獎 數位金融發展深受肯定</h3>
        <p>經濟部與信保基金於今(24)日頒發「2021中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續2年榮獲「信保金質獎-...</p>
        <div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
      </a>
      
      <!-- blog_item -->
      <a href="activity_blog_inside_page.html" class="blog_item">
        <img src="img/blog_02.jpg" alt="">
        <h3>玉山證券榮獲《財訊》財富管理大獎 數位金融發展深受肯定</h3>
        <p>經濟部與信保基金於今(24)日頒發「2021中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續2年榮獲「信保金質獎-...</p>
        <div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
      </a>
      
      <!-- blog_item -->
      <a href="activity_blog_inside_page.html" class="blog_item">
        <img src="img/blog_03.jpg" alt="">
        <h3>玉山證券榮獲《財訊》財富管理大獎 數位金融發展深受肯定</h3>
        <p>經濟部與信保基金於今(24)日頒發「2021中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續2年榮獲「信保金質獎-...</p>
        <div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
      </a>
      
      <!-- blog_item -->
      <a href="activity_blog_inside_page.html" class="blog_item">
        <img src="img/blog_01.jpg" alt="">
        <h3>玉山證券榮獲《財訊》財富管理大獎 數位金融發展深受肯定</h3>
        <p>經濟部與信保基金於今(24)日頒發「2021中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續2年榮獲「信保金質獎-...</p>
        <div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
      </a>
      
      <!-- blog_item -->
      <a href="activity_blog_inside_page.html" class="blog_item">
        <img src="img/blog_02.jpg" alt="">
        <h3>玉山證券榮獲《財訊》財富管理大獎 數位金融發展深受肯定</h3>
        <p>經濟部與信保基金於今(24)日頒發「2021中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續2年榮獲「信保金質獎-...</p>
        <div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
      </a>
      
      <!-- blog_item -->
      <a href="activity_blog_inside_page.html" class="blog_item">
        <img src="img/blog_03.jpg" alt="">
        <h3>玉山證券榮獲《財訊》財富管理大獎 數位金融發展深受肯定</h3>
        <p>經濟部與信保基金於今(24)日頒發「2021中小企業信用保證融資業務績優金融機構及授信經理人」獎，玉山銀行連續2年榮獲「信保金質獎-...</p>
        <div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
      </a>
      



		</div>


    <!-- pagination -->
		<div class="pagination">
			<div class="num page_on">1</div>
			<div class="num">2</div>
			<div class="num">3</div>
			<div class="num">4</div>
			<div class="num">5</div>
			<div class="num">6</div>
			<div class="num">7</div>
		</div>



	</div>

<div class="for_height"></div>
</div>

	

<script>
  $(".main").slick({
      dots: false,
      infinite: true,
      arrows: true,
      autoplay: false,
      adaptiveHeight: true
  })
</script>
{% endblock %}