{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}





<div class="activity_wrapper">


  <div class="filter_row">
    <div class="filter_section" style="width: 330px;">
      <a href="" class="filter_on"><h2>得獎公告 </h2></a>
      <a href=""><h2>系統公告</h2></a>
    </div>
  </div>


  <div class="activity_list">

    <div class="announcement_list">

      <!-- announcement_item -->
      <a href="activity_announcement_inside_page.html" class="announcement_item">
        <div class="des">
          <p>2O21.O4.05</p>
          <h3>熊朋友邀請賽  三月得獎公告</h3>
        </div>
        <div class="arrow_icon"><i class="fas fa-chevron-circle-right"></i></div>
      </a>

      <!-- announcement_item -->
      <a href="activity_announcement_inside_page.html" class="announcement_item">
        <div class="des">
          <p>2O21.O4.05</p>
          <h3>熊朋友邀請賽  三月得獎公告</h3>
        </div>
        <div class="arrow_icon"><i class="fas fa-chevron-circle-right"></i></div>
      </a>
      
      <!-- announcement_item -->
      <a href="activity_announcement_inside_page.html" class="announcement_item">
        <div class="des">
          <p>2O21.O4.05</p>
          <h3>熊朋友邀請賽  三月得獎公告</h3>
        </div>
        <div class="arrow_icon"><i class="fas fa-chevron-circle-right"></i></div>
      </a>
      
      <!-- announcement_item -->
      <a href="activity_announcement_inside_page.html" class="announcement_item">
        <div class="des">
          <p>2O21.O4.05</p>
          <h3>熊朋友邀請賽  三月得獎公告</h3>
        </div>
        <div class="arrow_icon"><i class="fas fa-chevron-circle-right"></i></div>
      </a>
      
      <!-- announcement_item -->
      <a href="activity_announcement_inside_page.html" class="announcement_item">
        <div class="des">
          <p>2O21.O4.05</p>
          <h3>熊朋友邀請賽  三月得獎公告</h3>
        </div>
        <div class="arrow_icon"><i class="fas fa-chevron-circle-right"></i></div>
      </a>
      
      <!-- announcement_item -->
      <a href="activity_announcement_inside_page.html" class="announcement_item">
        <div class="des">
          <p>2O21.O4.05</p>
          <h3>熊朋友邀請賽  三月得獎公告</h3>
        </div>
        <div class="arrow_icon"><i class="fas fa-chevron-circle-right"></i></div>
      </a>
      
      <!-- announcement_item -->
      <a href="activity_announcement_inside_page.html" class="announcement_item">
        <div class="des">
          <p>2O21.O4.05</p>
          <h3>熊朋友邀請賽  三月得獎公告</h3>
        </div>
        <div class="arrow_icon"><i class="fas fa-chevron-circle-right"></i></div>
      </a>
      

      <div class="pagination">
        <a href="activity_announcement.html" class="num">1</a>
        <a href="activity_announcement_2.html" class="num page_on">2</a>
        <a href="activity_announcement_2.html" class="num">3</a>
        <a href="activity_announcement_2.html" class="num">4</a>
        <a href="activity_announcement_2.html" class="num">5</a>
        <a href="activity_announcement_2.html" class="num">6</a>
        <a href="activity_announcement_2.html" class="num">7</a>
        <a href="activity_announcement_2.html" class="num">8</a>
      </div>
    </div>

  </div>

<div class="for_height"></div>
</div>

	


{% endblock %}