{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<div class="activity_wrapper">
  <!-- inside_top -->
  <div class="inside_top">
    <span>2O21.O4.26 e.Fingo 會員限定</span>
    <h1>熊朋友邀請賽  中獎公告</h1>
    <p style="margin-bottom: 30px;">2021 年 1 月、2020 年 10,11,12 月份活動得獎公告</p>
    <!-- <div class="for_flex-row">
      <div class="count">
        <div class="watch"> <i class="far fa-eye"></i> 666</div>
        <div class="heart"><i class="fas fa-heart"></i> 666</div>
      </div>
      <div class="social">
        <div class="like"><i class="fas fa-heart"></i> <p>Like</p>  </div>
        <div class="share"><i class="fas fa-share"></i> <p>Share </p></div>
      </div>
    </div> -->

  </div>


  <!-- inside_section_a -->
  <div class="inside_section_a">
    <p>一月得獎公告</p>
  </div>

  <!-- inside_section_b -->
  <div class="inside_section_b">
    <p>親愛的顧客您好：</p> <br>
    <p>感謝您熱情參與【 e.Fingo 熊朋友邀請賽 】活動，恭喜以下得獎者可獲得【 iPhone 12 Pro 128G 乙台 ( 共 3名 )、e.Fingo 點數 200 點 ( 共 150 名 )、全家購物金 200 元 ( 共 80 名 ) 】。</p> <br>
      
    <p style=" word-break: break-all;">請得獎者於 2021 年 3 月 21 日 23：59 前回填贈獎問卷：
      <a href="https://www.esunbank.com.tw/s/Survey/OnlineSurvey.aspx?sid=fd3dc654-cdda-422e-a78a-b802c9b548f6">https://www.esunbank.com.tw/s/Survey/OnlineSurvey.aspx?sid=fd3dc654-cdda-422e-a78a-b802c9b548f6</a> ，並將身分證正反面 e-mail 至 <a href="mailto: E-SUNDMO@email.esunbank.com.tw"> E-SUNDMO@email.esunbank.com.tw</a>， 逾期未回覆或個人資料有誤者視同放棄得獎資格，不再另行通知。</p>
  </div>



  <div class="inside_section_a">
    <div class="des">
      <p><b> iPhone 12 Pro 128G 乙台</b></p>
      <p>共 3名</p>
    </div>

    <div class="prize_list">
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
    </div>
    
    <div class="for_height_50"></div>

    <div class="des">
      <p><b> iPhone 12 Pro 128G 乙台</b></p>
      <p>共 3名</p>
    </div>

    <div class="prize_list">
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
      <div class="name_item">王Ｏ明</div>
    </div>
  </div>
  
  



  

  <!-- inside_notice -->
  <div class="inside_notice">
    <div class="inside_notice_content">
    <h4>注意事項</h4>
    <p>一、活動名稱：熊朋友邀請賽 <br><br>
      二、本活動期間：2021 年 1  月 1 日至 2021 年 3 月 31 日止。<br><br>
      三、活動內容：<br>
          1. 於活動期間內，首次加入 e.Fingo 會員或成為推薦人，即可累積對應抽獎機會。<br>
          2. 玉山銀行 ( 下稱本行 ) 將於每月以隨機方式抽出得獎者各可獲得 iPhone 12 Pro 128G 乙台 ( 3 名 )、e.Fingo 點數 200 點   
              (  150 名 )、全家購物金 200 元（ 80 名 ）。同一得獎者每月至多中獎一次，活動期間內至多中獎三次。<br>
          3. 抽獎機會獲得方式如下：<br>
            ‧ 活動期間內，首次成功加入 e.Fingo 會員，即可獲得1次抽獎機會。<br>
            ‧ 活動期間內，推薦人進入玉山行動銀行 e.Fingo 專區查詢「好友邀請碼」，並提供該邀請碼予被推薦人。經被推薦人於
                  e.Fingo 會員加入流程中填入該好友邀請碼，並成功加入 e.Fingo 會員，推薦人即可獲得 5 次抽獎機會，推薦人數及
                  抽獎機會於活動期間內累積無上限。<br>
            ‧ 上述抽獎機會將持續累積至活動期間結束，每次抽獎均以各參加人於活動期間內持續累積至抽獎日之抽獎機會為準。<br><br>

      四、活動資格<br>
      1. 本活動限居住於台澎金馬地區本國國人參加，贈品亦僅限寄送至台澎金馬地區。<br>
      2. 推薦人資格：已成為玉山e.Fingo會員者，且推薦人參加本活動時，即視同已詳閱並同意接受活動辦法及相關注意事項規定。推薦人如於活動期間失去會員資格，玉山銀行有權取消活動資格。<br>
      3. 被推薦人資格：尚未成為玉山e.Fingo會員者。<br>
      五、贈獎方式<br>
      1. 每月得獎名單將於次月21日抽獎日於e.Fingo會員專區及玉山銀行官方網站公告，若抽獎日遇例假日、國定假日時，則將順延至次一營業日進行。得獎者需於每月得獎名單公告後一個月內回覆得獎公告之問卷，逾期未回覆或個人資料有誤者視同放棄得獎資格，不再另行通知。<br>
      2. 本行將於2021年6月21日起陸續將抽獎贈品iPhone 12 Pro 128G以掛號寄出至「得獎者問卷」 所回填地址，詳細贈獎方式請參閱得獎公告。倘因提供之資料有誤或可歸責於得獎者事由，致有獎項無法送達之情事，恕不另行補發，資格亦不遞補。<br>
      3. 本行將於2021年6月21日起陸續將抽獎贈品全家購物金200元，以簡訊陸續發送至「得獎者問卷」所回填之聯絡手機，詳細贈獎方式請參閱得獎公告。倘因提供之資料有誤或可歸責於得獎者事由，致有獎項無法送達之情事，恕不另行補發，資格亦不遞補。<br>
      4. 本行將於2021年6月21日起陸續將抽獎贈品e.Fingo點數200點匯入得獎者之e.Fingo點數專區，詳細贈獎方式請參閱得獎公告。倘因提供之資料有誤或可歸責於得獎者事由，致有獎項無法送達之情事，恕不另行補發，資格亦不遞補。<br>
      5. 抽獎贈品僅限得獎者本人領取，亦不得要求將贈品讓與他人或更換其他品項或折換現金。本行保留隨時修改、變更、終止或暫停本活動及替換其他等值贈品權利，且無須為事前通知。若有其他未盡事宜，悉依本行相關規定或解釋。獎項所衍生之費用皆由得獎者自行負擔。<br>
      六、贈品之規格以實物為準，恕不提供選色、退換服務。相關產品問題、維修及保固，需依該品牌業者相關規定辦理，與本行無涉。<br>
      七、如有任何因電腦、網路、電話、技術或不可歸責本行之事由，而使參加活動者，所提供之資料有遺失、錯誤、無法辨識或毀損等情況，本行不負任何法律責任，參與本活動者或得獎者亦不得因此異議。
      八、本活動之抽獎、中獎或兌獎紀錄均以本行電腦系統紀錄為準。本行有權檢視各項交易及抽獎紀錄，若參加者有違反活動注意事項之行為或涉及不正當得利及非法行為，本行除公告排除參與活動及兌領資格外，並對任何破壞活動之行為保留法律追訴權。<br>
      九、依中華民國稅法規定，得獎者本年度兌領獎品價值累計超過新臺幣1,000元，將列入本年度之個人綜合所得稅申報，中獎贈品價值為超過新臺幣20,000元者，本行將代扣得獎者需繳納之10%機會中獎所得稅。<br>
      十、得獎者參加本活動而需支付之任何稅捐係屬得獎者依稅法之規定所須履行之義務，概與本行無關，倘有稅務法令適用之爭議者，概由得獎者自行向開徵機關提出申訴。<br>
      十一、個資告知事項：參加人瞭解及同意本行為抽獎活動及行銷之需要進行蒐集、處理及利用其個人資料。本行係基於遵守我國法令規定、提供本網路查詢服務或您可能需要本行或玉山金控所屬子公司之其他金融商品或服務資訊等特定目的，本於誠實信用原則及必要性原則蒐集、處理或利用您於本網路登載及後續基於上開特定目的與本行往來之個人資料。除事先取得您同意或法令另有規定外，本行處理或利用上開資料之期間、地區、對象及方式，將限於達成上開特定目的之必要範圍內為之。除法令另有規定或本行執行職務、業務所必須外，您可透過撥打本行客服電話(02)2182-1313，請本行對上開資料(1)查詢或閱覽(2)製給複製本(3)補充或更正(4)停止蒐集、處理或利用(5)刪除。本告知事項內容如有更新，請詳見本行網站公告。<br>
      十二、本行保留隨時修改、暫停、變更、終止本活動與替換其他等值獎項之權利，若有其他未盡事宜，悉依本行相關規定或解釋辦理。若有相關活動問題請電洽本行客服(02)2182-1313或至本行官網「訪客留言板」留言。<br>
      </p>

      <div class="see_more">
        <p>展開更多</p>  
        <i class="fas fa-chevron-circle-down"></i>
      </div>
    </div>
  </div>



  <!-- 別人也在看 -->
  <div class="activity_list">
    <h3 style="text-align: center;">別人也在看</h3> 
    <div class="for_height_50"></div>
		<div class="item_row"> 
			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-01.jpg" alt="">
				<h4>熊朋友邀請賽</h4>
        
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>

			<!-- activity_item -->
			<a href="#" class="activity_item">
				<img src="img/item-02.jpg" alt="">
				<h4>熊朋友邀請賽</h4>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">理財</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>
			<!-- activity_item -->
			<a href="#" class="activity_item">
				<img src="img/item-03.jpg" alt="">
				<h4>熊朋友邀請賽</h4>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">得獎公告</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>
    </div>

<div class="for_height"></div>
</div>

<script>
  $(".see_more").click(function(){
    $('.inside_notice').toggleClass('open')
    if ($('.see_more  > p').html() === "展開更多") {
      $('.see_more p').html("收合");
    
    } else {
      $('.see_more p').html("展開更多");
      // 讓捲軸移動到 0 的位置
      var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
      $body.animate({
        scrollTop: $(".inside_notice").offset().top - 100
      }, 600);
    }

  })
</script>
<script>
	var len = 62;
	$(".activity_list > .item_row > a > p").each(function(i){
		if($(this).text().length>len){
			$(this).attr("title",$(this).text());
			var text=$(this).text().substring(0,len-1)+"...";
			$(this).text(text);
		}
	});

</script>

{% endblock %}