{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<div class="activity_wrapper">
	<!-- svg animation -->
	<div class="svg_curve_line_digital_a u_position_1">
        <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_b u_position_2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_c u_position_3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_d u_position_4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1592.463 1389.514" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,820.272s164.811,163.654,323.709,56.413-7.572-321.755,155.424-464.317,334.839-12.1,582.387-145.568S-53.265-248.708-45.258-247.834" transform="matrix(0.985, 0.174, -0.174, 0.985, 1593.858, 497.626)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_e u_position_5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1447.525 550.823" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M252.851,250.319c-407.08,161.747-523.838-125.789-797.472-85.286s-340.74,334.675-454.32,446.234-195.473,99.307-195.473,99.307" transform="translate(1194.489 -160.682)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

{# section top #}
<div class="activity_top_section_wrapper">
	<section class="main slider">
		<!-- 1 -->
		<div class="activity_top_section ">
			<div class="for_flex">
				<div class="top_description for_order_a">
					<span>2O21.O4.26 e.Fingo 會員限定</span>
					<h1>熊朋友邀請賽 #1111<br>
						活動說明 </h1>
					<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
						<div class="btn_row">
							<a href="#" class="go_btn">閱讀文章</a>
						</div>
				</div>
				<div class="slide_ad for_order_b">
					<div class="slider_wrapper">
						<img src="img/ad_01.svg" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- 2 -->
		<div class="activity_top_section ">
			<div class="for_flex">
				<div class="top_description for_order_a">
					<h5>2O21.O4.26 e.Fingo 會員限定</h5>
					<h1>熊朋友邀請賽 #222<br>
						活動說明 </h1>
					<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
						<div class="btn_row">
							<a href="#" class="go_btn">閱讀文章</a>
						</div>
				</div>
				<div class="slide_ad for_order_b">
					<div class="slider_wrapper">
						<img src="img/ad_01.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


<div class="filter_row_blog">
	<div class="filter_section_blog" >
		<div class="filter_row">
			<a href="#" class="filter_on"><h2>全部分類</h2></a>
			<a href="#"><h2>理財</h2></a>
			<a href="#"><h2>e.Fingo 會員限定</h2></a>
		</div>
	</div>
</div>


	<!-- <div class="filter_row">
		<div class="filter_section" style="width: 550px;">
			<a href="#" class="filter_on"><h2>全部分類</h2></a>
			<a href="#"><h2>理財</h2></a>
			<a href="#"><h2>e.Fingo 會員限定</h2></a>
		</div>
	</div> -->

	<div class="activity_list">
		

		<div class="item_row"> 
			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-01.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>

			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-02.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">理財</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>
			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-03.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">得獎公告</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>


			

			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-01.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>

			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-02.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">理財</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>
			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-03.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">得獎公告</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>

			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-01.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>

			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-02.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">理財</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>
			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-03.jpg" alt="">
				<h3>熊朋友邀請賽</h3>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">得獎公告</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>
		</div>
		<div class="pagination">
			<a href="activity_news.html" class="num">1</a>
			<a href="activity_news_2.html" class="num page_on">2</a>
			<a href="activity_news_2.html" class="num">3</a>
			<a href="activity_news_2.html" class="num">4</a>
			<a href="activity_news_2.html" class="num">5</a>
			<a href="activity_news_2.html" class="num">6</a>
			<a href="activity_news_2.html" class="num">7</a>
			<a href="activity_news_2.html" class="num">8</a>
		</div>


<div class="for_height"></div>
</div>


<script>
	$(".main").slick({
		dots: false,
		infinite: true,
		arrows: true,
		autoplay: false,
		adaptiveHeight: true
	})
</script>

{% endblock %}