{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<div class="activity_wrapper">
  <!-- svg animation -->
	<div class="svg_curve_line_digital_a u_position_1">
    <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
    </svg>
</div>

<div class="svg_curve_line_digital_b u_position_2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>

<div class="svg_curve_line_digital_c u_position_3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
        <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>

<div class="svg_curve_line_digital_d u_position_4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1592.463 1389.514" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M-1457,820.272s164.811,163.654,323.709,56.413-7.572-321.755,155.424-464.317,334.839-12.1,582.387-145.568S-53.265-248.708-45.258-247.834" transform="matrix(0.985, 0.174, -0.174, 0.985, 1593.858, 497.626)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>

<div class="svg_curve_line_digital_e u_position_5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1447.525 550.823" class="go">
        <path id="Path_1638" data-name="Path 1638" d="M252.851,250.319c-407.08,161.747-523.838-125.789-797.472-85.286s-340.74,334.675-454.32,446.234-195.473,99.307-195.473,99.307" transform="translate(1194.489 -160.682)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>

<div class="svg_curve_line_digital_c u_position_6">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
        <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>


  <!-- inside_top -->
  <div class="inside_top">
    <h5>2O21.O4.26 e.Fingo 會員限定</h5>
    <h1>熊朋友邀請賽  中獎公告</h1>
    <h2>2021 年 1 月、2020 年 10,11,12 月份活動得獎公告</h2>
    <div class="for_flex-row">
      <div class="count">
        <div class="watch"> <i class="far fa-eye"></i> 666</div>
        <div class="heart"><i class="fas fa-heart"></i> 666</div>
      </div>
      <div class="social">
        <div class="like"><i class="fas fa-heart"></i> <p>Like</p> </div>
        <div class="share"><i class="fas fa-share"></i> <p>Share</p> </div>
      </div>
    </div>

  </div>


  <!-- inside_section_a -->
  <div class="inside_section_a">
    <div class="des">
      <p>月月抽 iPhone 12 Pro 128G (3名)</p>
      <p> e.Fingo 點數 200 點 (150名)</p>
      <p>全家購物金 200 元（80名）</p>
      <p>-</p>
      <p>活動期間  2021/1/1 ~ 2021/3/31</p>
  </div>
  </div>

  <!-- inside_section_b -->
  <div class="inside_section_b">
    <h4>加入就抽</h4>
    <p>加入 e.Fingo 會員，馬上獲得 1 次抽獎機會唷！ 馬上加入</p>
    <div class="for_height_50"></div>
    <h4>推薦就抽</h4>
    <p style="margin-bottom: 30px;">推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會唷！（推薦人數及抽獎機會累積無上限）邀請好友</p>

    <p>可於會員專區查看成功加入的好友，及查詢累積的抽獎機會喔～</p>
  </div>

  <!-- inside_section_c -->
  <div class="inside_section_c">
    <img src="img/banner_01.jpg" alt="">
    <h4>活動內容</h4>
    <div class="des">
      <ul>
        <li>於活動期間內，首次加入 e.Fingo 會員或成為推薦人，即可累積對應抽獎機會。</li>
        <li>玉山銀行  ( 下稱本行 )  將於每月以隨機方式抽出得獎者各可獲得 iPhone 12 Pro 128G 乙台 ( 3 
          名 )、e.Fingo 點數 200 點 ( 150 名 )、全家購物金 200 元（ 80 名 ）。同一得獎者每月至多中獎一次，活動期間內至多中獎三次。</li>
        <li>抽獎機會獲得方式如下：</li>
          <div class="list">
              <ul>
                <li> 活動期間內，首次成功加入 e.Fingo 會員，即可獲得 1 次抽獎機會。</li>
                <li> 活動期間內，推薦人進入玉山行動銀行 e.Fingo 專區查詢「好友邀請碼」，並提供該邀請碼予被推薦人。經被推薦人於e.Fingo會員加入流程中填入該好友邀請碼，成功加入會員，推薦人即可獲得 5 次抽獎機會，推薦人數及抽獎機會於活動期間內累積無上限。</li>
                <li>上述抽獎機會將持續累積至活動期間結束，每次抽獎均以各參加人於活動期間內持續累積至抽獎日之抽獎機會為準。</li>
              </ul>
          </div>
      </ul>
    </div>
  </div>


    <!-- inside_section_d -->
  <div class="inside_section_d">
    <div class="section_row">
      <div class="banner_img"><img src="img/banner_02.jpg" alt=""></div>
      <div class="banner_des">
        <h4>活動資格</h4>
        <ul>
          <li>本活動限居住於台澎金馬地區本國國人參
            加，贈品亦僅限寄送至台澎金馬地區。</li>
          <li>推薦人資格：
            已成為玉山 e.Fingo 會員者，且推薦人參加本活動時，即視同已詳閱並同意接受
            活動辦法及相關注意事項規定。推薦人如於活動期間失去會員資格，玉山銀行有權取消活動資格。</li>
          <li>被推薦人資格：
            尚未成為玉山 e.Fingo 會員者。</li>
        </ul>
      </div>
    </div>

    <div class="section_row">

      <div class="banner_des for_order_a">
        <h4>贈獎方式</h4>
        <ul>
          <li>每月得獎名單將於次月 21 日抽獎日於 e.Fingo 會員專區及玉山銀行官方網站公告，若抽獎日遇例假日、國定假日時，則將順延至次一營業日進行。得獎者需於每月得獎名單公告後一個月內回覆得獎公告之問卷，逾期未回覆或個人資料有誤者視同放棄得獎資格，不再另行通知。</li>
          <li>本行將於 2021 年 6 月 21 日起陸續將抽獎贈品 iPhone 12 Pro 128G 以掛號寄出至「得獎者問卷」 所回填地址，詳細贈獎方式請參閱得獎公告。倘因提供之資料有誤或可歸責於得獎者事由，有獎項無法送達之情事，恕不另行補發，資格亦不遞補。</li>
        
        </ul>
      </div>
      <div class="banner_img for_order_b"><img src="img/banner_03.jpg" alt=""></div>
    </div>


    <div class="for_height_50"></div>
    <div class="btn_row">
      <a href="#" class="go_btn">馬上加入</a>
    </div>
    <div class="for_height_50"></div>
  </div>


  <!-- inside_notice -->
  <div class="inside_notice">
    <h6>注意事項</h6>
    <p>一、活動名稱：熊朋友邀請賽 <br>
      二、本活動期間：2021 年 1  月 1 日至 2021 年 3 月 31 日止。<br>
      三、活動內容：<br>
          1. 於活動期間內，首次加入 e.Fingo 會員或成為推薦人，即可累積對應抽獎機會。<br>
          2. 玉山銀行 ( 下稱本行 ) 將於每月以隨機方式抽出得獎者各可獲得 iPhone 12 Pro 128G 乙台 ( 3 名 )、e.Fingo 點數 200 點   
              (  150 名 )、全家購物金 200 元（ 80 名 ）。同一得獎者每月至多中獎一次，活動期間內至多中獎三次。<br>
          3. 抽獎機會獲得方式如下：<br>
            ‧ 活動期間內，首次成功加入 e.Fingo 會員，即可獲得1次抽獎機會。<br>
            ‧ 活動期間內，推薦人進入玉山行動銀行 e.Fingo 專區查詢「好友邀請碼」，並提供該邀請碼予被推薦人。經被推薦人於
                  e.Fingo 會員加入流程中填入該好友邀請碼，並成功加入 e.Fingo 會員，推薦人即可獲得 5 次抽獎機會，推薦人數及
                  抽獎機會於活動期間內累積無上限。<br>
            ‧ 上述抽獎機會將持續累積至活動期間結束，每次抽獎均以各參加人於活動期間內持續累積至抽獎日之抽獎機會為準。<br>
      </p>

      <div class="see_more">
        <p>展開更多</p>  
        <i class="fas fa-chevron-circle-down"></i>
      </div>

  </div>



  <!-- 別人也在看 -->
  <div class="activity_list">
    <h6 style="text-align: center;">別人也在看</h6> 
    <div class="for_height_50"></div>
		<div class="item_row"> 
			<!-- activity_item -->
			<a href="activity_news_inside_page.html" class="activity_item">
				<img src="img/item-01.jpg" alt="">
				<h6>熊朋友邀請賽</h6>
        
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">e.Fingo 會員限定</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>

			<!-- activity_item -->
			<a href="#" class="activity_item">
				<img src="img/item-02.jpg" alt="">
				<h6>熊朋友邀請賽</h6>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">理財</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>
			<!-- activity_item -->
			<a href="#" class="activity_item">
				<img src="img/item-03.jpg" alt="">
				<h6>熊朋友邀請賽</h6>
				<p>推薦好友填入你的「好友邀請碼」，當好友成功加入會員，你就可以再獲得 5 次抽獎機會...</p>
				<div class="item_bottom">
					<div class="filter_tag">得獎公告</div>
					<div class="time_tag">2O21.O5.26</div>
				</div>
			</a>
    </div>









<div class="for_height"></div>
</div>

	



{# notice #}
<div class="notice_section_top">
  <img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
  <div class="notice_loan_content">
      <div class="d-text">
          <p>  <b>數位貸款（如有說到利率）</b></p>   
          <p>貸款總費用年百分率說明： 貸款總費用年百分率約2.61%~11.25%。最高可貸款金額：新臺幣30萬元。貸款期間：7年。貸款年利率：2.38%~11%。各項相關費用總金額1,688元（含申請時收取信用查詢費300元）。本廣告揭露之年百分率係按主管機關備查之標準計算範例予以計算，實際貸款條件，仍以銀行提供之產品為準，且每一顧客實際之年百分率仍以其個別貸款產品及授信條件而有所不同。總費用年百分率不等於貸款利率。本總費用年百分率之計算基準日係依據活動專案適用起日之本行定儲利率指數調整日期訂定之，請詳閱本行官網定儲利率指數說明。</p>
          <br>
          <p><a href=""><b> 共同基金投資警語</b></a></p>
          <p>各基金經金管會核准或同意生效，惟不表示絕無風險，本行及基金經理公司以往之經理績效不保證基金之最低投資收益；本行及基金經理公司除盡善良管理人之注意義務外，不負責各基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。投資基金所應承擔之相關風險及應負擔之費用(含分銷費用等)已揭露於基金公開說明書或投資人須知中，投資人可至<a href="">公開資訊觀測站</a>或<a href="">境外基金資訊觀測站</a>查閱。基金並非存款，基金投資非屬存款保險承保範圍投資人需自負盈虧。基金投資具投資風險，此一風險可能使本金發生虧損，其中可能之最大損失為全部信託本金。投資人應依其自行判斷進行投資。</p>
          <p style="margin-left: 20px;">•「基金ｅ指選」所提供之資訊僅供參考用途。本行當盡力提供正確之資訊，所載資料均來自或本諸我們相信可靠之來源，但對其完整性、即時性和正確性不做任何擔保，如有錯漏或疏忽，本行並不負任何法律責任。任何人因信賴此等資料而做出或改變投資決策，應審慎衡量本身之需求及投資風險，並就投資結果自行負責。未經本行許可，相關資料及訊息不得逕行抄錄、翻印或另作派發。</p>
          <p style="margin-left: 20px;">•「基金ｅ指選」非屬機器人理財及投資顧問服務，而屬於輔助性功能，投資人保有自主調整及最終決定之權利，故不適用「中華民國證券投資信託暨顧問商業同業公會證券投資顧問事業以自動化工具提供證券投資顧問服務(Robo-Advisor)作業要點」。顧客每次使用本服務需透過「玉山銀行基金e指選自主投資聲明書」進行意思表示確有投資理財需求，主動請求本行提供相關理財資訊。</p>
          <br>
          <p><b>謹慎理財 信用無價</b></p>
          <p>信用卡循環利率：5.88%-15%(依本行電腦評等而訂，基準日：2015/9/1)預借現金手續費(依預借現金約定結付幣別區分)：預借現金金額x3.5%+(新臺幣100元/3.5美元/350日圓/2.5歐元) 。其他相關費率依本行網站及申請書公告</p>

      </div>
  </div>

<div class="for_height"></div>
</div>

{% endblock %}