{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<div class="digital_service_wrapper ">
	<div class="creditcard_pay_top-bg">
		<div class="digital_service_top_section ">
			<div class="t_description">
				<h2>信用卡／支付</h2>
				<h4>你隨身的消費管家
					e.Fingo 數位品牌提供多種信用卡數位金融服務
					從 e 指辦卡、帳單 e 化、帳戶自扣繳卡費到玉山 Wallet
					提供一站式信用卡服務，簡單生活就從 e.Fingo 開始！</h4>
			</div>
			<div class="svg_img"><img src="img/digital_service_02.png" alt=""></div>
			
		</div>
	</div>

		<div class="three_card_section_wrap">
			<div class="three_card_section">
				<h6>e 指辦卡</h6>
				<div class="three_card_row">
					<div class="card_item">
						<img src="img/creditcard_01.png" alt="">
						<p>玉山 U bear 信用卡</p>
						<div class="btn_row">
							<a href="#" class="go_btn">立即申請</a>
							<a href="#" class="go_btn">立即申請</a>
						</div>
					</div>
					<div class="card_item">
						<img src="img/creditcard_02.png" alt="">
						<p>玉山 Pi 拍錢包信用卡</p>
						<div class="btn_row">
							<a href="#" class="go_btn">立即申請</a>
							<a href="#" class="go_btn">立即申請</a>
						</div>
					</div>
					<div class="card_item">
						<img src="img/creditcard_03.png" alt="">
						<p>玉山 Only 卡</p>
						<div class="btn_row">
							<a href="#" class="go_btn">立即申請</a>
							<a href="#" class="go_btn">立即申請</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- wave_border -->
		<div class="wave_border-m">
			<img src="img/mobile_01b.svg" alt="">
		</div> 
		<div class="wave_border">
			<img src="img/digital_wave_02b.svg" alt="">
		</div>

		
		<div class="three_icon_section">
			<h6>數位服務</h6>
			<div class="three_icon_row">
				<div class="card_item">
					<img src="img/digital_icon-c1.svg" alt="">
					<p>帳單 e 化</p>
					<div class="btn_row">
						<a href="" class="go_btn">了解更多</a>
					</div>
				</div>
				<div class="card_item">
					<img src="img/digital_icon-c2.svg" alt="">
					<p>帳戶自動扣繳卡費</p>
					<div class="btn_row">
						<a href="" class="go_btn">了解更多</a>
					</div>
				</div>
				<div class="card_item">
					<img src="img/digital_icon-c3.svg" alt="">
					<p>信用卡代扣繳費用</p>
					<div class="btn_row">
						<a href="" class="go_btn">了解更多</a>
					</div>
				</div>
			</div>
			<div class="exchange_row">
				<a href="#">更多卡友數位服務  請參考 <img src="img/arrow-r.svg" alt=""></a>
			</div>
		</div>


	<!-- wave_border -->
		<div class="wave_border">
			<img src="img/digital_wave_04b.svg" alt="">
		</div>

		<div class="" style="background-color: #F49690;">
		<div class="four_card_section">
			<h6>玉山 Wallet</h6>
			<div class="icon_row">
				<div class="icon_item">
					<img src="img/digital_icon-d1.svg" alt="">
					<p>即時綁卡 享優惠</p>
				</div>
				<div class="icon_item">
					<img src="img/digital_icon-d2.svg" alt="">
					<p>帳務資訊 即查即繳</p>
				</div>
				<div class="icon_item">
					<img src="img/digital_icon-d3.svg" alt="">
					<p>紅利兌換 無需等待</p>
				</div>
				<div class="icon_item">
					<img src="img/digital_icon-d4.svg" alt="">
					<p>即時消費通知 更安心</p>
				</div>
			
			</div>
			<div class="btn_row">
				<a href="" class="go_btn">了解更多</a>
				<a href="" class="go_btn">立即下載</a>
			</div>
			<div class="exchange_row">
				<a href="#">卡友必備APP：卡片管理、刷卡明細、條碼支付，一手搞定更多介紹請參考 <img src="img/arrow-r.svg" alt=""></a>
			</div
		</div>
	</div>





<div class="for_height"></div>
</div>
</div>



{# notice #}
<div class="notice_section_top">
		<img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
	<div class="notice_loan_content">
		<div class="d-text">
			<p>  <b>謹慎理財 信用無價	</b></p>   
			<p>信用卡循環利率：5.88%-15% (依本行電腦評等而訂，基準日：2015 / 9 / 1 ) 預借現金手續費(依預借現金約定結付幣別區分)：預借現金金額 x 3.5% + ( 新臺幣 100 元 / 3.5 美元 / 350 日圓 / 2.5 歐元) 。其他相關費率依本行網站及申請書公告
			</p>
			

		</div>
	</div>
	<div class="for_height"></div>
</div>

{% endblock %}