{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<div class="digital_service_wrapper ">
{# section top #}
<div class="accounting_top-bg">
	<div class="digital_service_top_section ">
		<div class="t_description">
			<h2>數位帳戶</h2>
			<h4 >e 指開戶就這麼簡單
				輕鬆完成線上開戶，享最便利的金融服務</h4>
				<div class="btn_row">
					<a href="#" class="go_btn">立即申請</a>
				</div>

		</div>
		<div class="svg_img"><img src="img/digital_service_01.svg" alt=""></div>
		
	</div>
</div>
	
<!-- two_card_section -->
<div class="two_card_section_wrapper">
	<div class="two_card_section">
			<div class="two_card_row">
				<div class="card_item">
						<img src="img/digital_img_02.svg" alt="">
						<div class="des_w">
							<h6>線上開戶免出門 獨享優惠輕鬆拿</h6>
							<p>即日起至 - 2021/06/30 <br>
								．轉帳優惠（ 3 次跨行提款、3 次跨行轉帳 ）<br>
								．自動扣繳信用卡費，最高贈刷卡金 200 元<br>
								．美元 4 分 / 日圓 0.15 分 / 人民幣 2 分 <br>
										匯率優惠序號乙組</p>
						<div class="btn_row">
							<a href="" class="go_btn">立即申請</a>
						</div>
					</div>

				</div>
				<div class="card_item">
						<img src="img/digital_img_01.svg" alt="">
						<div class="des_w">
							<h6>帳戶在手，優惠享更多</h6>
							<p>即日起至 - 2021/06/30 <br>
								．玉山 Pi 拍兔簽帳金融卡最高 5% P 幣回饋<br>
								．同時申辦 U bear 信用卡最高享 12% 現金回饋<br>
								．帳戶卡片同時申請，加入 e.Fingo 會員享 200 點</p>
						<div class="btn_row">
							<a href="" class="go_btn">立即申請</a>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<!-- wave_border -->
<div class="wave_border-m">
	<img src="img/mobile_01a.svg" alt="">
</div> 
<div class="wave_border">
		<img src="img/digital_wave_02.svg" alt="">
</div>


<div class="four_card_section">
	<h6>擁有玉山數位帳戶，暖心便利的金融服務通通享有！</h6>
	<p>網路銀行、行動銀行 App 多元便捷服務完整享有</p>
	<div class="icon_row">
		<div class="icon_item">
			<img src="img/digital_icon-a1.svg" alt="">
			<p>帳戶用處多元 不受限</p>
		</div>
		<div class="icon_item">
			<img src="img/digital_icon-a2.svg" alt="">
			<p>沒有紙本存摺 <br>
				線上也能下載</p>
		</div>
		<div class="icon_item">
			<img src="img/digital_icon-a3.svg" alt="">
			<p>多種驗證方式 任你選</p>
		</div>
		<div class="icon_item">
			<img src="img/digital_icon-a4.svg" alt="">
			<p>各式生活優惠禮包</p>
		</div>
	
	</div>
	<div class="btn_row">
		<a href="" class="go_btn">了解更多</a>
	</div>
</div>



<div class="wave_border">
	<img src="img/digital_wave_04.svg" alt="">
</div>
<div style="background: #FFF4CC;">
	<div class="four_card_section">
		<h6>申請流程</h6>
		<p>線上開戶超便利！準備好身分證、第二證件，多種任證方式自由選		</p>
		<div class="icon_row">
			<div class="icon_item">
				<img src="img/digital_icon-b1.svg" alt="">
				<p>自然人憑證</p>
			</div>
			<div class="icon_item">
				<img src="img/digital_icon-b2.svg" alt="">
				<p>玉山帳戶</p>
			</div>
			<div class="icon_item">
				<img src="img/digital_icon-b3.svg" alt="">
				<p>他行帳戶</p>
			</div>
			<div class="icon_item">
				<img src="img/digital_icon-b4.svg" alt="">
				<p>玉山信用卡</p>
			</div>
		
		</div>
		<div class="btn_row">
			<a href="" class="go_btn">立即線上開戶</a>
		</div>
	</div>
</div>
<div class="wave_border">
	<img src="img/digital_wave_05.svg" alt="">
</div>



<div class="slider_section">
	<h6>e.Fingo X 數位帳戶</h6>
	<p>最新任務</p>

	<div class="slider_content">
			<img src="img/kv.png" alt="">
	</div>

	<p>新申辦數位帳戶贈 200 點 e.Fingo 點數</p>
	<div class="btn_row">
		<a href="" class="go_btn">申請數位帳戶</a>
	</div>
	<div class="exchange_row">
		<a href="#">更多數位帳戶介紹  點我看 <img src="img/arrow-r.svg" alt=""></a>
</div>
</div>


<div class="for_height"></div>
</div>









{# notice #}
<div class="notice_section_top">
		<img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
	<div class="notice_loan_content">
		<div class="d-text">
			<p>  <b>謹慎理財 信用無價	</b></p>   
			<p>信用卡循環利率：5.88%-15% (依本行電腦評等而訂，基準日：2015 / 9 / 1 ) 預借現金手續費(依預借現金約定結付幣別區分)：預借現金金額 x 3.5% + ( 新臺幣 100 元 / 3.5 美元 / 350 日圓 / 2.5 歐元) 。其他相關費率依本行網站及申請書公告
			</p>
			

		</div>
	</div>
	<div class="for_height"></div>
</div>

{% endblock %}