{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}






<div class="digital_service_wrapper ">
	<!-- svg animation -->
	<div class="svg_curve_line_digital_a d_position_1">
		<svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
			<path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
		</svg>
	</div>

	<div class="svg_curve_line_digital_b d_position_2">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
			<path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
		</svg>
	</div>

	<div class="svg_curve_line_digital_c d_position_4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

	<div class="svg_curve_line_digital_d d_position_5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1592.463 1389.514" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,820.272s164.811,163.654,323.709,56.413-7.572-321.755,155.424-464.317,334.839-12.1,582.387-145.568S-53.265-248.708-45.258-247.834" transform="matrix(0.985, 0.174, -0.174, 0.985, 1593.858, 497.626)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

	


	{# section top #}
	<div class="loan_top-bg">
		<div class="digital_service_top_section ">
			<div class="t_description">
				<h1>數位貸款</h1>
				<h4 >夢想，我貸你實現
					e.Fingo 數位品牌提供多種數位貸款金融服務
					透過玉山打造的一站式數位貸款服務
					貸你安心便利，簡單生活就從 e.Fingo 開始！</h4>
					{# <div class="btn_row">
						<a href="#" class="go_btn">立即申請</a>
					</div> #}

			</div>
			<div class="m_img">
				<img src="img/digital_service_03m.png" alt="">
			</div>
			<div class="svg_img">
				<div class="e_img_00"><img src="img/digital_service_03.png" alt=""></div>		
				<div class="e_img_c1"><img src="img/robat_c1.png" alt=""></div>
			</div>
			
		</div>
	</div>
	

<div class="three_card_section_wrap_green">
	<div class="three_card_section">
		<h2>線上申請免出門，快速為你備妥資金<br>
			多樣貸款，適合不同的你</h2>
		<div class="three_card_row">
			<div class="card_item_green">
				<img src="img/digital_img_01b.svg" alt="">
				<div class="des">
					<h3>e 指信貸</h3>
					<p>最高可貸 300 萬 <br>
						最快 3 分鐘完成申請<br>
						線上對保完成最快 2 小時撥款</p>
					<div class="btn_row">
						<a href="www.esunbank.com.tw/event/loan/DG" class="go_btn">了解更多</a>
					</div>
				</div>
			</div>
			<div class="card_item_green">
				<img src="img/digital_img_02b.svg" alt="">
				<div class="des">
					<h3>e 指房貸</h3>
					<p>最快 3 分鐘得知可貸金額及利率<br>
						線上即可輕鬆償還房貸本金<br>
						玉山信用卡紅利折抵利息</p>
					<div class="btn_row">
						<a href="https://www.esunbank.com.tw/event/loan/house/loan/index.html" class="go_btn">了解更多</a>
					</div>
				</div>
			</div>
			<div class="card_item_green">
				<img src="img/digital_img_03b.svg" alt="">
				<div class="des">
					<h3>二順位貸款</h3>
					<p>原房貸免轉貸，輕鬆增加貸款金額</p>
						最快一週撥款</p>
						最長可貸 15 年，資金周轉靈活</p>
					<div class="btn_row">
						<a href="https://www.esunbank.com.tw/event/loan/house/secondary/page.html" class="go_btn">了解更多</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- wave_border -->
	<div class="wave_border-m">
		<img src="img/mobile_01c.svg" alt="">
	</div> 
	<div class="wave_border">
		<img src="img/digital_wave_02c.svg" alt="">
	</div> 



<div class="digital_two_mobile">
	<div class="two_mobile_row">
		<div class="mobile_item for_order_a">
			<div class="bg_circle circle_01"><img src="img/green_circle.svg" alt=""></div>
			<div class="p-img m_mobile_01"><img src="img/digital_mobile_a01.png" alt=""></div>
		</div>
		<div class="des_text text-show_01 for_order_b">
			<h2>月付金試算</h2>
			<p>讓你線上快速算出每月應付貸款，財務規劃
				好輕鬆。還可以免費下載與列印你的專屬月付金
				試算表喔！</p>

			<div class="btn_row">
					<a href="#" class="go_btn js-open-notice-01">立即試算</a>
			</div>

		</div>
	</div>
</div>


<div class="digital_two_mobile">
	<div class="two_mobile_row">
		<div class="des_text text-show_02">
			<h2>貸款 e 管家</h2>
			<p>貸款資訊讓你 e 手掌握，你隨身的貸款管家，
				設定推播提醒繳款，貸你安心便利！</p>
			<div class="btn_row">
				<a href="#" class="go_btn">了解更多</a>
				<a href="https://esb.page.link/as2" class="go_btn">立即體驗</a>
			</div>
		</div>
			<div class="mobile_item">
				<div class="bg_circle circle_02"><img src="img/green_circle.svg" alt=""></div>
				<div class="p-img m_mobile_02"><img src="img/digital_mobile_a02.png" alt=""></div>
			</div>
		</div>
	
	</div>
	<div class="for_height"></div>
</div>




{# notice #}
<div class="notice_section_top">
		<img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
	<div class="notice_loan_content">
		<div class="d-text">
			<p>  <b>謹慎理財  信用無價	</b></p>   
			<p>貸款總費用年百分率說明： </p>
			<p>(1) 信用貸款總費用年百分率約 3.67%~14.49%。 貸款金額：30 萬元。貸款期間：5年。貸款年利率：前 3 個月 1.68%~2.98%，第 4 個月起 2.98%~14.88%，貸款費用 6,000 元。</p>
			<p>(2) 房屋貸款總費用年百分率約 1.51%~2.12% 起。 貸款金額：200 萬元。貸款期間：20年。貸款年利率：前六個月 1.31%~1.48% 起，第七個月起 1.48%~2.08% 起。各項相關費用總金額 8,000 元。</p>
			<p>	(3) 二順位貸款總費用年百分率約 2.29%~10.2% 起。 貸款金額：50 萬元，貸款期間：7年，貸款年利率：前六個月 1.68%~9.88% 起，第七個月起 2.05%~9.88% 起。各項相關費用：貸款金額的 1% 起。</p>

			<p>本廣告揭露之年百分率係按主管機關備查之標準計算範例予以計算，實際貸款條件，仍以銀行提供之產品為準，且每一顧客實際之年百分率仍以其個別貸款產品及授信條件而有所不同。</p>
			<p>總費用年百分率不等於貸款利率。</p>
			<p>本總費用年百分率之計算基準日係依據活動專案適用起日之本行定儲利率指數調整日期訂定之，請詳閱本行官網定儲利率指數說明。</p>
			<p>本行仍保有核貸與否及決定最終貸款額度、貸款利率、期間及各項貸款條件之權利。</p>
			<p>行未與任何代辦或行銷公司合作辦理貸款事宜，敬請您留意，以免損害自身權益。</p>
			<p>不得以非法且未經本行同意連結本網站做為網路行銷。</p>
			<p>實際貸款條件以本行提供之產品為準。承作不動產抵押貸款，須依「中央銀行對金融機構辦理不動產抵押貸款業務規定」相關規範辦理。</p>
	
			

		</div>
	</div>
	<div class="for_height"></div>
</div>


<!-- lightbox 1 -->
<div id="js-open-notice-01" class="notice-popup_text mfp-hide">
	<div class="notice-popup_content">
			<div class="digital-lightbox">
				<div class="robat">
					<img src="img/robat.png" alt="">
				</div>
					<h2>月付金試算</h2>
					<div class="item_row">
						
						<div class="lightbox_item">
							<p>STEP 1 </p>
							<h6>點選需要的資金額度？</h6>
							<div class="btn_row">
								<div class="chip">10 萬</div>
								<div class="chip">50 萬</div>
								<div class="chip">100 萬</div>
								<div class="chip">150 萬</div>
							</div>
						</div>
					</div>
					<div class="item_row">
						<div class="lightbox_item">
							<p>STEP 2 </p>
							<h6>選擇無壓力的還款期限？</h6>
							<div class="btn_row">
								<div class="chip">1 年</div>
								<div class="chip">3 年</div>
								<div class="chip">5 年</div>
				
							</div>
						</div>
					</div>
					<div class="summary">
						<div class="total">
							<h5>月付約 14,000 元</h5>
							<p>預設利率 2.68 %</p>
					</div>
					<div class="btn_row">
						<a href="https://www.esunbank.com.tw/s/PersonalLoanApply/Landing/IDConfirmDiversion?efingocal_web
						" class="go_btn">立即補足，資金缺口</a>
				</div>
					</div>



					
			</div>
	</div>
</div>

<script>
$(function(){
	$('.js-open-notice-01').magnificPopup({
		items: {
				src: '#js-open-notice-01',
				type: 'inline'
		},
		mainClass: 'mfp-fade',
		removalDelay: 300,
		midClick: true
	});

	$(".m_mobile_01").scrollTop

	// scroll Animation	
	$(window).scroll(function (event) {
		var scrollTop = $(window).scrollTop() ;
		if(scrollTop > $(".m_mobile_01").offset().top -500){
			$(".circle_01").addClass('go_big')
			$(".m_mobile_01").addClass('go_big')
			$(".text-show_01").addClass('show_text')
			
		}else{
			$(".circle_01").removeClass('go_big')
			$(".m_mobile_01").removeClass('go_big')
			$(".text-show_01").removeClass('show_text')
		}

		if(scrollTop > $(".m_mobile_02").offset().top -500){
			$(".circle_02").addClass('go_big')
			$(".m_mobile_02").addClass('go_big')
			$(".text-show_02").addClass('show_text')
		}else{
			$(".circle_02").removeClass('go_big')
			$(".m_mobile_02").removeClass('go_big')
			$(".text-show_02").removeClass('show_text')
		}
		
	});
	





});
</script>
{% endblock %}