{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<div class="digital_service_wrapper ">
	{# section top #}
	<div class="exchange_top-bg">
		<div class="digital_service_top_section ">
			<div class="t_description">
				<h1>數位外匯</h1>
				<h4 >外匯的一切你最會
					e.Fingo 數位品牌提供多種數位外匯金融服務，
					從智慧查看即時匯率、收到外幣到價通知、買賣外幣
					到幫你計算外幣平均成本，體驗一站式外匯服務，
					簡單生活就從 e.Fingo 開始！</h4>
			</div>
			<div class="svg_img"><img src="img/digital_service_05.png" alt=""></div>
			
		</div>
	</div>
	
	<div class="three_card_section_wrap_blue">
		<div class="three_card_section">
			<h2>線上換匯最優惠</h2>
			<div class="three_card_row">
				<div class="card_item_green">
					<img src="img/digital_img_01c.svg" alt="">
					<div class="des">
						<h3>匯率優惠</h3>
						
						<div class="btn_row">
							<a href="https://www.esunbank.com.tw/event/forex/marketing/promotion/index.html?ven=efingo#anchor_1" class="go_btn">我要買外幣</a>
						</div>
					</div>
				</div>
				<div class="card_item_green">
					<img src="img/digital_img_02c.svg" alt="">
					<div class="des">
						<h3>利率優惠</h3>
					
						<div class="btn_row">
							<a href="https://www.esunbank.com.tw/bank/personal/deposit/deopsit-event/interest-rate?ven=efingo" class="go_btn">我要轉定存</a>
						</div>
					</div>
				</div>
				<div class="card_item_green">
					<img src="img/digital_img_03c.svg" alt="">
					<div class="des">
						<h3>玉山特匯日</h3>
					
						<div class="btn_row">
							<a href="https://www.esunbank.com.tw/event/b2c/foreign/index.html?ven=efingo" class="go_btn">我要看優惠</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	
	<!-- wave_border -->
	<div class="wave_border-m">
		<img src="img/mobile_01e.svg" alt="">
	</div> 

	<div class="wave_border">
		<img src="img/digital_wave_02e.svg" alt="">
	</div> 



	<div class="four_card_section">
		<h2>你的換匯小幫手</h2>
		<div class="icon_row">
			<div class="icon_item img_w">
				<img src="img/digital_icon-f1.svg" alt="">
				<h3>匯率高低點通知</h3>
				<div class="btn_row">
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-1" class="go_btn">立即設定</a>
				</div>
			</div>
			<div class="icon_item img_w">
				<img src="img/digital_icon-f2.svg" alt="">
				<h3>外幣到價通知</h3>
					<div class="btn_row">
						<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-2" class="go_btn">立即設定</a>
					</div>
			</div>
			<div class="icon_item img_w">
				<img src="img/digital_icon-f3.svg" alt="">
				<h3>外幣平均成本</h3>
				<div class="btn_row">
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-3" class="go_btn">立即設定</a>
				</div>
			</div>
			<div class="icon_item img_w">
				<img src="img/digital_icon-f4.svg" alt="">
				<h3>SIRI麻ㄟ通</h3>
				<div class="btn_row">
					<a href="https://www.esunbank.com.tw/event/m/app.html?ven=efingo" class="go_btn">立即設定</a>
				</div>
			</div>

		</div>
	</div>

	<div class="single_img">
		<h2>小額沒問題，大額也可以</h2>
		<img src="img/digital_service_06.svg" alt="">

		<p> IXML 憑證</p>
		<div class="btn_row">
			<a href="https://www.esunbank.com.tw/bank/personal/deposit/foreign-service/collateralize?ven=efingo" class="go_btn">立即申請</a>
		</div>


	</div>






	<!-- wave_border -->
	<div class="wave_border">
		<img src="img/digital_wave_04e.svg" alt="">
	</div> 


	<div class="" style="background-color: #9FD2EA; margin: -5px">
		<div class="four_card_section">
			<h2>更多外幣服務</h2>
			<div class="icon_row mb-70">
				<div class="icon_item">
					<img src="img/digital_icon-g1.svg" alt="">
					<h3>外幣匯款</h3>
					<div class="btn_row">
						<a href="https://www.esunbank.com.tw/event/forex/marketing/transfer/index.html?ven=efingo" class="go_btn">了解更多</a>
					</div>
				</div>
				<div class="icon_item">
					<img src="img/digital_icon-g2.svg" alt="">
					<h3>理財電子周報</h3>
					<div class="btn_row">
						<a href="https://www.esunbank.com.tw/bank/personal/credit-card/intro/bank-card/dualcurrency-card?ven=efingo" class="go_btn">了解更多</a>
					</div>
				</div>
				<div class="icon_item">
					<img src="img/digital_icon-g3.svg" alt="">
					<h3>外幣ATM</h3>
					<div class="btn_row">
						<a href="https://www.esunbank.com.tw/event/forex/marketing/fxatm/index.html?ven=efingo" class="go_btn">了解更多</a>
					</div>
				</div>
				<div class="icon_item">
					<img src="img/digital_icon-g4.svg" alt="">
					<h3>外匯知識+</h3>
					<div class="btn_row">
						<a href="https://www.esunbank.com.tw/event/forex/knowledge/indicator/index.html?ven=efingo" class="go_btn">了解更多</a>
					</div>
				</div>
			
			</div>
	
		</div>
	</div>
	<!-- wave_border -->
	<div class="wave_border-m">
		<img src="img/mobile_02e.svg" alt="">
	</div> 
	<div class="wave_border">
		<img src="img/digital_wave_05e.svg" alt="">
	</div> 


	<div class="slider_section">
		<div class="robat"><img src="img/robat_b5.png" alt=""></div>
		<h2>e.Fingo X 數位帳戶</h2>
		<p>最新任務</p>
	
		<div class="slider_content">
				<img src="img/kv.png" alt="">
		</div>
	
		<p>e.Fingo 會員於個人網路銀行 / 行動銀行 App 完成線上換匯 ( 買 ) ，  <br>
			單筆交易每達等值
			新臺幣 20,000 元回饋 1 點</p>
		<div class="btn_row">
			<a href="https://j3x8a.app.goo.gl/Buy-Foreign-Currency
			" class="go_btn">立即換匯</a>
		</div>

	</div>
	


<div class="for_height"></div>	
</div>





{# notice #}
<div class="notice_section_top">
		<img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
	<div class="notice_loan_content">
			<div class="d-text">
					<p>  <b>數位外匯</b></p>   
					<p>辦理買賣外幣時，部分交易須以符合電子簽章效力方式確認申報書內容，提醒您提早準備相關憑證。行動銀行 APP / 個人網路銀行(手機瀏覽器版)可使用「玉山銀行 IXML 憑證」，目前僅開放個人顧客使用(申請路徑：登入玉山行動銀行 APP - 側邊選單>設定>憑證管理)。電腦版個人網路銀行可使用玉山銀行 IXML 憑證 ( 申請路徑：登入個人網路銀行 > 個人設定與服務 > 掛失與功能設定 > 憑證管理 ) 或其他憑證(如自然人憑證、工商憑證、金融憑證：如玉山證券憑證)，詳細說明與憑證申請方式請參閱電子簽章說明。</p>
					<p>個人網路銀行/行動銀行外匯交易時間：</p>
						<p>一、外匯服務交易時間為營業日 09:00 至 17:00。</p>
						<p>二、當日買/賣外幣交易(含臨櫃及自動化通路交易)累計達等值新台幣50萬元(含)以上者，交易時間為營業日 09:00-15:30。</p>
						<p>三、夜間交易時間為營業日 17:00 至 23:00，提供「買/賣外幣」、「轉定存」、「幣別轉換」及「行內轉帳」服務。外幣兌換交易之匯率優惠僅包含「買/賣外幣」、「幣別轉換」、「以臺幣結購申請行內轉帳」、「以臺幣結購申請匯出匯款」及「以臺幣結購轉外幣定存」。</p>
						<p>承作外幣存款須承擔日後兌換為新臺幣或其他外幣時可能產生之匯兌風險，於承作專案時應審慎評估。活動優惠內容以本行最新公告為準，本行保留隨時修改、變更或終止本活動之權利。</p>
					<br>


					<p><b>謹慎理財 信用無價</b></p>
					<p>信用卡循環利率：5.88%-15%(依本行電腦評等而訂，基準日：2015/9/1)預借現金手續費(依預借現金約定結付幣別區分)：預借現金金額x3.5%+(新臺幣100元/3.5美元/350日圓/2.5歐元) 。其他相關費率依本行網站及申請書公告</p>

			</div>
	</div>
	<div class="for_height"></div>
</div>
{% endblock %}