{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}
<!-- svg animation -->
<div class="svg_curve_line_digital_a d_position_1">
    <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
    </svg>
</div>

<div class="svg_curve_line_digital_b d_position_2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>





<div class="main_image_wrapper" id="skrollr-body" >
    
    <!-- mobile   -->
    <div class="main_slider_m">
		<section class="main slider">
            <!-- 1 -->
			<div class="new_photo">
                <div class="main_des_a">
                    <h1>
                        <img src="img/efingo_logo.svg" alt="">
                        數位金融 
                    </h1>
                    <span>Keep Going, <br> Keep Smiling </span>
                </div>
				<img src="img/main_01m.jpg"> 
			</div>


            <!-- 2 -->
            <div class="new_photo">
                <div class="main_banner_b">
                    <div class="banner_img"><img src="img/kv.png" alt=""></div>

                    <div class="main_des_b">
                        <h2>玉山邀你一起 <br>
                            遇見五月天 </h2>
                        <p>五月天-好好好想見到你
                            MAYSAY  Fly to 2021</p>
                        <div class="btn_row">
                            <a href="" class="go_btn">了解更多</a>
                        </div>
                    </div>
                </div>   
				<img src="img/main_02m.svg"> 
			</div>

		</section>
	</div>

    <!-- desktop   -->
	<div class="main_slider">
		<section class="main slider">
            <!-- 1 -->
			<div class="new_photo">
                <div class="img_a mountain" data-0="transform: scale(1)" data-800="transform: scale(1.4)">
                    <img src="img/index_mountain.svg" alt="">
                </div>
                <div class="img_b"><img src="img/index_wave.svg" alt=""></div>
                <div class="img_c" data-start="right: 20%" data-500-start="right: 35%"><img src="img/running.svg" alt=""></div>
                <div class="img_d"><img src="img/index_robat.png" alt=""></div>
                <div class="paper_01"><img src="img/paper_01.svg" alt=""></div>
                <div class="paper_02"><img src="img/paper_02.svg" alt=""></div>
                <div class="paper_03"><img src="img/paper_03.svg" alt=""></div>
                <div class="paper_04"><img src="img/paper_04.svg" alt=""></div>
                <div class="paper_05"><img src="img/paper_05.svg" alt=""></div>

                <div class="main_des_a">

                    <h1>
                        <img src="img/efingo_logo.svg" alt="">
                        數位金融 
                    </h1>
                    <span>Keep Going, <br> Keep Smiling </span>
                </div>
                <div class="img_c"></div>
			</div>

            <!-- 2 -->
            <div class="new_photo">
                <div class="paper_01"><img src="img/paper_01.svg" alt=""></div>
                <div class="paper_02"><img src="img/paper_02.svg" alt=""></div>
                <div class="paper_03"><img src="img/paper_03.svg" alt=""></div>
                <div class="paper_04"><img src="img/paper_04.svg" alt=""></div>
                <div class="paper_05"><img src="img/paper_05.svg" alt=""></div>
                <div class="main_banner_b">
                    <div class="main_des_b">
                        <h2>玉山邀你一起 <br>
                            遇見五月天 </h2>
                        <p>五月天-好好好想見到你
                            MAYSAY  Fly to 2021</p>
                        <div class="btn_row">
                            <a href="" class="go_btn">了解更多</a>
                        </div>
                    </div>
                    <div class="banner_img"><img src="img/kv.png" alt=""></div>
                </div>   
				<img src="img/main_02.png"> 
			</div>

		</section>
	</div>
</div>



<div class="for_parallex">


{# video section #}
<div class="video_section">
    <div class="video_content">

        <div class="img-des"><img src="img/mobile_bg.jpg" alt=""></div>
        <div class="img-m"><img src="img/mobile_bg-m.jpg" alt=""></div>
        

        <div class="video_wave_top">
            <img src="img/video_green_top.svg" alt="">
        </div>
        <div class="video_wave_bottom">
            <img src="img/video_green_bottom.svg" alt="">
        </div>
        <div class="play_btn js-open-video-index hover-finger">
            <img src="img/play_btn.svg" alt="">
        </div>

    </div>
</div>



{# what_is_efingo #}
<div class="what_is_efingo">
    <!-- svg animation -->
    <div class="svg_curve_line_a">
        <svg xmlns="http://www.w3.org/2000/svg" width="700" height="369.821" viewBox="0 0 732.626 369.821" class="go">
            <path id="Path_1629" data-name="Path 1629" d="M-784.157,1923.533s88.069,177.688,288.748,183.207,379.459,12.081,442.96,186.22" transform="translate(784.605 -1923.311)" fill="none" stroke="#f4eac8" stroke-width="1"/>
        </svg>
    </div>
    
    
    <div class="what_is_efingo_content">
    <div class="what_is_efingo_des">
        <h2>e.Fingo是什麼？</h2>
        <p>e.Fingo 是玉山銀行的數位品牌，串聯玉山所有數位服務，打造數位金融生態圈<br>
        成為 e.Fingo 會員，享受會員專屬權益及不定期活動
        </p>
    </div>
    <div class="for_scroll">
        <div class="what_is_efingo_card_row">
            <div class="what_is_efingo_card" style="background: #FFDB6F;">
                <div class="w-b-a"><img src="img/w-b-a_01.svg" alt=""></div>
                <div class="what_is_efingo_img"><img src="img/whatis_01.png" alt=""></div>
                <div class="what_is_efingo_text">
                    <h3>數位帳戶</h3>
                    <p>線上開戶免出門，獨享好康優惠。申辦數位帳戶加入 e.Fingo ，獲得 200 點 e.Fingo 點數</p>
                    <a href="digital_account.html">了解更多</a>
                </div>
            </div>
            <div class="what_is_efingo_card" style="background: #FFBCC0;">
                <div class="w-b-a"><img src="img/w-b-a_02.svg" alt=""></div> 
                <div class="what_is_efingo_img"><img src="img/whatis_02.png" alt=""></div>
                <div class="what_is_efingo_text">
                    <h3>信用卡/支付</h3>
                    <p>3 步驟線上申辦信用卡好輕鬆，一站查詢線上補件、辦卡進度、額度調整等服務，超方便！ </p>
                    <a href="digital_creditcard_pay.html">了解更多</a>
                </div>
            </div>
            <div class="what_is_efingo_card" style="background: #9DFFBD;">
                <div class="w-b-a"><img src="img/w-b-a_03.svg" alt=""></div> 
                <div class="what_is_efingo_img"><img src="img/whatis_03.png" alt=""></div>
                <div class="what_is_efingo_text">
                    <h3>數位貸款</h3>
                    <p>全程線上申辦，手機就可輕鬆貸多種貸款，適合不同的你</p> 
                    <a href="digital_loan.html">了解更多</a>
                </div>
            </div>
            <div class="what_is_efingo_card" style="background: #FFC479;">
                <div class="w-b-a"><img src="img/w-b-a_04.svg" alt=""></div>
                <div class="what_is_efingo_img"><img src="img/whatis_04.png" alt=""></div>
                <div class="what_is_efingo_text">
                    <h3>數位理財</h3>
                    <p>大數據找出適合你的基金，優雅又輕鬆，線上申購設定停損停利通知，隨時掌握投資報酬率</p>
                    <a href="digital_finance.html">了解更多</a>
                </div>
            </div>
            <div class="what_is_efingo_card" style="background: #AFE0FF;">
                <div class="w-b-a"><img src="img/w-b-a_05.svg" alt=""></div> 
                <div class="what_is_efingo_img"><img src="img/whatis_05.png" alt=""></div>
                <div class="what_is_efingo_text">
                    <h3>數位外匯</h3>
                    <p>行銀、網銀輕鬆買賣外幣，還享匯率優惠，不定期舉辦特匯日 e.Fingo 會員專屬場</p>
                    <a href="digital_exchange.html">了解更多</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


{# efingo_member #}
<div class="efingo_member">
    <!-- svg animation -->
    <div class="svg_curve_line_b">
        <svg xmlns="http://www.w3.org/2000/svg" width="700" height="369.821" viewBox="0 0 732.626 369.821" class="go">
            <path id="Path_1629" data-name="Path 1629" d="M-784.157,1923.533s88.069,177.688,288.748,183.207,379.459,12.081,442.96,186.22" transform="translate(784.605 -1923.311)" fill="none" stroke="#FFF" stroke-width="1"/>
        </svg>
    </div>

    <div class="efingo_member_content">
        <div class="efingo_member_des">
            <h2>e.Fingo會員專屬</h2>
            <p>點數累積兌好康、組隊揪團超麻吉，還有更多會員專屬優惠與活動</p>
        </div>
        {# <div class="green_hill"><img src="img/green_hill.svg" alt=""></div> #}
        <div class="efingo_member_card_row">
            <div class="efingo_member_card_item">
                <div class="w-b-w"><img src="img/w-b-w-01.svg" alt=""></div>
                <div class="member_img"><img src="img/member_01.svg" alt=""></div>
                <div class="member_text">
                    <h3>點數</h3>
                    <p>10 項以上數位交易輕鬆累積點數，可兌換包括百貨票券、星巴克、餐飲券等超過 130 項商品。</p>
                    <a href="understand_feature.html#f-point">了解更多</a>
                </div>
            </div>

            <div class="efingo_member_card_item">
                <div class="w-b-w"><img src="img/w-b-w-02.svg" alt=""></div>
                <div class="member_img"><img src="img/member_03.svg" alt=""></div>
                <div class="member_text">
                    <h3>組隊</h3>
                    <p>和你的朋友一起組成隊伍，完成指定任務累積積分，即可獲得抽獎機會。</p>
                    <a href="understand_feature.html#f-team">了解更多</a>
                </div>
            </div>

            <div class="efingo_member_card_item">
                <div class="w-b-w"><img src="img/w-b-w-03.svg" alt=""></div>
                <div class="member_img"><img src="img/member_02.svg" alt=""></div>
                <div class="member_text">
                    <h3>徽章(專屬活動)</h3>
                    <p>e.Fingo 替會員準備了各式各樣的徽章唷，完成指定任務即可獲得相對應徽章。</p>
                    <a href="understand_feature.html#f-bag">了解更多</a>
                </div>
            </div>
        </div>
        
    </div>
</div>





{# efingo_activity #}



<div class="efingo_activity">
    <!-- svg animation -->
    <div class="svg_curve_line_c">
        <svg xmlns="http://www.w3.org/2000/svg" width="700" height="369.821" viewBox="0 0 732.626 369.821" class="go">
            <path id="Path_1629" data-name="Path 1629" d="M-784.157,1923.533s88.069,177.688,288.748,183.207,379.459,12.081,442.96,186.22" transform="translate(784.605 -1923.311)" fill="none" stroke="#FFF" stroke-width="1"/>
        </svg>
    </div>

    <div class="efingo_activity_content">
        <div class="cloud_w_left"><img src="img/cloud_w_left.svg" alt=""></div>
        <div class="cloud_w_right"><img src="img/cloud_w_right.svg" alt=""></div>
        
        <section class="main slider activity">
            <!-- 1 -->
            <div class="slide_row">
                <div class="efingo_activity_des for_order_a">
                    <h2>會員專屬活動1</h2>  
                    <h3>熊朋友邀請賽</h3>
                    <p>2021 / 04 / 01 ～ 2021 / 08 / 31 <br>
                        月月抽 iPhone 12 Pro 128G、e.Fingo 點數 200 點。現在加入 e.Fingo 會員，馬上獲得 1 次抽獎機會喔！ </p>
                    <div class="link_row">
                        <a href="#" class="seemore">了解更多</a>
                        <a href="#" class="notice js-open-notice-index">注意事項  <i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="mobile_circle_bg for_order_b">
                    <div class="mobile_phone">
                        <img src="img/member_iphone.png" alt="">
                    </div>
                </div>
            </div>

            <!-- 2 -->
            <div class="slide_row">
                <div class="efingo_activity_des for_order_a">
                    <h2>會員專屬活動 2</h2>  
                    <h3>熊朋友邀請賽</h3>
                    <p>2021 / 04 / 01 ～ 2021 / 08 / 31 <br>
                        月月抽 iPhone 12 Pro 128G、e.Fingo 點數 200 點。現在加入 e.Fingo 會員，馬上獲得 1 次抽獎機會喔！ </p>
                    <div class="link_row">
                        <a href="#" class="seemore">了解更多</a>
                        <a href="#" class="notice js-open-notice-index">注意事項  <i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="mobile_circle_bg for_order_b">
                    <div class="mobile_phone">
                        <img src="img/member_iphone.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{# efingo_info #}
<div class="efingo_info">
    <!-- svg animation -->
    <div class="svg_curve_line_d">
        <svg xmlns="http://www.w3.org/2000/svg" width="700" height="369.821" viewBox="0 0 732.626 369.821" class="go">
            <path id="Path_1629" data-name="Path 1629" d="M-784.157,1923.533s88.069,177.688,288.748,183.207,379.459,12.081,442.96,186.22" transform="translate(784.605 -1923.311)" fill="none" stroke="#FFF" stroke-width="1"/>
        </svg>
    </div>
    <div class="svg_curve_line_e">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1652.675 605.237" class="go">
            <path id="Path_1629" data-name="Path 1646" d="M-1550.263,4317.257s487.7-88.547,725.977-44.281,308.886,310.2,586.221,285.511,312.382-260.1,312.382-260.1" transform="translate(709.045 -4167.334) rotate(-11)" fill="none" stroke="#FFF" stroke-width="1"/>
        </svg>
    </div>

    <!-- for mobile -->
    <div class="efingo_info_content-m">
        <div class="efingo_info_row">
            
            <div class="efingo_info_item">
                <div class="b-bg"><img src="img/b-01.svg" alt=""></div>
                <div class="efingo_info_card">
                    <img src="img/person-01.svg" alt="">
                </div>
                <a href="understand_how-to-join.html">加入 e.Fingo</a> 
            </div>
            <div class="efingo_info_item">
                <div class="b-bg"><img src="img/b-02.svg" alt=""></div>
                <div class="efingo_info_card"><img src="img/person-02.svg" alt=""></div>
                <a href="activity_news.html">更多活動訊息</a>
            </div>
            <div class="efingo_info_item">
                <div class="b-bg"><img src="img/b-01.svg" alt=""></div>
                <div class="efingo_info_card"><img src="img/person-03.svg" alt=""></div>
                <a href="">e.Fingo 登山攻略</a>
            </div>
        </div>
    </div>
    
    <!-- for desktop -->
    <div class="efingo_info_content">
        <div class="efingo_info_row">
            
            <div class="efingo_info_item">
                <div class="efingo_info_card">
                    <img src="img/person-01.svg" alt="">
                </div>
                <a href="">加入 e.Fingo</a> 
            </div>
            <div class="efingo_info_item" >
                <div class="efingo_info_card"><img src="img/person-02.svg" alt=""></div>
                <a href="activity_news.html">更多活動訊息</a>
            </div>
            <div class="efingo_info_item">
                <div class="efingo_info_card"><img src="img/person-03.svg" alt=""></div>
                <a href="mountaineer_roaming.html">e.Fingo 登山攻略</a>
            </div>
        </div>
    </div>

</div>


{# digital_loan #}
<div class="digital_loan_index">
    {% include 'component/warning_a.twig' %}
</div>

<div id="js-open-video-index" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/bjXOeJTK0OI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="js-open-notice-index" class="notice-popup_text mfp-hide">

    <div class="notice-popup_content">
        <p style="font-size: 22px;text-align: center">  <b>注意事項</b> </p>
        <p>活動名稱：熊朋友邀請賽</p>
        <p>本活動期間：2021 年 1 月 1 日至 2021 年 3 月 31 日止。</p>
        <p>活動內容：</p>
        <p>於活動期間內，首次加入 e.Fingo 會員或成為推薦人，即可累積對應抽獎機會。
        <p>玉山銀行(下稱本行)將於每月以隨機方式抽出得獎者各可獲得 iPhone 12 Pro 128G乙台(3名)、e.Fingo點數200點(150名)、全家購物金 200元（80名）。同一得獎者每月至多中獎一次，活動期間內至多中獎三次。</p>
            
        <p>抽獎機會獲得方式如下：</p>
        <p>活動期間內，首次成功加入 e.Fingo 會員，即可獲得1次抽獎機會。</p>
        <p>活動期間內，推薦人進入玉山行動銀行 e.Fingo 專區查詢「好友邀請碼」，並提供該邀請碼予被推薦人。經被推薦人於e.Fingo 會員加入流程中填入該好友邀請碼，並成功加入 e.Fingo 會員，推薦人即可獲得 5 次抽獎機會，推薦人數及抽獎機會於活動期間內累積無上限。</p>
        <p>上述抽獎機會將持續累積至活動期間結束，每次抽獎均以各參加人於活動期間內持續累積至抽獎日之抽獎機會為準。</p>
            
        <p>活動資格</p>
        <p>本活動限居住於台澎金馬地區本國國人參加，贈品亦僅限寄送至台澎金馬地區。</p>
        <p>推薦人資格：已成為玉山 e.Fingo 會員者，且推薦人參加本活動時，即視同已詳閱並同意接受活動辦法及相關注意事項規定。推薦人如於活動期間失去會員資格，玉山銀行有權取消活動資格。</p>
        <p>被推薦人資格：尚未成為玉山 e.Fingo 會員者。</p>
            
        <p>贈獎方式
            <p>每月得獎名單將於次月21日抽獎日於e.Fingo會員專區及玉山銀行官方網站公告，若抽獎日遇例假日、國定假日時，則將順延至次一營業日進行。得獎者需於每月得獎名單公告後一個月內回覆得獎公告之問卷，逾期未回覆或個人資料有誤者視同放棄得獎資格，不再另行通知。</p>
            <p>本行將於2021年6月21日起陸續將抽獎贈品iPhone 12 Pro 128G以掛號寄出至「得獎者問卷」 所回填地址，詳細贈獎方式請參閱得獎公告。倘因提供之資料有誤或可歸責於得獎者事由，致有獎項無法送達之情事，恕不另行補發，資格亦不遞補。</p>
            <p>本行將於2021年6月21日起陸續將抽獎贈品全家購物金200元，以簡訊陸續發送至「得獎者問卷」所回填之聯絡手機，詳細贈獎方式請參閱得獎公告。倘因提供之資料有誤或可歸責於得獎者事由，致有獎項無法送達之情事，恕不另行補發，資格亦不遞補。</p>
            <p>本行將於2021年6月21日起陸續將抽獎贈品e.Fingo點數200點匯入得獎者之e.Fingo點數專區，詳細贈獎方式請參閱得獎公告。倘因提供之資料有誤或可歸責於得獎者事由，致有獎項無法送達之情事，恕不另行補發，資格亦不遞補。</p>
            <p>抽獎贈品僅限得獎者本人領取，亦不得要求將贈品讓與他人或更換其他品項或折換現金。本行保留隨時修改、變更、終止或暫停本活動及替換其他等值贈品權利，且無須為事前通知。若有其他未盡事宜，悉依本行相關規定或解釋。獎項所衍生之費用皆由得獎者自行負擔。</p>
            <p>贈品之規格以實物為準，恕不提供選色、退換服務。相關產品問題、維修及保固，需依該品牌業者相關規定辦理，與本行無涉。</p>
            <p>如有任何因電腦、網路、電話、技術或不可歸責本行之事由，而使參加活動者，所提供之資料有遺失、錯誤、無法辨識或毀損等情況，本行不負任何法律責任，參與本活動者或得獎者亦不得因此異議。</p>
            <p>本活動之抽獎、中獎或兌獎紀錄均以本行電腦系統紀錄為準。本行有權檢視各項交易及抽獎紀錄，若參加者有違反活動注意事項之行為或涉及不正當得利及非法行為，本行除公告排除參與活動及兌領資格外，並對任何破壞活動之行為保留法律追訴權。</p>
            <p>依中華民國稅法規定，得獎者本年度兌領獎品價值累計超過新臺幣1,000元，將列入本年度之個人綜合所得稅申報，中獎贈品價值為超過新臺幣20,000元者，本行將代扣得獎者需繳納之10%機會中獎所得稅。</p>
            <p>得獎者參加本活動而需支付之任何稅捐係屬得獎者依稅法之規定所須履行之義務，概與本行無關，倘有稅務法令適用之爭議者，概由得獎者自行向開徵機關提出申訴。</p>
            <p>個資告知事項：參加人瞭解及同意本行為抽獎活動及行銷之需要進行蒐集、處理及利用其個人資料。本行係基於遵守我國法令規定、提供本網路查詢服務或您可能需要本行或玉山金控所屬子公司之其他金融商品或服務資訊等特定目的，本於誠實信用原則及必要性原則蒐集、處理或利用您於本網路登載及後續基於上開特定目的與本行往來之個人資料。除事先取得您同意或法令另有規定外，本行處理或利用上開資料之期間、地區、對象及方式，將限於達成上開特定目的之必要範圍內為之。除法令另有規定或本行執行職務、業務所必須外，您可透過撥打本行客服電話(02)2182-1313，請本行對上開資料(1)查詢或閱覽(2)製給複製本(3)補充或更正(4)停止蒐集、處理或利用(5)刪除。本告知事項內容如有更新，請詳見本行網站公告。</p>
            <p>本行保留隨時修改、暫停、變更、終止本活動與替換其他等值獎項之權利，若有其他未盡事宜，悉依本行相關規定或解釋辦理。若有相關活動問題請電洽本行客服(02)2182-1313或至本行官網「訪客留言板」留言。</p>
    </div>
</div>
</div>
<script>
    $(function(){
        $('.js-open-video-index').magnificPopup({
            items: {
                src: '#js-open-video-index',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.js-open-notice-index').magnificPopup({
            items: {
                src: '#js-open-notice-index',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    });
</script>

<script>
    $(".main").slick({
        dots: true,
        infinite: true,
        arrows: true,
        autoplay: false,
        adaptiveHeight: true
    })
    
    $(".activity").slick({
        dots: true,
        infinite: true,
        arrows: true,
        autoplay: false,
        adaptiveHeight: true
    })
</script>
<script type="text/javascript" src="js/skrollr.stylesheets.js"></script>
<script type="text/javascript" src="js/skrollr.js"></script>
<script type="text/javascript">
    var s = skrollr.init();
</script>
<!-- <script>
    $('.main_image_wrapper').paroller({
        factor: -0.2,
        type: 'foreground',
        direction: 'vertical'
    });

    $('.main_des_a').paroller({
        factor: -.4,
        type: 'foreground',
        direction: 'vertical'
    });

    $('.for_parallex').paroller({
        factor: -0.2,
        type: 'foreground',
        direction: 'vertical'
    });


</script> -->
{% endblock %}