{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<div class="main_image_wrapper">

	<div class="main_slider">
		<section class="main slider">
			<div class="new_photo">
				<img src="img/main_01.jpg"> 
			</div>

		</section>
	</div>

</div>



<!-- 
<div class="section_a" id="anchor_a">
	<div class="m-text">
		<h6>公司稅務規劃 稅務服務</h6>
		<p>事業單位之設立、變更及解散登記等業務，涉及事業單位之所有權、經營權、管理權等規劃，須具備公司法、商業登記法、稅法及其他有關法令等專業知識，故辦理過程極為複雜、繁瑣。</p>
	</div>
	<div class="m-img img_a"></div>
</div>



<div class="section_b" id="anchor_b">
	
	<div class="m-text">
		<h6>公司創立記帳 報稅一條龍服務</h6>
		<p>事業單位之設立、變更及解散登記等業務，涉及事業單位之所有權、經營權、管理權等規劃，須具備公司法、商業登記法、稅法及其他有關法令等專業知識，故辦理過程極為複雜、繁瑣。</p>
	</div>
	<div class="m-img img_b"></div>
	
</div>

<div class="section_a" id="anchor_c">
	
	<div class="m-text">
		<h6>工商登記 變更登記</h6>
		<p>事業單位之設立、變更及解散登記等業務，涉及事業單位之所有權、經營權、管理權等規劃，須具備公司法、商業登記法、稅法及其他有關法令等專業知識，故辦理過程極為複雜、繁瑣。</p>
	</div>
	<div class="m-img img_c"></div>
</div>

<div class="section_b" id="anchor_d">
	
	<div class="m-text">
		<h6>記帳報稅 12年專業經驗</h6>
		<p>事業單位之設立、變更及解散登記等業務，涉及事業單位之所有權、經營權、管理權等規劃，須具備公司法、商業登記法、稅法及其他有關法令等專業知識，故辦理過程極為複雜、繁瑣。</p>
	</div>
	<div class="m-img img_d"></div>
	
</div> -->








<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}