<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <link rel="shortcut icon" href="img/e.Fingo_favicon.svg" />
        
        
        <meta name="keywords" content="">
        <meta name="description" content="">
        <title> 玉山銀行 e.Fingo </title>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content=""/>
        <meta property="og:url" content="https://www.facebook.com/esunbank/"/>
        <meta property="og:description" content="" />
        <meta property="og:image" content="img/og.png"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="630"/>
        
        <!--#include virtual="/event_templates/fb_appid_meta.html" -->
        
        
        
        
        <!-- 套件 CSS -->
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
        
        <!-- 所有自訂的 CSS -->
   
        
      
        <link href="css/module.css" rel="stylesheet" />
        
        <script src="js/jquery-3.6.0.min.js"></script>


        
        
        
        
        
    </head>
<body>
    <!-- loading -->
    <!-- <div id="loading" class="loading">
        <div class="loading_logo_w">
            <div class="jump"><img src="img/jump.svg" alt=""></div>
            <div class="loading_logo"><img src="img/loading_logo.svg" alt=""></div>

            <div class="loading_bar">
                <div class="meter">
                    <span></span>
                </div>
            </div>
        </div>
    </div>   -->
    <br><br><br><br><br>
    <div class="ggg">
        <div class="bbb">我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！我們為 e.Fingo 會員，
            全新打造「e.Fingo 點數」，
            線上交易隨時累積 e.Fingo 會員點數，
            可兌換超過 130 項商品，
            並提供多項會員專屬活動及回饋，
            滿足日常生活每一刻！
            
            </div>
    </div>


    <script>

        $('.ggg').scrollLeft(0)


    </script>
</body>
</html>