{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}


<div class="mountaineer_wrapper">
	<!-- svg animation -->
	<div class="svg_curve_line_digital_a m_position_1">
        <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_b m_position_2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_c m_position_3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>
<!-- 
    <div class="svg_curve_line_digital_d m_position_4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1592.463 1389.514" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,820.272s164.811,163.654,323.709,56.413-7.572-321.755,155.424-464.317,334.839-12.1,582.387-145.568S-53.265-248.708-45.258-247.834" transform="matrix(0.985, 0.174, -0.174, 0.985, 1593.858, 497.626)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div> -->

	{# section top #}
	<!-- mobile -->
	<div class="mountaineer_top_section_m">
		<div class="t_description">
			<h1>e.Fingo 登山攻略</h1>
			<p>最強裝備包 X 多元登山路線 <br>
				讓 e.Fingo 成為你的數位金融生活嚮導</p>
		</div>
		<br>
		<p style="text-align: center;">入山證</p>
		<h6 style="text-align: center;">玉山帳戶＋指定信用卡</h6>
		<div class="m-img_row">
			
			<!-- 4 -->
			<div class="m-img js-open-mountain-04">
				<img src="img/m-04m.svg " alt="">
				<div class="t_dialog">
					攀岩攻頂 <i class="fas fa-chevron-circle-right"></i>
				</div>
			</div>
			<!-- 2 -->
			<div class="m-img js-open-mountain-02">
				<img src="img/m-02m.svg " alt="">
				<div class="t_dialog">
					纜車觀景 <i class="fas fa-chevron-circle-right"></i>
				</div>
			</div>
			<!-- 3 -->
			<div class="m-img js-open-mountain-03">
				<img src="img/m-03m.svg " alt="">
				<div class="t_dialog">
					秘徑探險 <i class="fas fa-chevron-circle-right"></i>
				</div>
			</div>
			<!-- 1 -->
			<div class="m-img js-open-mountain-01">
				<img src="img/m-01m.svg" alt="">
				<div class="t_dialog">
					步道漫遊 <i class="fas fa-chevron-circle-right"></i>
				</div>
			</div>

		</div>
	</div>
	

<!-- lightbox 1 -->
<!-- mfp-hide -->
<div id="js-open-mountain-01" class="mountain-popup mfp-hide">
	<div class="mobile_mountain_wrapper">
		<div class="mountaineer_content">
			<!-- subject -->
			<div class="subject">
				<div class="subject_des">
					<h2>步道漫遊</h2>
					<p>穩扎穩打、一步一腳印，跟著大家的腳步一起向前，才是登上財富之山的王道。</p>
					<br>
					<p>路線難易: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>
					<p>裝備預算: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>
				</div>
				<div class="subject_radar"><img src="img/radar_01.svg" alt=""></div>
			</div>
			<!-- equipment_package -->
			<div class="equipment_package">
				<div class="e-title"><h3>裝備包</h3></div>
				<div class="equipment_package_row">
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/credit-card/intro/debit-card/pi-debit-card" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-01a.svg" alt=""></div>
						<div class="e_des">
							<h4>玉山 Pi 拍兔簽帳金融卡 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>一卡在手 生活便利的好幫手！
								結合金融卡存、提款、轉帳、
								查詢及刷卡消費、悠遊卡扣款等
								所有功能。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/wealth/helper/fund_search.html" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-02a.svg" alt=""></div>
						<div class="e_des">
							<h4>基金停損停利通知 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>事先設定基金的停損點或停利點報酬率，系統就會在達到該基金報酬率時，自動推播通知。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/wealth/ai_select/index.html" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-03a.svg" alt=""></div>
						<div class="e_des">
							<h4>基金 e 指選 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>大數據與產品專家團隊聯手，為你找出適合你的基金，e 鍵省下查找資訊的時間， NT 3,000元輕鬆入手。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/s/PersonalLoanApply/Landing310/Index" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-04a.svg" alt=""></div>
						<div class="e_des">
							<h4>e 速貸款 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>24hr 線上申貸服務，最快58秒撥款
								輕鬆 e 指完成，快速滿足您的資金需求！</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-3" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-05a.svg" alt=""></div>
						<div class="e_des">
							<h4>外幣平均成本 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>成本線圖搭配匯率走勢，貼心圖像解說，屬於「你」的買外幣明細，我們幫你算好了。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-1" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-06a.svg" alt=""></div>
						<div class="e_des">
							<h4>匯率高低點通知 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>5 大熱門幣別任選訂閱，想買什麼就訂閱什麼，匯率到近三個月高低點，我們主動通知你。</p>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>



<!-- lightbox 2 -->
<!-- mfp-hide -->
<div id="js-open-mountain-02" class="mountain-popup mfp-hide">
	<div class="mobile_mountain_wrapper">
		<div class="mountaineer_content">
			<!-- subject -->
			<div class="subject">
				<div class="subject_des">
					<h2>纜車觀景</h2>
					<p>不想花時間？不如選擇搭上纜車悠閒享受，
						用另一個方式登山，但別忘了纜車要花點錢。</p>
					<br>
					<p>路線難易: <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>
					<p>裝備預算: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>
				</div>
				<div class="subject_radar"><img src="img/radar_02.svg" alt=""></div>
			</div>


			<!-- equipment_package -->
			<div class="equipment_package">
				<div class="e-title"><h3>裝備包</h3></div>
				<div class="equipment_package_row">
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/credit-card/intro/co-branded-card/pi-card" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-01a.svg" alt=""></div>
						<div class="e_des">
							<h4>玉山 Pi 拍錢包信用卡 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>最高回饋 5 % P幣，1P幣＝1元
								串連線上與實體，便利生活從此
								開拍！
								</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/loan/house/loan/index.html" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-09a.svg" alt=""></div>
						<div class="e_des">
							<h4>e 指房貸 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>玉山銀行「e 指房貸」結合大數據及政府實價登錄資料，隨時隨地
								3 分鐘 線上立即取得房屋可貸款額度利率年限。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/wealth/ai_select/index.html" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-03a.svg" alt=""></div>
						<div class="e_des">
							<h4>基金 e 指選 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>大數據與產品專家團隊聯手，為你找出適合你的基金，e 鍵省下查找資訊的時間， NT 3,000元輕鬆入手。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/wealth/helper/fund_search.html" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-02a.svg" alt=""></div>
						<div class="e_des">
							<h4>基金停損停利通知 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>事先設定基金的停損點或停利點報酬率，系統會在達到該基金報酬率時，自動推播通知。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-3" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-05a.svg" alt=""></div>
						<div class="e_des">
							<h4>外幣平均成本 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>成本線圖搭配匯率走勢，貼心圖像解說，屬於「你」的買外幣明細，我們幫你算好了。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-1" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-06a.svg" alt=""></div>
						<div class="e_des">
							<h4>匯率高低點通知 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>5 大熱門幣別任選訂閱，想買什麼就訂閱什麼，匯率到近三個月高低點，我們主動通知你。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/deposit/foreign-service/collateralize?ven=efingo" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-08a.svg" alt=""></div>
						<div class="e_des">
							<h4>IXML 憑證 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>創新服務！換匯達等值新臺幣 50 萬
								元以上不擔心，網路/行動銀行直接買賣大額外幣。</p>
						</div>
					</a>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- lightbox 3 -->
<!-- mfp-hide -->
<div id="js-open-mountain-03" class="mountain-popup mfp-hide">
	<div class="mobile_mountain_wrapper">
		<div class="mountaineer_content">
			<!-- subject -->
			<div class="subject">
				<div class="subject_des">
					<h2>秘徑探險</h2>
					<p>靠自己闖出一條秘徑，只要做足功課，誰知前方有沒有意想不到的美景。</p>
					<br>
					<p>路線難易: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>
					<p>裝備預算: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>
				</div>
				<div class="subject_radar"><img src="img/radar_03.svg" alt=""></div>
			</div>


			<!-- equipment_package -->
			<div class="equipment_package">
				<div class="e-title">裝備包</div>
				<div class="equipment_package_row">
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/credit card/intro/bank-card/only card"  class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-01a.svg" alt=""></div>
						<div class="e_des">
							<h4>玉山 Only 卡 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>玩樂旅遊首選！指定消費享 13 倍紅利回饋，滿足您吃喝玩樂的美好生活；精彩加倍 Only for fun！</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/wealth/fund/search"  class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-04a.svg" alt=""></div>
						<div class="e_des">
							<h4>基金查詢 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>自己的基金自己選！玉山銀行提供您各式多樣的基金，滿足您的理財需求。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/loan/house/secondary/page.html"  class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-07a.svg" alt=""></div>
						<div class="e_des">
							<h4>二順位貸款 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>玉山二順位是您最忠實的資金靠山，24 hr 皆可體驗線上申貸服務並申請好貸款，不需另外花時間至分行辦理，輕鬆又省時！</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-2"  class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-06a.svg" alt=""></div>
						<div class="e_des">
							<h4>外幣到價通知 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>15 種幣別、買賣價、通知頻率，設定好彈性，到價後即時通知，馬上就可以買到理想匯率。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/deposit/foreign-service/collateralize?ven=efingo"  class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-08a.svg" alt=""></div>
						<div class="e_des">
							<h4>IXML 憑證 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>創新服務！換匯達等值新臺幣 50 萬元以上不擔心，網路/行動銀行直接買賣大額外幣。</p>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- lightbox 4 -->
<!-- mfp-hide -->
<div id="js-open-mountain-04" class="mountain-popup mfp-hide">
	<div class="mobile_mountain_wrapper">
		<div class="mountaineer_content">
			<!-- subject -->
			<div class="subject">
				<div class="subject_des">
					<h2>攀岩攻頂</h2>
					<p>精打細算又裝備精良的你 ，讓我們一起找出最佳路線，用最直接的方式完成這趟理財之路。</p>
					<br>
					<p>路線難易: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i></p>
					<p>裝備預算: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i></p>

				</div>
				<div class="subject_radar"><img src="img/radar_04.svg" alt=""></div>
			</div>


				<!-- equipment_package -->
				<div class="equipment_package">
					<div class="e-title">裝備包</div>
					<div class="equipment_package_row">
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/credit card/intro/bank-card/only card" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-01a.svg" alt=""></div>
						<div class="e_des">
							<h4>玉山 Only 卡 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>玩樂旅遊首選！指定消費享 13 倍紅利回饋，滿足您吃喝玩樂的美好生活；精彩加倍 Only for fun！</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/wealth/fund/search" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-04a.svg" alt=""></div>
						<div class="e_des">
							<h4>基金查詢 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>自己的基金自己選！玉山銀行提供您各式多樣的基金，滿足您的理財需求。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/loan/house/secondary/page.html" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-07a.svg" alt=""></div>
						<div class="e_des">
							<h4>二順位貸款 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>玉山二順位是您最忠實的資金靠山，24 hr 皆可體驗線上申貸服務並申請好貸款，不需另外花時間至分行辦理，輕鬆又省時！</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-2" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-06a.svg" alt=""></div>
						<div class="e_des">
							<h4>外幣到價通知 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>15 種幣別、買賣價、通知頻率，設定好彈性，到價後即時通知，馬上就可以買到理想匯率。</p>
						</div>
					</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/deposit/foreign-service/collateralize?ven=efingo" class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-08a.svg" alt=""></div>
						<div class="e_des">
							<h4>IXML 憑證<i class="fas fa-chevron-circle-right"></i></h4>
							<p>創新服務！換匯達等值新臺幣 50 萬元以上不擔心，網路/行動銀行直接買賣大額外幣。</p>
						</div>
					</a>
					</div>
				</div>

		</div>
	</div>
</div>
<script>
	if (screen.width <= 890) {
		setTimeout(function() {
			$.magnificPopup.open({
				items: {
					src: '#js-open-mountain-03',
					type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
			});
		}, 1000);
	}

	$('.js-open-mountain-01').magnificPopup({
		items: {
			src: '#js-open-mountain-01',
			type: 'inline'
		},
		mainClass: 'mfp-fade',
		removalDelay: 300,
		midClick: true
	});

	$('.js-open-mountain-02').magnificPopup({
		items: {
			src: '#js-open-mountain-02',
			type: 'inline'
		},
		mainClass: 'mfp-fade',
		removalDelay: 300,
		midClick: true
	});
	$('.js-open-mountain-03').magnificPopup({
		items: {
			src: '#js-open-mountain-03',
			type: 'inline'
		},
		mainClass: 'mfp-fade',
		removalDelay: 300,
		midClick: true
	});
	$('.js-open-mountain-04').magnificPopup({
		items: {
			src: '#js-open-mountain-04',
			type: 'inline'
		},
		mainClass: 'mfp-fade',
		removalDelay: 300,
		midClick: true
	});
	
</script>
	
	<!-- desktop -->
	<div class="mountaineer_top_section">
		<div class="t_description">
			<h1>e.Fingo 登山攻略</h1>
			<p>最強裝備包 X 多元登山路線 <br>
				讓 e.Fingo 成為你的
				數位金融生活嚮導</p>
		</div>

		<div class="p_01_roaming">
			<div class="p_img"><img src="img/m-01.svg" alt=""></div>
			<div class="y-bg"><img src="img/y-bg.svg" alt=""></div>	
			<div class="btn_row">
				<a href="mountaineer_roaming.html?action" class="go_btn">步道漫遊 <i class="fas fa-chevron-circle-down"></i></a>
			</div>
		</div>


		<div class="p_02_cable_car">
			<div class="p_img"><img src="img/m-02.svg" alt=""></div>
			<div class="y-bg"><img src="img/y-bg.svg" alt=""></div>	
			<div class="btn_row">
				<a href="mountaineer_cable_car_viewing.html?action" class="go_btn">纜車景觀 <i class="fas fa-chevron-circle-down"></i></a>
			</div>
			
		</div>
		<div class="p_03_adventure">
			<div class="p_img"><img src="img/m-03.svg" alt=""></div>
			<div class="y-bg opacity_on"><img src="img/y-bg.svg" alt=""></div>	
			<div class="btn_row">
				<a href="mountaineer_secretpath_adventure.html?action" class="go_btn go_btn_on">秘徑探險 </a>
			</div>
		</div>
		<div class="p_04_climbing">
			<div class="p_img"><img src="img/m-04.svg" alt=""></div>
			<div class="y-bg"><img src="img/y-bg.svg" alt=""></div>	
			<div class="btn_row">
				<a href="mountaineer_rock_climbing.html?action" class="go_btn">攀岩攻頂 <i class="fas fa-chevron-circle-down"></i></a>
			</div>
		</div>
	</div>


	<div class="mountaineer_content_wraper">
		<div class="m-page-p">
			<img src="img/m-page-p03.svg" alt="">
		</div>

		<div class="t-t">
			<p>入山證</p>
			<h2>玉山帳戶＋指定信用卡</h2>
		</div>

		<div class="mountaineer_content">
			<!-- subject -->
			<div class="subject">
				<div class="subject_des">
					<h2>秘徑探險</h2>
					<p>靠自己闖出一條秘徑，只要做足功課，誰知前方有沒有意想不到的美景。</p>
					<br>
					<p>路線難易: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>
					<p>裝備預算: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>

				</div>
				<div class="subject_radar"><img src="img/radar_03.svg" alt=""></div>
			</div>


			<!-- equipment_package -->
			<div class="equipment_package">
				<div class="e-title">裝備包</div>
				<div class="equipment_package_row">

					<!-- item -->
					<a href="https://www.esunbank.com.tw/bank/personal/credit card/intro/bank-card/only card"  class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-01a.svg" alt=""></div>
						<div class="e_des">
							<h4>玉山 Only 卡 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>玩樂旅遊首選！指定消費享 13 倍紅利回饋，滿足您吃喝玩樂的美好生活；精彩加倍 Only for fun！</p>
						</div>
					</a>

						<!-- item -->
						<a href="https://www.esunbank.com.tw/bank/personal/wealth/fund/search"  class="equipment_package_item">
							<div class="e_img"><img src="img/m_icon-04a.svg" alt=""></div>
							<div class="e_des">
								<h4>基金查詢 <i class="fas fa-chevron-circle-right"></i></h4>
								<p>自己的基金自己選！玉山銀行提供您各式多樣的基金，滿足您的理財需求。</p>
							</div>
						</a>

				

						<!-- item -->
						<a href="https://www.esunbank.com.tw/event/loan/house/secondary/page.html"  class="equipment_package_item">
							<div class="e_img"><img src="img/m_icon-07a.svg" alt=""></div>
							<div class="e_des">
								<h4>二順位貸款 <i class="fas fa-chevron-circle-right"></i></h4>
								<p>玉山二順位是您最忠實的資金靠山，24 hr 皆可體驗線上申貸服務並申請好貸款，不需另外花時間至分行辦理，輕鬆又省時！</p>
							</div>
						</a>
					<!-- item -->
					<a href="https://www.esunbank.com.tw/event/forex/marketing/tips/index.html?ven=efingo#content-2"  class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-06a.svg" alt=""></div>
						<div class="e_des">
							<h4>外幣到價通知 <i class="fas fa-chevron-circle-right"></i></h4>
							<p>15 種幣別、買賣價、通知頻率，設定好彈性，到價後即時通知，馬上就可以買到理想匯率。</p>
						</div>
					</a>

						<!-- item -->
						<a href="https://www.esunbank.com.tw/bank/personal/deposit/foreign-service/collateralize?ven=efingo"  class="equipment_package_item">
							<div class="e_img"><img src="img/m_icon-08a.svg" alt=""></div>
							<div class="e_des">
								<h4>IXML 憑證<i class="fas fa-chevron-circle-right"></i></h4>
								<p>創新服務！換匯達等值新臺幣 50 萬元以上不擔心，網路/行動銀行直接買賣大額外幣。</p>
							</div>
						</a>
			
					

				</div>
			</div>

		</div>

		<!-- join now -->
		<div class="bottom_w">
		<div class="join_now">
			<h5>立即加入 e.Fingo</h5>
			<div class="btn_row">
				<a href="understand_how-to-join.html" class="go_btn">加入步驟</a>
			</div>
		</div>
		</div>


	</div>

<div class="for_height"></div>
</div>

{# notice #}
<div class="notice_section_top">
		<img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
	<div class="notice_section">
		{% include 'component/warning_a.twig' %}
	</div>
</div>

<script>
	var urlParams = new URLSearchParams(window.location.search)
	console.log(urlParams.toString())
	if(urlParams.has('action')){
		var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
		$body.animate({
			scrollTop: 650
		}, 800);
	}
</script>
{% endblock %}