{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}


<div class="mountaineer_wrapper">

	{# section top #}
		<!-- mobile -->
		<div class="mountaineer_top_section_m">
			<div class="t_description">
				<h2>e.Fingo 登山攻略</h2>
				<p>最強裝備包 X 多元登山路線
					讓 e.Fingo 成為你的
					數位金融生活嚮導</p>
			</div>
			<br>
			<p style="text-align: center;">入山證</p>
			<h6 style="text-align: center;">玉山帳戶＋指定信用卡</h6>
			<div class="m-img">
				<img src="img/m_top_02.svg" alt="">
				<div class="t_dialog">
					秘徑探險
				</div>
			</div>
			
		</div>
	
		<!-- desktop -->
	<div class="mountaineer_top_section">
		
		<div class="t_description">
			<h2>e.Fingo 登山攻略</h2>
			<p>最強裝備包 X 多元登山路線
				讓 e.Fingo 成為你的
				數位金融生活嚮導</p>
		</div>

		<div class="p_01_roaming">
			<img src="img/m-01.png" alt="">
			<div class="btn_row">
				<a href="#" class="go_btn">步道漫遊 <i class="fas fa-chevron-circle-down"></i></a>
			</div>
		</div>
		<div class="p_02_cable_car">
			<img src="img/m-02.png" alt="">
			<div class="btn_row">
				<a href="#" class="go_btn">纜車景觀 <i class="fas fa-chevron-circle-down"></i></a>
			</div>
			
		</div>
		<div class="p_03_adventure">
			<img src="img/m-03.png" alt="">
			<div class="btn_row">
				<a href="#" class="go_btn">攀岩攻頂 <i class="fas fa-chevron-circle-down"></i></a>
			</div>
		</div>
		<div class="p_04_climbing">
			<img src="img/m-04.png" alt="">
			<div class="btn_row">
				<a href="#" class="go_btn">秘徑探險 <i class="fas fa-chevron-circle-down"></i></a>
			</div>
		</div>
	</div>


	<div class="mountaineer_content_wraper">
		<div class="m-page-p">
			<img src="img/m-page-p01.svg" alt="">
		</div>
		<div class="t-t">
			<p>入山證</p>
			<h6>玉山帳戶＋指定信用卡</h6>
		</div>

		<div class="mountaineer_content">
			<!-- subject -->
			<div class="subject">
				<div class="subject_des">
					<h6>纜車觀景</h6>
					<p>不想花時間？不如選擇搭上纜車悠閒享受，
						用另一個方式登山，但別忘了纜車要花點錢。</p>
					<br>
					<p>路線難易: <i class="fas fa-star"></i> <i class="fas far-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>
					<p>裝備預算: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></p>

				</div>
				<div class="subject_radar"><img src="img/radar_01.png" alt=""></div>
			</div>


			<!-- equipment_package -->
			<div class="equipment_package">
				<div class="e-title">裝備包</div>
				<div class="equipment_package_row">

					<!-- item -->
					<div class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-01a.svg" alt=""></div>
						<div class="e_des">
							<h6>玉山 Pi 拍錢包信用卡 <i class="fas fa-chevron-circle-right"></i></h6>
							<p>最高回饋 5 % P幣，1P幣＝1元
								串連線上與實體，便利生活從此
								開拍！
								</p>
						</div>
					</div>

						<!-- item -->
						<div class="equipment_package_item">
							<div class="e_img"><img src="img/m_icon-02a.svg" alt=""></div>
							<div class="e_des">
								<h6>e 指房貸 <i class="fas fa-chevron-circle-right"></i></h6>
								<p>玉山銀行「e 指房貸」結合大數據及政府實價登錄資料，隨時隨地
									3 分鐘 線上立即取得房屋可貸款額度利率年限。</p>
							</div>
						</div>

				

						<!-- item -->
						<div class="equipment_package_item">
							<div class="e_img"><img src="img/m_icon-04a.svg" alt=""></div>
							<div class="e_des">
								<h6>基金 e 指選 <i class="fas fa-chevron-circle-right"></i></h6>
								<p>大數據與產品專家團隊聯手，為你找出適合你的基金，e 鍵省下查找資訊的時間， NT 3,000元輕鬆入手。</p>
							</div>
						</div>
					<!-- item -->
					<div class="equipment_package_item">
						<div class="e_img"><img src="img/m_icon-05a.svg" alt=""></div>
						<div class="e_des">
							<h6>基金停損停利通知 <i class="fas fa-chevron-circle-right"></i></h6>
							<p>事先設定基金的停損點或停利點報酬率，系統會在達到該基金報酬率時，自動推播通知。</p>
						</div>
					</div>

						<!-- item -->
						<div class="equipment_package_item">
							<div class="e_img"><img src="img/m_icon-06a.svg" alt=""></div>
							<div class="e_des">
								<h6>外幣平均成本<i class="fas fa-chevron-circle-right"></i></h6>
								<p>成本線圖搭配匯率走勢，貼心圖像解說，屬於「你」的買外幣明細，我們幫你算好了。</p>
							</div>
						</div>
						<!-- item -->
						<div class="equipment_package_item">
							<div class="e_img"><img src="img/m_icon-03a.svg" alt=""></div>
							<div class="e_des">
								<h6>匯率高低點通知 <i class="fas fa-chevron-circle-right"></i></h6>
								<p>5 大熱門幣別任選訂閱，想買什麼就訂閱什麼，匯率到近三個月高低點，我們主動通知你。</p>
							</div>
						</div>
						<!-- item -->
						<div class="equipment_package_item">
							<div class="e_img"><img src="img/m_icon-01a.svg" alt=""></div>
							<div class="e_des">
								<h6>IXML 憑證 <i class="fas fa-chevron-circle-right"></i></h6>
								<p>創新服務！換匯達等值新臺幣 50 萬
									元以上不擔心，網路/行動銀行直接買賣大額外幣。</p>
							</div>
						</div>

				</div>
			</div>

		</div>

		<!-- join now -->
		<div class="join_now">
			<h5>立即加入 e.Fingo</h5>
			<div class="btn_row">
				<a href="#" class="go_btn">加入步驟</a>
			</div>
		</div>


	</div>
	









<div class="for_height"></div>
</div>

{# notice #}
<div class="notice_section_top">
		<img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
	<div class="notice_loan_content">
			<div class="d-text">
					<p>  <b>數位外匯</b></p>   
					<p>辦理買賣外幣時，部分交易須以符合電子簽章效力方式確認申報書內容，提醒您提早準備相關憑證。行動銀行 APP / 個人網路銀行(手機瀏覽器版)可使用「玉山銀行 IXML 憑證」，目前僅開放個人顧客使用(申請路徑：登入玉山行動銀行 APP - 側邊選單>設定>憑證管理)。電腦版個人網路銀行可使用玉山銀行 IXML 憑證 ( 申請路徑：登入個人網路銀行 > 個人設定與服務 > 掛失與功能設定 > 憑證管理 ) 或其他憑證(如自然人憑證、工商憑證、金融憑證：如玉山證券憑證)，詳細說明與憑證申請方式請參閱電子簽章說明。</p>
					<p>個人網路銀行/行動銀行外匯交易時間：</p>
						<p>一、外匯服務交易時間為營業日 09:00 至 17:00。</p>
						<p>二、當日買/賣外幣交易(含臨櫃及自動化通路交易)累計達等值新台幣50萬元(含)以上者，交易時間為營業日 09:00-15:30。</p>
						<p>三、夜間交易時間為營業日 17:00 至 23:00，提供「買/賣外幣」、「轉定存」、「幣別轉換」及「行內轉帳」服務。外幣兌換交易之匯率優惠僅包含「買/賣外幣」、「幣別轉換」、「以臺幣結購申請行內轉帳」、「以臺幣結購申請匯出匯款」及「以臺幣結購轉外幣定存」。</p>
						<p>承作外幣存款須承擔日後兌換為新臺幣或其他外幣時可能產生之匯兌風險，於承作專案時應審慎評估。活動優惠內容以本行最新公告為準，本行保留隨時修改、變更或終止本活動之權利。</p>
					<br>


					<p><b>謹慎理財 信用無價</b></p>
					<p>信用卡循環利率：5.88%-15%(依本行電腦評等而訂，基準日：2015/9/1)預借現金手續費(依預借現金約定結付幣別區分)：預借現金金額x3.5%+(新臺幣100元/3.5美元/350日圓/2.5歐元) 。其他相關費率依本行網站及申請書公告</p>

			</div>
	</div>
	<div class="for_height"></div>
</div>
{% endblock %}