{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}

<script>
	$(document).ready(function(){

		$(".qa_title").click(function(){
      $(this).toggleClass('icon_animation');
      $(this).parent().find(".qa_answer").toggleClass("show_answer")
      $(this).parent().toggleClass('thick');
      $(this).parent().siblings().find(".qa_answer").removeClass("show_answer")
      $(this).parent().siblings().removeClass("thick")
		})

	});


</script>

<div class="qa_wrapper">
{# section top #}
  <div class="qa_top-bg">
      <div class="t_description">
        <h1>常見問題</h1>
      </div>

      <div class="four_card_section">
      <div class="icon_row">
        <div class="icon_item qa_on">
        <img src="img/qa_a01.svg" alt="">
        <h2>會員相關</h2>
        </div>
        <div class="icon_item ">
        <img src="img/qa_a02.svg" alt="">
        <h2>點數相關</h2>
        </div>
        <div class="icon_item">
        <img src="img/qa_a03.svg" alt="">
        <h2>兌換相關</h2>
        </div>
        <div class="icon_item">
        <img src="img/qa_a04.svg" alt="">
        <h2>申請相關</h2>
        </div>
      </div>
      </div>
  </div>


{# qa content#}
<div class="qa_content">
  
  <!-- qa_content_item -->
  <div class="qa_content_item">
    <div class="qa_title"> 
      <p> 1. e.Fingo 是什麼？</p>  
      <i class="fas fa-chevron-circle-down"></i>
    </div> 

    <!-- qa_answer -->
    <div class="qa_answer">
      <div class="top_line"></div>
      <p>加入e.Fingo 會員需具備以下 2 個條件，並透過玉山行動銀行App加入：</p> 
      <ul>
        <li>持有「臺幣帳戶（含數位帳戶）」</li>
        <li>持有「玉山 U Bear 信用卡／玉山 Only 卡／玉山 Pi 拍錢包信用卡／玉山 Pi 拍兔 Debit卡」任一張指定卡片</li>
      </ul>
      <p>提醒您：</p>
      <ul>
        <li>請將玉山行動銀行App更新至最新版本。</li>
        <li>如為新開戶或新核卡，請於次一工作日加入會員！</li>
        <li>現階段僅提供本國自然人申請。</li>
      </ul>
      <img src="img/mobile_bg.jpg" alt="">
    </div>
  </div>

  <!-- qa_content_item -->
  <div class="qa_content_item">
    <div class="qa_title"> 
      <p> 2. 誰可以加入e.Fingo會員？</p>  
      <i class="fas fa-chevron-circle-down"></i>
    </div> 

    <!-- qa_answer -->
    <div class="qa_answer">
      <div class="top_line"></div>
      <p>加入e.Fingo 會員需具備以下 2 個條件，並透過玉山行動銀行App加入：</p> 
      <ul>
        <li>持有「臺幣帳戶（含數位帳戶）」</li>
        <li>持有「玉山 U Bear 信用卡／玉山 Only 卡／玉山 Pi 拍錢包信用卡／玉山 Pi 拍兔 Debit卡」任一張指定卡片</li>
      </ul>
      <p>提醒您：</p>
      <ul>
        <li>請將玉山行動銀行App更新至最新版本。</li>
        <li>如為新開戶或新核卡，請於次一工作日加入會員！</li>
        <li>現階段僅提供本國自然人申請。</li>
      </ul>
      <img src="img/mobile_bg.jpg" alt="">
    </div>
  </div>

  <!-- qa_content_item -->
  <div class="qa_content_item">
    <div class="qa_title"> 
      <p> 3. 如果好友已經加入會員，但他沒有填過好友邀請碼，可以再補填我的好友邀請碼嗎？</p>  
      <i class="fas fa-chevron-circle-down"></i>
    </div> 

    <!-- qa_answer -->
    <div class="qa_answer">
      <div class="top_line"></div>
      <p>加入e.Fingo 會員需具備以下 2 個條件，並透過玉山行動銀行App加入：</p> 
      <ul>
        <li>持有「臺幣帳戶（含數位帳戶）」</li>
        <li>持有「玉山 U Bear 信用卡／玉山 Only 卡／玉山 Pi 拍錢包信用卡／玉山 Pi 拍兔 Debit卡」任一張指定卡片</li>
      </ul>
      <p>提醒您：</p>
      <ul>
        <li>請將玉山行動銀行App更新至最新版本。</li>
        <li>如為新開戶或新核卡，請於次一工作日加入會員！</li>
        <li>現階段僅提供本國自然人申請。</li>
      </ul>
      <img src="img/mobile_bg.jpg" alt="">
    </div>
  </div>
  <!-- qa_content_item -->
  <div class="qa_content_item">
    <div class="qa_title"> 
      <p> 4. 如果好友已經加入會員，但他沒有填過好友邀請碼，可以再補填我的好友邀請碼嗎？</p>  
      <i class="fas fa-chevron-circle-down"></i>
    </div> 

    <!-- qa_answer -->
    <div class="qa_answer">
      <div class="top_line"></div>
      <p>加入e.Fingo 會員需具備以下 2 個條件，並透過玉山行動銀行App加入：</p> 
      <ul>
        <li>持有「臺幣帳戶（含數位帳戶）」</li>
        <li>持有「玉山 U Bear 信用卡／玉山 Only 卡／玉山 Pi 拍錢包信用卡／玉山 Pi 拍兔 Debit卡」任一張指定卡片</li>
      </ul>
      <p>提醒您：</p>
      <ul>
        <li>請將玉山行動銀行App更新至最新版本。</li>
        <li>如為新開戶或新核卡，請於次一工作日加入會員！</li>
        <li>現階段僅提供本國自然人申請。</li>
      </ul>
      <img src="img/mobile_bg.jpg" alt="">
    </div>
  </div>
  <!-- qa_content_item -->
  <div class="qa_content_item">
    <div class="qa_title"> 
      <p> 5. 如果好友已經加入會員，但他沒有填過好友邀請碼，可以再補填我的好友邀請碼嗎？</p>  
      <i class="fas fa-chevron-circle-down"></i>
    </div> 

    <!-- qa_answer -->
    <div class="qa_answer">
      <div class="top_line"></div>
      <p>加入e.Fingo 會員需具備以下 2 個條件，並透過玉山行動銀行App加入：</p> 
      <ul>
        <li>持有「臺幣帳戶（含數位帳戶）」</li>
        <li>持有「玉山 U Bear 信用卡／玉山 Only 卡／玉山 Pi 拍錢包信用卡／玉山 Pi 拍兔 Debit卡」任一張指定卡片</li>
      </ul>
      <p>提醒您：</p>
      <ul>
        <li>請將玉山行動銀行App更新至最新版本。</li>
        <li>如為新開戶或新核卡，請於次一工作日加入會員！</li>
        <li>現階段僅提供本國自然人申請。</li>
      </ul>
      <img src="img/mobile_bg.jpg" alt="">
    </div>
  </div>

    <!-- <div class="pagination">
      <a href="qa.html" class="num page_on">1</a>
      <a href="qa_2.html" class="num">2</a>
      <a href="qa_2.html" class="num">3</a>
      <a href="qa_2.html" class="num">4</a>
      <a href="qa_2.html" class="num">5</a>
      <a href="qa_2.html" class="num">6</a>
      <a href="qa_2.html" class="num">7</a>
      <a href="qa_2.html" class="num">8</a>
    </div> -->

</div>

<div class="customer_service_bg">
<div class="customer_service">
  <img src="img/customer_service.svg" alt="">
  <p>找不到你想問的問題嗎？ <br>
    讓智能客服幫你解答吧 !</p>
  <div class="btn_row">
    <a href="https://robot.esunbank.com.tw/?eservice=eFingo&qaCategory=general" class="go_btn">找智能客服</a>
  </div>
</div>
</div>



<div class="for_height"></div>
</div>




{# notice #}
<div class="notice_section_top">
    <img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
	<div class="notice_section">
		{% include 'component/warning_a.twig' %}
	</div>
</div>

{% endblock %}