{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}
<div class="understand_feature_wrapper">
    <!-- svg animation -->
    <div class="svg_curve_line_digital_a u_position_1">
        <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_b u_position_2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_c u_position_3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <!-- <div class="svg_curve_line_digital_d u_position_4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1592.463 1389.514" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,820.272s164.811,163.654,323.709,56.413-7.572-321.755,155.424-464.317,334.839-12.1,582.387-145.568S-53.265-248.708-45.258-247.834" transform="matrix(0.985, 0.174, -0.174, 0.985, 1593.858, 497.626)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_e u_position_5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1447.525 550.823" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M252.851,250.319c-407.08,161.747-523.838-125.789-797.472-85.286s-340.74,334.675-454.32,446.234-195.473,99.307-195.473,99.307" transform="translate(1194.489 -160.682)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_c u_position_6">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_e u_position_7">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1447.525 550.823" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M252.851,250.319c-407.08,161.747-523.838-125.789-797.472-85.286s-340.74,334.675-454.32,446.234-195.473,99.307-195.473,99.307" transform="translate(1194.489 -160.682)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_b u_position_8">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div> -->


    {# section top #}
    <div class="understand_feature_top_section top_go">
        
        <div class="t_description">
            <h1>e.Fingo專屬特色</h1>
            <p>我們為 e.Fingo 會員，<br> 
                全新打造「e.Fingo 點數」，<br>
                線上交易隨時累積 e.Fingo 會員點數， <br>
                可兌換超過 130 項商品，<br>
                並提供多項會員專屬活動及回饋，<br>
                滿足日常生活每一刻！</p>

        </div>
        <div class="svg_img">
            <img src="img/feature_01m.svg" alt="">
        </div>
        <div class="top_img">
            <div class="img_a01"><img src="img/feature_01.svg" alt=""></div>  
            <div class="img_a02"><img src="img/feature_02.svg" alt=""></div>
            <div class="img_a03"><img src="img/feature_03.svg" alt=""></div>
            <div class="img_a04"><img src="img/feature_04.svg" alt=""></div>
        </div>
    </div>

    {# section 1 #}
    <div class="understand_feature_section_a" id="f-point">
        
        <div class="t_description text-show_01 for_order_b">
            <h2>e.Fingo點數 <br>
            讓你把點數變成喜歡的模樣</h2>
            <p>10 項以上數位交易輕鬆累積點數，可兌換包括百貨票券、星巴克、餐飲券等超過 130 項商品唷～</p>
            <div class="btn_row">

                <a href="#" class="go_btn js-open-notice-01">體驗型</a>
                <a href="#" class="go_btn js-open-notice-02">交易型</a>

            </div>
        </div>

        <div class="svg_img for_order_a">
            <div class="bg_circle circle_01"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_01"><img src="img/feature_a.svg" alt=""></div>
        </div>
    </div>

    

    {# section 2 #}
    <div class="understand_feature_section_b">
        <h2>熱門商品 任你選擇</h2>
        <div class="item_row">
            <div class="shapping_item ">
                <div class="shapping_img"><img src="img/feature_b_01.svg" alt=""></div>   
                <div class="okm" style="position: relative">
                    <h3>食</h3>
                    <p>星巴克、哈根達斯...等</p>
                </div>
            </div>
            <div class="shapping_item ">
                <div class="shapping_img"><img src="img/feature_b_02.svg" alt=""></div>   
                <div class="okm" style="position: relative">
                <h3>購</h3>
                <p>全家購物金、微風禮券...等</p>
                </div>
            </div>
            <div class="shapping_item">
                <div class="shapping_img"><img src="img/feature_b_03.svg" alt=""></div>  
                <div class="okm" style="position: relative">
                <h3>抵</h3>
                <p>外幣跨行匯款手續費折抵...等</p>
                </div>
            </div>
        </div>
        <div class="exchange_row">
            <a href="https://esb.page.link/PointRedeem-Web">看更多兌換商品 <img src="img/arrow-r.svg" alt=""></a>
            <a href="understand_how-to-use.html#h-point">如何兌換<img src="img/arrow-r.svg" alt=""></a>
        </div>
    </div>

    {# section 3 #}
    <div class="understand_feature_section_a" id="f-team">
        <div class="t_description text-show_02">
            <h2>組隊活動</h2>
            <p>e.Fingo 將不定期推出組隊活動，你可能和你的朋友一起組成隊伍，完成指定任務累積積分即可獲得抽獎機會唷！</p>
            <div class="btn_row">
                <a href="#" class="go_btn">立即體驗</a>
            </div>
        </div>

        <div class="svg_img">
            <div class="bg_circle circle_02"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_02"><img src="img/feature_c.svg" alt=""></div>
        </div>
    </div>


    {# section 4 #}
    <div class="understand_feature_section_a">
        <div class="svg_img for_order_a">
            <div class="bg_circle circle_03"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_03"><img src="img/feature_d.svg" alt=""></div>
        </div>

        <div class="t_description text-show_03 for_order_b">
            <h2>點數移轉</h2>
            <p>你可以隨心所欲將 e.Fingo 點數轉給你的好朋友囉～</p>
            <div class="btn_row">
                <a href="#" class="go_btn">立即移轉</a>
            </div>
        </div>
    </div>
    


    {# section 5 #}
    <div class="understand_feature_section_a">
        <div class="t_description text-show_04">
            <h2>e.Fingo會員專屬權益 <br>
                好康享不完</h2>
            <p>e.Fingo 會員不僅享有會員專屬場活動，更享有不定期推出的跨領域優質回饋，包含雜誌免費試閱、藝文展覽票價優惠及會員專屬場活動唷～</p>
            <div class="btn_row">
                <a href="activity_news.html" class="go_btn">立即參加</a>
            </div>
        </div>
        <div class="svg_img">
            <div class="bg_circle circle_04"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_04"><img src="img/feature_e.svg" alt=""></div>
        </div>
    </div>
    
    {# section 6 #}
    <div class="understand_feature_section_a" id="f-bag" style="display: none;">
        <div class="svg_img for_order_a">
            <div class="bg_circle circle_05"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_05"><img src="img/feature_f.svg" alt=""></div>
        </div>

        <div class="t_description text-show_05 for_order_b">
            <h2>徽章</h2>
            <p>e.Fingo 替會員準備了各式各樣的徽章唷，完成指定任務即可獲得相對應徽章，快來蒐集吧～
                </p>
            <div class="btn_row">
                <a href="#" class="go_btn">徽章活動搶先看</a>
                <a href="#" class="go_btn">瞧瞧我的徽章</a>
            </div>
        </div>
    </div>

    {# section 7#}
    <div class="bottom_w">
        <div class="bottom_text">
            <h2>手機就是你的錢包和銀行</h2>
            <p>e.Fingo 整合玉山線上線下廣受好評的數位服務，顧客只要透過玉山行動銀行App<br>
                即可完成轉帳、買賣外幣等服務，讓你把金融服務帶著走。
            </p>
        </div>
    </div>

    <div class="for_height"></div>
</div>

{# notice #}
<div class="notice_section_top">
    <img src="img/notice_wave.svg" alt="">
</div>

<div class="notice_section">
    {% include 'component/warning_a.twig' %}
</div>

<!-- lightbox 1 -->
<div id="js-open-notice-01" class="notice-popup_text mfp-hide">
    <div class="notice-popup_content">
        <div class="understand-lightbox">
            <div class="women_01">
                <img src="img/l-img-01.svg" alt="">
            </div>
            <h3>體驗型任務</h3>
            <div class="item_row">
                
                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>首次開啟外幣到價通知</h4>
                    <p>首次於行動銀行 App 開啟外幣到價通知</p>
                    <p style="text-align: center">回饋 <span>5</span> 點</p>
                    <p style="text-align: center">首次係指 2020/12/30(含)以後</p>
                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>首次體驗基金 e 指選</h4>
                    <p>首次於行動銀行 App 完成體驗基金 e 指選服務</p>
                    <p style="text-align: center">回饋 <span>5</span> 點</p>
                    <p style="text-align: center">首次係指 2020/12/30(含)以後</p>
                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>首次開啟外幣到價通知</h4>
                    <p>首次於個人網路銀行成功註冊網路投保會員</p>
                    <p style="text-align: center">回饋 <span>5</span> 點</p>
                    <p style="text-align: center">首次係指 2020/12/30(含)以後</p>
                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>單筆基金停損停利通知設定 </h4>
                    <p>於個人網路銀行或行動銀行 APP 完成單筆共同基金交易者，並同時完成停損停利通知設定</p>
                    <p style="text-align: center">回饋 <span>5</span> 點</p>

                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>定期(不)定額基金停損停利通知設定</h4>
                    <p>於個人網路銀行完成定期 (不) 定額或行動銀行 App 完成定期定額(含大樂扣) 共同基金交易者，並同時完成停損停利通知設定</p>
                    <p style="text-align: center">回饋 <span>5</span> 點</p>

                </div>
            </div>
            <div class="btn_row">
                <a href="https://esb.page.link/PointMission-Web" class="go_btn">立即前往</a>
            </div>
        </div>
    </div>
</div>

<!-- lightbox 2 -->
<div id="js-open-notice-02" class="notice-popup_text mfp-hide">
    <div class="notice-popup_content">
        <div class="understand-lightbox">
            <h3>交易型任務</h3>
            <div class="item_row">
                <div class="women_02">
                    <img src="img/l-img-02.svg" alt="">
                </div>
                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>線上換匯（買＆賣）</h4>
                    <p>於個人網路銀行或行動銀行 App完成線上換匯（買＆賣）單筆交易每達等值 20,000 元</p>
                    <p style="text-align: center">回饋 <span>1</span> 點</p>
                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>外幣換外幣</h4>
                    <p>於個人網路銀行或行動銀行 App 完成外幣換外幣，單筆交易每達等值新台幣 20,000 元</p>
                    <p style="text-align: center">回饋 <span>1</span> 點</p>
                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>外幣跨行匯款</h4>
                    <p>於個人網路銀行進行外幣跨行匯款交易（每筆不限金額）</p>
                    <p style="text-align: center">回饋 <span>5</span> 點</p>
                    <p style="text-align: center">每筆交易即回饋一次</p>
                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>e 指信貸申請並撥款 </h4>
                    <p>於 e 指信貸通路，申請友貸並撥款完成</p>
                    <p style="text-align: center">回饋 <span>10</span> 點</p>
                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>e 指信貸完成線上對保</h4>
                    <p>於 e 指信貸通路，申請卡友貸並撥款完成，並於流程中以線上對保方式完成對保</p>
                    <p style="text-align: center">回饋 <span>10</span> 點</p>
                </div>

                <!-- lightbox_item -->
                <div class="lightbox_item">
                    <h4>e 指信貸設定本行扣款且10 日內撥款</h4>
                    <p>於 e 指信貸通路申請卡友貸並撥款完成，並設定玉山銀行為扣款行庫及對保後 10 日曆日完成撥款</p>
                    <p style="text-align: center">回饋 <span>10</span> 點</p>
                </div>
            </div>
            <div class="btn_row">
                <a href="https://esb.page.link/PointMission-Web" class="go_btn">立即前往</a>
            </div>
        </div>
    </div>
</div>


<script>

        $('.js-open-notice-01').magnificPopup({
            items: {
                src: '#js-open-notice-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.js-open-notice-02').magnificPopup({
            items: {
                src: '#js-open-notice-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });


        $(".img_a01").addClass('go_big')
        $(".img_a02").addClass('main_show_a02')
		$(".img_a03").addClass('main_show_a03')
		$(".img_a04").addClass('main_show_a04')

    // scroll Animation	
    $(window).scroll(function (event) {
        var scrollTop = $(window).scrollTop()

        if(scrollTop > $(".m_mobile_01").offset().top -500){
            $(".circle_01").addClass('go_big')
            $(".m_mobile_01").addClass('go_big')
            $(".text-show_01").addClass('show_text')
            
        }else{
            $(".circle_01").removeClass('go_big')
            $(".m_mobile_01").removeClass('go_big')
            $(".text-show_01").removeClass('show_text')
        }

        if(scrollTop > $(".m_mobile_02").offset().top -500){
            $(".circle_02").addClass('go_big')
            $(".m_mobile_02").addClass('go_big')
            $(".text-show_02").addClass('show_text')
        }else{
            $(".circle_02").removeClass('go_big')
            $(".m_mobile_02").removeClass('go_big')
            $(".text-show_02").removeClass('show_text')
        }

        if(scrollTop > $(".m_mobile_03").offset().top -500){
            $(".circle_03").addClass('go_big')
            $(".m_mobile_03").addClass('go_big')
            $(".text-show_03").addClass('show_text')
        }else{
            $(".circle_03").removeClass('go_big')
            $(".m_mobile_03").removeClass('go_big')
            $(".text-show_03").removeClass('show_text')
        }
        if(scrollTop > $(".m_mobile_04").offset().top -500){
            $(".circle_04").addClass('go_big')
            $(".m_mobile_04").addClass('go_big')
            $(".text-show_04").addClass('show_text')
        }else{
            $(".circle_04").removeClass('go_big')
            $(".m_mobile_04").removeClass('go_big')
            $(".text-show_04").removeClass('show_text')
        }
        if(scrollTop > $(".m_mobile_05").offset().top -500){
            $(".circle_05").addClass('go_big')
            $(".m_mobile_05").addClass('go_big')
            $(".text-show_05").addClass('show_text')
        }else{
            $(".circle_05").removeClass('go_big')
            $(".m_mobile_05").removeClass('go_big')
            $(".text-show_05").removeClass('show_text')
        }

        
    });


</script>
{% endblock %}