{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



{% include 'component/header.twig' %}
{# section top #}
<div class="understand_feature_wrapper">
<!-- svg animation -->
<div class="svg_curve_line_digital_a u_position_1">
    <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
    </svg>
</div>

<div class="svg_curve_line_digital_b u_position_2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>

<!-- <div class="svg_curve_line_digital_c u_position_3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
        <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div> -->



  <div class="how_to_use_section go_01">
    <h1>如何使用 e.Fingo ？</h1>
    <div class="how_to_use_row">
      <div class="mobile_screen for_order_a">
        <div class="y-cloud mm_1">
          <img src="img/y-cloud.svg" alt="">
        </div>

          <div class="mobile_wrap ">
			<div class="Bangs"></div>
              <div class="mobile_content_row row_a show-1" style="width: 900px">
                <div class="mobile_contnet"><img src="img/mobile_a_01.jpg" alt=""></div>
                <div class="mobile_contnet"><img src="img/mobile_a_02.jpg" alt=""></div>
                <div class="mobile_contnet"><img src="img/mobile_a_03.jpg" alt=""></div>
              </div>
          </div>
      </div>

      <div class="icon_switch for_order_b">
        <h2>e.Fingo 會員專區</h2>
        <div class="icon_btn_row">
          <div class="icon_btn m-01 green_circle" >
            <img src="img/use_icon_01.svg" alt="">
            <p>黑熊趣味互動</p>
          </div>
          
          <div class="icon_btn m-02">
            <img src="img/use_icon_02.svg" alt="">
            <p>取得我的代碼</p>
          </div>
          
          <div class="icon_btn m-03">
            <img src="img/use_icon_03.svg" alt="">
            <p>會員獨享活動</p>
          </div>
        </div>

        <div class="icon_text_01">
          <h3>黑熊趣味互動，黑熊想跟你說</h3>
          <p>快到 e.Fingo 會員專區跟黑熊聊天！ <br>
          每天都會說不一樣的話唷~</p>
        </div>

        <div class="icon_text_02 dn">
          <h3>邀請好友獲得抽獎機會，取得我的代碼</h3>
          <p>在 e.Fingo 會員專區點選「邀請+」<br>
            即可獲得您專屬的會員代碼</p>
        </div>

        <div class="icon_text_03 dn">
          <h3>會員獨享活動</h3>
          <p>在 e.Fingo 會員專區最下方，<br>即可查看最新活動消息</p>
        </div>
      </div>

      
    </div>
  </div>



	<div class="how_to_use_section go_02" id="h-point">
		<div class="how_to_use_row_multiple">
		
		<div class="icon_switch">
			<h2>e.Fingo 點數專區</h2>
			<div class="icon_btn_row">
				<!-- 1 -->
				<div class="icon_btn_multiple cc-01 green_circle" >
					<img src="img/point_icon_01.svg" alt="">
					<p style="line-height: 1.1">點數使用 <br> 歷程查詢</p>
				</div>
				<!-- 2 -->
				<div class="icon_btn_multiple cc-02">
					<img src="img/point_icon_02.svg" alt="">
					<p>兌換商品</p>
				</div>
				<!-- 3 -->
				<div class="icon_btn_multiple cc-03">
					<img src="img/point_icon_03.svg" alt="">
					<p>管理使用票券</p>
				</div>
				<!-- 4 -->
				<div class="icon_btn_multiple cc-04">
					<img src="img/point_icon_04.svg" alt="">
					<p>點數移轉</p>
				</div>
			</div>


			<div class="point_row">

			<!-- 1 -->
			<div class="point_01">
				<div class="for_flex"><h3>點數使用歷程查詢</h3></div>

				<div class="step_by">
					<div class="arrow_btn">
						<div class="btn btn_l_1"><i class="fas fa-caret-left"></i></div>
						<div class="step_num st-1">Step 1/3 </div>
						<div class="btn btn_r_1"><i class="fas fa-caret-right"></i></div>
					</div>
					<div class="icon_text_b_01">
						<h4>####</h4>
					</div>
				</div>
			</div>


			<!-- 2 -->
			<div class="point_02 dn">
				<div class="for_flex"><h3>兌換商品</h3></div>

				<div class="step_by">
					<div class="arrow_btn">
						<div class="btn btn_l_2"><i class="fas fa-caret-left"></i></div>
						<div class="step_num st-2">Step 1/3 </div>
						<div class="btn btn_r_2"><i class="fas fa-caret-right"></i></div>
					</div>
					<div class="icon_text_b_02">
						<h4>####</h4>
					</div>
				</div>
			</div>

			<!-- 3 -->
			<div class="point_03 dn">
				<div class="for_flex"><h3>管理使用票券</h3></div>

				<div class="step_by">
					<div class="arrow_btn">
						<div class="btn btn_l_3"><i class="fas fa-caret-left"></i></div>
						<div class="step_num st-3">Step 1/3 </div>
						<div class="btn btn_r_3"><i class="fas fa-caret-right"></i></div>
					</div>
					<div class="icon_text_b_03">
						<h4>####</h4>
					</div>
				</div>
			</div>

			<!-- 4 -->
			<div class="point_04 dn">
				<div class="for_flex"><h3>點數移轉</h3></div>

				<div class="step_by">
					<div class="arrow_btn">
						<div class="btn btn_l_4"><i class="fas fa-caret-left"></i></div>
						<div class="step_num st-4">Step 1/3 </div>
						<div class="btn btn_r_4"><i class="fas fa-caret-right"></i></div>
					</div>
					<div class="icon_text_b_04">
						<h4>####</h4>
					</div>
				</div>
			</div>
		</div>
		</div>


      <div class="mobile_screen">
        <div class="y-cloud mm_2">
          <img src="img/y-cloud.svg" alt="">
        </div>
        <div class="mobile_wrap">
			<div class="Bangs"></div>
            <!-- 1 -->
            <div class="mobile_content_row">
				<div class="mobile_contnet p_mobile"><img src="img/mobile_b_1-1.jpg" alt=""></div>
			
				</div>
            <!-- 2-->
            <div class="mobile_content_row dn">
				<div class="mobile_contnet p_mobile"><img src="img/mobile_b_2-1.jpg" alt=""></div>
			
            </div>
            <!-- 3 -->
            <div class="mobile_content_row dn">
				<div class="mobile_contnet p_mobile"><img src="img/mobile_b_3-1.jpg" alt=""></div>
				
            </div>
            <!-- 4 -->
            <div class="mobile_content_row dn">
				<div class="mobile_contnet p_mobile"><img src="img/mobile_b_4-1.jpg" alt=""></div>
			
            </div>
        </div>
      	</div>
    </div>
  </div>

  <div class="for_height"></div>
</div>


<script>

	var step_text = {
		circle_1:{
			step1_t: "Step 1/3",
			step1 : "<h4>進入行動銀行App中的「e.Fingo會 員」，點選「點數專區」</h4>",
			step1_phto: "<img src='img/mobile_b_1-1.jpg' alt=''>",
			step2_t: "Step 2/3",
			step2 : "<h4>點選「查詢」</h4>",
			step2_phto: "<img src='img/mobile_b_1-2.jpg' alt=''>",
			step3_t: "Step 3/3",
			step3 : "<h4>即可查看加點/扣點的歷史紀錄</h4>",
			step3_phto: "<img src='img/mobile_b_1-3.jpg' alt=''>"
		},
		circle_2:{
			step1_t: "Step 1/3",
			step1 : "<h4>進入行動銀行App中的「e.Fingo會 員」，點選「點數專區」</h4>",
			step1_phto: "<img src='img/mobile_b_2-1.jpg' alt=''>",
			step2_t: "Step 2/3",
			step2 : "<h4>點選「兌點」</h4>",
			step2_phto: "<img src='img/mobile_b_2-2.jpg' alt=''>",
			step3_t: "Step 3/3",
			step3 : "<h4>即可選擇您喜愛的商品兌換</h4>",
			step3_phto: "<img src='img/mobile_b_2-3.jpg' alt=''>"
		},
		circle_3:{
			step1_t: "Step 1/4",
			step1 : "<h4>進入行動銀行App中的「e.Fingo會 員」，點選「點數專區」</h4>",
			step1_phto: "<img src='img/mobile_b_3-1.jpg' alt=''>",
			step2_t: "Step 2/4",
			step2 : "<h4>點選「兌點」</h4>",
			step2_phto: "<img src='img/mobile_b_3-2.jpg' alt=''>",
			step3_t: "Step 3/4",
			step3 : "<h4>點選「我的票券」</h4>",
			step3_phto: "<img src='img/mobile_b_3-3.jpg' alt=''>",
			step4_t: "Step 4/4",
			step4 : "<h4>即可查看您的票券</h4>",
			step4_phto: "<img src='img/mobile_b_3-4.jpg' alt=''>"
		},
		circle_4:{
			step1_t: "Step 1/3",
			step1 : "<h4>進入行動銀行App中的「e.Fingo會 員」，點選「點數專區」</h4>",
			step1_phto: "<img src='img/mobile_b_4-1.jpg' alt=''>",
			step2_t: "Step 2/3",
			step2 : "<h4>點選「移轉」</h4>",
			step2_phto: "<img src='img/mobile_b_4-2.jpg' alt=''>",
			step3_t: "Step 3/3",
			step3 : "<h4>即可選擇轉入對象與點數</h4>",
			step3_phto: "<img src='img/mobile_b_4-3.jpg' alt=''>"
		}

	}

	$('.icon_text_b_01').html(step_text.circle_1.step1);
	$('.icon_text_b_02').html(step_text.circle_2.step1);
	$('.icon_text_b_03').html(step_text.circle_3.step1);
	$('.icon_text_b_04').html(step_text.circle_4.step1);
	$('.st-1').html(step_text.circle_1.step1_t);
	$('.st-2').html(step_text.circle_2.step1_t);
	$('.st-3').html(step_text.circle_3.step1_t);
	$('.st-4').html(step_text.circle_4.step1_t);

	var a = 1
	var b = 1
	var c = 1
	var d = 1
	// 1

	$(".btn_r_1").click(function(){
		a = a+1
		if(a > 3){
			a = 1
		}
		console.log(a)
		$('.icon_text_b_01').html(step_text.circle_1["step" + a]);
		$('.st-1').html(step_text.circle_1["step" + a + "_t"]);
		$('.p_mobile').html(step_text.circle_1["step" + a + "_phto"]);
		
	})
	$(".btn_l_1").click(function(){
		a = a-1
		if(a < 1){
			a = 3
		}
		console.log(a)
		$('.icon_text_b_01').html(step_text.circle_1["step" + a]);
		$('.st-1').html(step_text.circle_1["step" + a + "_t"]);
		$('.p_mobile').html(step_text.circle_1["step" + a + "_phto"]);

	})

	// 2
	$(".btn_r_2").click(function(){
		b = b+1
		if(b > 3){
			b = 1
		}
		$('.icon_text_b_02').html(step_text.circle_2["step" + b]);
		$('.st-2').html(step_text.circle_2["step" + b + "_t"]);
		$('.p_mobile').html(step_text.circle_2["step" + b+ "_phto"]);
	})
	$(".btn_l_2").click(function(){
		b = b-1
		if(b < 1){
			b = 3
		}
		$('.icon_text_b_02').html(step_text.circle_2["step" + b]);
		$('.st-2').html(step_text.circle_2["step" + b + "_t"]);
		$('.p_mobile').html(step_text.circle_2["step" + b + "_phto"]);
	})
	

	// 3
	$(".btn_r_3").click(function(){
		c = c+1
		if(c > 4){
			c = 1
		}
		$('.icon_text_b_03').html(step_text.circle_3["step" + c]);
		$('.st-3').html(step_text.circle_3["step" + c + "_t"]);
		$('.p_mobile').html(step_text.circle_3["step" + c + "_phto"]);
	})
	$(".btn_l_3").click(function(){
		c = c-1
		if(c < 1){
			c = 3
		}
		$('.icon_text_b_03').html(step_text.circle_3["step" + c]);
		$('.st-3').html(step_text.circle_3["step" + c + "_t"]);
		$('.p_mobile').html(step_text.circle_3["step" + c + "_phto"]);
	})

	// 4
	$(".btn_r_4").click(function(){
		d = d+1
		if(d > 3){
			d = 1
		}
		$('.icon_text_b_04').html(step_text.circle_4["step" + d]);
		$('.st-4').html(step_text.circle_4["step" + d + "_t"]);
		$('.p_mobile').html(step_text.circle_4["step" + d + "_phto"]);

	})
	$(".btn_l_4").click(function(){
		d = d-1
		if(d < 1){
			d = 3
		}
		$('.icon_text_b_04').html(step_text.circle_4["step" + d]);
		$('.st-4').html(step_text.circle_4["step" + a + "_t"]);
		$('.p_mobile').html(step_text.circle_4["step" + d + "_phto"]);

	})

	$(".cc-01").click(function(){
		
		console.log(a)
		$(this).addClass("green_circle")
		$(this).siblings().removeClass("green_circle")
		$(".point_01").removeClass("dn").siblings().addClass("dn")
		$(".mmm1").removeClass("dn").siblings().addClass("dn")
		a = 1
		$('.icon_text_b_01').html(step_text.circle_1["step" + a]);
		$('.st-1').html(step_text.circle_1["step" + a + "_t"]);
		$('.p_mobile').html(step_text.circle_1["step" + a + "_phto"]);
	})
	$(".cc-02").click(function(){
		$(this).addClass("green_circle")
		$(this).siblings().removeClass("green_circle")
		$(".point_02").removeClass("dn").siblings().addClass("dn")
		$(".mmm2").removeClass("dn").siblings().addClass("dn")

		b = 1
		$('.icon_text_b_02').html(step_text.circle_1["step" + b]);
		$('.st-2').html(step_text.circle_1["step" + b + "_t"]);
		$('.p_mobile').html(step_text.circle_1["step" + b + "_phto"]);
	})
	$(".cc-03").click(function(){
		$(this).addClass("green_circle")
		$(this).siblings().removeClass("green_circle")
		$(".point_03").removeClass("dn").siblings().addClass("dn")
		$(".mmm3").removeClass("dn").siblings().addClass("dn")

		c = 1
		$('.icon_text_b_03').html(step_text.circle_1["step" + c]);
		$('.st-3').html(step_text.circle_1["step" + c + "_t"]);
		$('.p_mobile').html(step_text.circle_1["step" + c + "_phto"]);
	})
	$(".cc-04").click(function(){
		$(this).addClass("green_circle")
		$(this).siblings().removeClass("green_circle")
		$(".point_04").removeClass("dn").siblings().addClass("dn")
		$(".mmm4").removeClass("dn").siblings().addClass("dn")

		d = 1
		$('.icon_text_b_04').html(step_text.circle_1["step" + d]);
		$('.st-4').html(step_text.circle_1["step" + d + "_t"]);
		$('.p_mobile').html(step_text.circle_1["step" + d + "_phto"]);
	})




</script>

{# notice #}
<script>
    $('.js-open-notice-01').magnificPopup({
        items: {
            src: '#js-open-notice-01',
            type: 'inline'
        },
        mainClass: 'mfp-fade',
        removalDelay: 300,
        midClick: true
    });
    $('.js-open-notice-02').magnificPopup({
        items: {
            src: '#js-open-notice-02',
            type: 'inline'
        },
        mainClass: 'mfp-fade',
        removalDelay: 300,
        midClick: true
    });


  $(".img_a01").addClass('go_big')
  $(".img_a02").addClass('main_show_a02')
  $(".img_a03").addClass('main_show_a03')
  $(".img_a04").addClass('main_show_a04')

  // scroll Animation	
  $(window).scroll(function (event) {
      var scrollTop = $(window).scrollTop()

      if(scrollTop > $(".go_01").offset().top -50){
          $(".mm_1").addClass('go_big')
      }else{
          $(".mm_1").removeClass('go_big')
      }

      if(scrollTop > $(".go_02").offset().top -500){
          $(".mm_2").addClass('go_big')
      }else{
          $(".mm_2").removeClass('go_big')
      }

  });

</script>

<script>
  $(".m-01").click(function(){
    console.log("aaaa")
    $(".row_a").removeClass("show-1")
    $(".row_a").removeClass("show-2")
    $(".row_a").removeClass("show-3")
    $(".row_a").addClass("show-1")
    $(this).siblings().removeClass("green_circle")
    $(this).addClass("green_circle")
    $(".icon_text_01").removeClass("dn")
    $(".icon_text_02").addClass("dn")
    $(".icon_text_03").addClass("dn")
  })

$(".m-02").click(function(){
  $(".row_a").removeClass("show-1")
  $(".row_a").removeClass("show-2")
  $(".row_a").removeClass("show-3")
  $(".row_a").addClass("show-2")
  $(this).siblings().removeClass("green_circle")
  $(this).addClass("green_circle")
  $(".icon_text_02").removeClass("dn")
  $(".icon_text_01").addClass("dn")
  $(".icon_text_03").addClass("dn")
})
$(".m-03").click(function(){
  $(".row_a").removeClass("show-1")
  $(".row_a").removeClass("show-2")
  $(".row_a").removeClass("show-3")

  $(".row_a").addClass("show-3")
  $(this).siblings().removeClass("green_circle")
  $(this).addClass("green_circle")
  $(".icon_text_03").removeClass("dn")
  $(".icon_text_01").addClass("dn")
  $(".icon_text_02").addClass("dn")
})

</script>
{% endblock %}