{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}
<div class="understand_feature_wrapper">·
	<!-- svg animation -->
	<div class="svg_curve_line_digital_a u_position_1">
        <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_b u_position_2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_c u_position_3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <!-- <div class="svg_curve_line_digital_d u_position_4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1592.463 1389.514" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,820.272s164.811,163.654,323.709,56.413-7.572-321.755,155.424-464.317,334.839-12.1,582.387-145.568S-53.265-248.708-45.258-247.834" transform="matrix(0.985, 0.174, -0.174, 0.985, 1593.858, 497.626)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div> -->


	{# section top #}
	<div class="understand_feature_top_section">
		<div class="t_description">
			<h1>e.Fingo 品牌故事</h1>
			<p style="margin-bottom: 20px">e.Fingo 是玉山銀行的數位金融品牌<br>
				串聯行動銀行 App、Wallet App、e 指系列等數位金融產品 / 服務提供顧客全方位的數位服務</p>
			<p>加入 e.Fingo 會員，完成指定交易，就能輕鬆累積點數，還享有跨提跨轉優惠及多項會員專屬權益。</p>

		</div>
		<div class="svg_img"><img src="img/brand_01.svg" alt=""></div>
		<div class="top_img">
            <div class="img_b01"><img src="img/brand_top_01.svg" alt=""></div>  
            <div class="img_b02"><img src="img/brand_top_02.svg" alt=""></div>
            <div class="img_b03"><img src="img/brand_top_03.svg" alt=""></div>
        </div>
	</div>


	{# section 1 #}
	<div class="understand_feature_section_a">
		<div class="svg_img for_order_a">
			<div class="bg_circle circle_01"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_01 aaa"><img src="img/brand_02.png" alt=""></div>
		</div>

		<div class="t_description text-show_01 for_order_b">
			<h2>e.Fingo 是什麼？ </h2>
			<p>e.Fingo 是玉山銀行的數位金融品牌，串聯玉山行動銀行 App、玉山 Wallet App、e 指系列等數位產品。 <br><br>
			
			加入 e.Fingo 後，完成線上交易/服務獲得點數，e.Fingo 點數可用於商品兌換，還可折抵手續費、利息等，讓每次交易成為後續往來基礎，打造點數循環。<br><br>
			e.Fingo 會員享跨提跨轉優惠各 5 次，不定期還有會員專屬的優惠/活動，如外匯特匯日優惠、基金優惠、貸款方案，以及異業合作優惠。</p>
			
		</div>
	</div>



	{# section 2 #}
	<div class="understand_feature_section_a">
		<div class="t_description text-show_02">
			<h2>品牌理念</h2>
			<p>e.Fingo 的 e 表示 e 化、Experience (體驗)、E.SUN，希望延續玉山實體分行提供顧客美好的服務體驗帶到數位上，e.Fingo 意即 Your Financial Service to Go，希望讓顧客可以輕鬆的把金融服務帶著走。 <br><br>
			
			繽紛的色彩代表 e.Fingo 提供多元的數位產品及服務，三角形連結玉山山的意象，與i結合如同資訊指標般，讓顧客透過 e.Fingo 解決金融生活的大小事。 </p>
		</div>

		<div class="svg_img">
			<div class="bg_circle circle_02"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_02"><img src="img/brand_03.png" alt=""></div>
		</div>
	</div>

	{# section 3 #}
	<div class="bottom_w">
    <div class="bottom_text">
        <p>立即加入 e.Fingo</p>
		<div class="btn_row">
			<a href="understand_how-to-join.html" class="go_btn">加入步驟</a>
		</div>
    </div>
	</div>	



<div class="for_height"></div>
</div>
{# notice #}
<div class="notice_section_top">
		<img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
    {% include 'component/warning_a.twig' %}
</div>

<script>
	$(function(){
		$('.js-open-notice-01').magnificPopup({
			items: {
					src: '#js-open-notice-01',
					type: 'inline'
			},
			mainClass: 'mfp-fade',
			removalDelay: 300,
			midClick: true
		});
		

		$(".img_b01").addClass('go_big')
        $(".img_b02").addClass('main_show_b02')
		$(".img_b03").addClass('main_show_b03')

		// scroll Animation	
		$(window).scroll(function (event) {
			var scrollTop = $(window).scrollTop() ;
			if(scrollTop > $(".m_mobile_01").offset().top -500){
				$(".circle_01").addClass('go_big')
				$(".m_mobile_01").addClass('go_big')
				$(".text-show_01").addClass('show_text')
				
			}else{
				$(".circle_01").removeClass('go_big')
				$(".m_mobile_01").removeClass('go_big')
				$(".text-show_01").removeClass('show_text')
			}
	
			if(scrollTop > $(".m_mobile_02").offset().top -500){
				$(".circle_02").addClass('go_big')
				$(".m_mobile_02").addClass('go_big')
				$(".text-show_02").addClass('show_text')
			}else{
				$(".circle_02").removeClass('go_big')
				$(".m_mobile_02").removeClass('go_big')
				$(".text-show_02").removeClass('show_text')
			}
			
		});
	});
</script>
{% endblock %}