{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<script>
$(document).on('ready', function() {

    $(".m-01").click(function(){
      $(".row_a").removeClass("show-1")
      $(".row_a").removeClass("show-2")
      $(".row_a").removeClass("show-3")
      $(".row_a").addClass("show-1")
      $(this).siblings().removeClass("green_citcle")
      $(this).addClass("green_citcle")
      $(".icon_text_01").removeClass("dn")
      $(".icon_text_02").addClass("dn")
      $(".icon_text_03").addClass("dn")
    })

  $(".m-02").click(function(){
    $(".row_a").removeClass("show-1")
    $(".row_a").removeClass("show-2")
    $(".row_a").removeClass("show-3")
    $(".row_a").addClass("show-2")
    $(this).siblings().removeClass("green_citcle")
    $(this).addClass("green_citcle")
    $(".icon_text_02").removeClass("dn")
    $(".icon_text_01").addClass("dn")
    $(".icon_text_03").addClass("dn")
  })
  $(".m-03").click(function(){
    $(".row_a").removeClass("show-1")
    $(".row_a").removeClass("show-2")
    $(".row_a").removeClass("show-3")

    $(".row_a").addClass("show-3")
    $(this).siblings().removeClass("green_citcle")
    $(this).addClass("green_citcle")
    $(".icon_text_03").removeClass("dn")
    $(".icon_text_01").addClass("dn")
    $(".icon_text_02").addClass("dn")
  })


  
  $(".g-01").click(function(){
    $(".row_b").removeClass("show-1")
    $(".row_b").removeClass("show-2")
    $(".row_b").removeClass("show-3")
    $(".row_b").removeClass("show-4")

    $(".row_b").addClass("show-1")
    $(this).siblings().removeClass("green_citcle")
    $(this).addClass("green_citcle")
    $(".icon_text_b_01").removeClass("dn")
    $(".icon_text_b_02").addClass("dn")
    $(".icon_text_b_03").addClass("dn")
    $(".icon_text_b_04").addClass("dn")
  })

  $(".g-02").click(function(){
    $(".row_b").removeClass("show-1")
    $(".row_b").removeClass("show-2")
    $(".row_b").removeClass("show-3")
    $(".row_b").removeClass("show-4")


    $(".row_b").addClass("show-2")
    $(this).siblings().removeClass("green_citcle")
    $(this).addClass("green_citcle")
    $(".icon_text_b_02").removeClass("dn")
    $(".icon_text_b_01").addClass("dn")
    $(".icon_text_b_03").addClass("dn")
    $(".icon_text_b_04").addClass("dn")
  })

  $(".g-03").click(function(){
    $(".row_b").removeClass("show-1")
    $(".row_b").removeClass("show-2")
    $(".row_b").removeClass("show-3")
    $(".row_b").removeClass("show-4")


    $(".row_b").addClass("show-3")
    $(this).siblings().removeClass("green_citcle")
    $(this).addClass("green_citcle")
    $(".icon_text_b_03").removeClass("dn")
    $(".icon_text_b_01").addClass("dn")
    $(".icon_text_b_02").addClass("dn")
    $(".icon_text_b_04").addClass("dn")
  })

  $(".g-04").click(function(){
    $(".row_b").removeClass("show-1")
    $(".row_b").removeClass("show-2")
    $(".row_b").removeClass("show-3")
    $(".row_b").removeClass("show-4")


    $(".row_b").addClass("show-4")
    $(this).siblings().removeClass("green_citcle")
    $(this).addClass("green_citcle")
    $(".icon_text_b_04").removeClass("dn")
    $(".icon_text_b_01").addClass("dn")
    $(".icon_text_b_03").addClass("dn")
    $(".icon_text_b_02").addClass("dn")
  })

});
</script>


{% include 'component/header.twig' %}
{# section top #}
<div class="understand_feature_wrapper">
  <!-- svg animation -->
  <div class="svg_curve_line_digital_a u_position_1">
    <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
    </svg>
</div>

<div class="svg_curve_line_digital_b u_position_2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>

<div class="svg_curve_line_digital_c u_position_3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
        <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>



  <div class="how_to_use_section">
    <h1>如何使用 e.Fingo ？</h1>
    <div class="how_to_use_row">
      <div class="mobile_screen for_order_a">
        <div class="y-cloud">
          <img src="img/y-cloud.svg" alt="">
        </div>

          <div class="mobile_wrap ">
              <div class="mobile_content_row row_a show-1" style="width: 705px">
                <div class="mobile_contnet"><img src="img/mobile_a_01.jpg" alt=""></div>
                <div class="mobile_contnet"><img src="img/mobile_a_02.jpg" alt=""></div>
                <div class="mobile_contnet"><img src="img/mobile_a_03.jpg" alt=""></div>
              </div>
          </div>
      </div>

      <div class="icon_switch for_order_b">
        <h2>e.Fingo 會員專區</h2>
        <div class="icon_btn_row">
          <div class="icon_btn m-01 green_citcle" >
            <img src="img/use_icon_01.svg" alt="">
            <p>黑熊趣味互動</p>
          </div>
          
          <div class="icon_btn m-02">
            <img src="img/use_icon_02.svg" alt="">
            <p>取得我的代碼</p>
          </div>
          
          <div class="icon_btn m-03">
            <img src="img/use_icon_03.svg" alt="">
            <p>會員獨享活動</p>
          </div>
        </div>

        <div class="icon_text_01">
          <h3>黑熊趣味互動，黑熊想跟你說</h3>
          <h4>快到 e.Fingo 會員專區跟黑熊聊天！ <br>
          每天都會說不一樣的話唷~</h4>
        </div>

        <div class="icon_text_02 dn">
          <h3>邀請好友獲得抽獎機會，取得我的代碼</h3>
          <h4>在 e.Fingo 會員專區點選「邀請+」<br>
            即可獲得您專屬的會員代碼</h4>
        </div>

        <div class="icon_text_03 dn">
          <h3>會員獨享活動</h3>
          <h4>在 e.Fingo 會員專區最下方，<br>即可查看最新活動消息</h4>
        </div>
      </div>

      
    </div>
  </div>



  <div class="how_to_use_section" id="h-point">
    <div class="how_to_use_row">
      
      <div class="icon_switch">
        <h2>e.Fingo 點數專區</h2>
        <div class="icon_btn_row">
          <div class="icon_btn g-01 green_citcle" >
            <img src="img/point_icon_01.svg" alt="">
            <p>點數使用歷程查詢</p>
          </div>
          
          <div class="icon_btn g-02">
            <img src="img/point_icon_02.svg" alt="">
            <p>兌換商品</p>
          </div>
          
          <div class="icon_btn g-03">
            <img src="img/point_icon_03.svg" alt="">
            <p>管理使用票券</p>
          </div>

          <div class="icon_btn g-04">
            <img src="img/point_icon_04.svg" alt="">
            <p>點數移轉</p>
          </div>


        </div>

        <div class="icon_text_b_01">
          <h3>點數使用歷程查詢</h3>
          <h4>Step 1 <br>
            進入行動銀行App中的「e.Fingo會員」，點選「點數專區」</h4>
        </div>

        <div class="icon_text_b_02 dn">
          <h3>兌換商品</h3>
          <h4>Step 2 <br>
            進入行動銀行App中的「e.Fingo會員」，點選「點數專區」</h4>
        </div>

        <div class="icon_text_b_03 dn">
          <h3>管理使用票券</h3>
          <h4>Step 3 <br>
            進入行動銀行App中的「e.Fingo會員」，點選「點數專區」</h4>
        </div>

        <div class="icon_text_b_04 dn">
          <h3>點數移轉</h3>
          <h4>Step 4 <br>
            進入行動銀行App中的「e.Fingo會員」，點選「點數專區」</h4>
        </div>

      </div>

      <div class="mobile_screen">
        <div class="y-cloud">
          <img src="img/y-cloud.svg" alt="">
        </div>

          <div class="mobile_wrap">
              <div class="mobile_content_row row_b show-1" style="width: 940px">
                <div class="mobile_contnet"><img src="img/mobile_a_01.jpg" alt=""></div>
                <div class="mobile_contnet"><img src="img/mobile_a_02.jpg" alt=""></div>
                <div class="mobile_contnet"><img src="img/mobile_a_03.jpg" alt=""></div>
                <div class="mobile_contnet"><img src="img/mobile_a_01.jpg" alt=""></div>
              </div>
          </div>
      </div>
    </div>
  </div>


  <div class="for_height"></div>
</div>



{# notice #}
<div class="notice_section_top">
  <img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
  <div class="notice_loan_content">
      <div class="d-text">
          <p>  <b>數位貸款（如有說到利率）</b></p>   
          <p>貸款總費用年百分率說明： 貸款總費用年百分率約2.61%~11.25%。最高可貸款金額：新臺幣30萬元。貸款期間：7年。貸款年利率：2.38%~11%。各項相關費用總金額1,688元（含申請時收取信用查詢費300元）。本廣告揭露之年百分率係按主管機關備查之標準計算範例予以計算，實際貸款條件，仍以銀行提供之產品為準，且每一顧客實際之年百分率仍以其個別貸款產品及授信條件而有所不同。總費用年百分率不等於貸款利率。本總費用年百分率之計算基準日係依據活動專案適用起日之本行定儲利率指數調整日期訂定之，請詳閱本行官網定儲利率指數說明。</p>
          <br>
          <p><a href=""><b> 共同基金投資警語</b></a></p>
          <p>各基金經金管會核准或同意生效，惟不表示絕無風險，本行及基金經理公司以往之經理績效不保證基金之最低投資收益；本行及基金經理公司除盡善良管理人之注意義務外，不負責各基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。投資基金所應承擔之相關風險及應負擔之費用(含分銷費用等)已揭露於基金公開說明書或投資人須知中，投資人可至<a href="">公開資訊觀測站</a>或<a href="">境外基金資訊觀測站</a>查閱。基金並非存款，基金投資非屬存款保險承保範圍投資人需自負盈虧。基金投資具投資風險，此一風險可能使本金發生虧損，其中可能之最大損失為全部信託本金。投資人應依其自行判斷進行投資。</p>
          <p style="margin-left: 20px;">•「基金ｅ指選」所提供之資訊僅供參考用途。本行當盡力提供正確之資訊，所載資料均來自或本諸我們相信可靠之來源，但對其完整性、即時性和正確性不做任何擔保，如有錯漏或疏忽，本行並不負任何法律責任。任何人因信賴此等資料而做出或改變投資決策，應審慎衡量本身之需求及投資風險，並就投資結果自行負責。未經本行許可，相關資料及訊息不得逕行抄錄、翻印或另作派發。</p>
          <p style="margin-left: 20px;">•「基金ｅ指選」非屬機器人理財及投資顧問服務，而屬於輔助性功能，投資人保有自主調整及最終決定之權利，故不適用「中華民國證券投資信託暨顧問商業同業公會證券投資顧問事業以自動化工具提供證券投資顧問服務(Robo-Advisor)作業要點」。顧客每次使用本服務需透過「玉山銀行基金e指選自主投資聲明書」進行意思表示確有投資理財需求，主動請求本行提供相關理財資訊。</p>
          <br>
          <p><b>謹慎理財 信用無價</b></p>
          <p>信用卡循環利率：5.88%-15%(依本行電腦評等而訂，基準日：2015/9/1)預借現金手續費(依預借現金約定結付幣別區分)：預借現金金額x3.5%+(新臺幣100元/3.5美元/350日圓/2.5歐元) 。其他相關費率依本行網站及申請書公告</p>

      </div>
  </div>

  <div class="for_height"></div>
</div>
{% endblock %}