{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}
<div class="understand_feature_wrapper">·
	<!-- svg animation -->
	<div class="svg_curve_line_digital_a u_position_1">
        <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_b u_position_2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_c u_position_3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_d u_position_4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1592.463 1389.514" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M-1457,820.272s164.811,163.654,323.709,56.413-7.572-321.755,155.424-464.317,334.839-12.1,582.387-145.568S-53.265-248.708-45.258-247.834" transform="matrix(0.985, 0.174, -0.174, 0.985, 1593.858, 497.626)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_e u_position_5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1447.525 550.823" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M252.851,250.319c-407.08,161.747-523.838-125.789-797.472-85.286s-340.74,334.675-454.32,446.234-195.473,99.307-195.473,99.307" transform="translate(1194.489 -160.682)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_c u_position_6">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_e u_position_7">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1447.525 550.823" class="go">
            <path id="Path_1638" data-name="Path 1638" d="M252.851,250.319c-407.08,161.747-523.838-125.789-797.472-85.286s-340.74,334.675-454.32,446.234-195.473,99.307-195.473,99.307" transform="translate(1194.489 -160.682)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

    <div class="svg_curve_line_digital_b u_position_8">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
            <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
        </svg>
    </div>

	{# section top #}
	<div class="understand_feature_top_section">
		<div class="t_description">
			<h1>e.Fingo 品牌故事</h1>
			<h4 style="margin-bottom: 20px">e.Fingo 是玉山銀行的數位金融品牌<br>
				串聯行動銀行 App、Wallet App、e 指系列等數位金融產品 / 服務提供顧客全方位的數位服務</h4>
			<p>加入 e.Fingo 會員，完成指定交易，就能輕鬆累積點數，還享有跨提跨轉優惠及多項會員專屬權益。</p>

		</div>
		<div class="svg_img"><img src="img/join_01.svg" alt=""></div>
		<div class="top_img">
            <div class="img_b01"><img src="img/brand_top_01.svg" alt=""></div>  
            <div class="img_b02"><img src="img/brand_top_02.svg" alt=""></div>
            <div class="img_b03"><img src="img/brand_top_03.svg" alt=""></div>
        </div>
	</div>


	{# section 1 #}
	<div class="understand_feature_section_a">
		<div class="svg_img for_order_a">
			<div class="bg_circle circle_01"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_01"><img src="img/brand_02.png" alt=""></div>
		</div>

		<div class="t_description text-show_01 for_order_b">
			<h2>e.Fingo 是什麼？ </h2>
			<p>e.Fingo 是玉山銀行的數位金融品牌，串聯玉山行動銀行 App、玉山 Wallet App、e 指系列等數位產品。 <br><br>
			
			加入 e.Fingo 後，完成線上交易/服務獲得點數，e.Fingo 點數可用於商品兌換，還可折抵手續費、利息等，讓每次交易成為後續往來基礎，打造點數循環。e.Fingo 會員享跨提跨轉優惠各 5 次，不定期還有會員專屬的優惠/活動，如外匯特匯日優惠、基金優惠、貸款方案，以及異業合作優惠。</p>
			
		</div>
	</div>



	{# section 2 #}
	<div class="understand_feature_section_a">
		<div class="t_description text-show_02">
			<h2>品牌理念</h2>
			<p>e.Fingo 的 e 表示 e 化、Experience (體驗)、E.SUN，希望延續玉山實體分行提供顧客美好的服務體驗帶到數位上，e.Fingo 意即 Your Financial Service to Go，希望讓顧客可以輕鬆的把金融服務帶著走。 <br><br>
			
			繽紛的色彩代表 e.Fingo 提供多元的數位產品及服務，三角形連結玉山山的意象，與i結合如同資訊指標般，讓顧客透過 e.Fingo 解決金融生活的大小事。 </p>
		</div>

		<div class="svg_img">
			<div class="bg_circle circle_02"><img src="img/yellow_circle.svg" alt=""></div>
			<div class="p-img m_mobile_02"><img src="img/brand_03.png" alt=""></div>
		</div>
	</div>

	{# section 3 #}
	<div class="bottom_w">
    <div class="bottom_text">
        <h2>立即加入 e.Fingo</h2>
		<div class="btn_row">
			<a href="understand_how-to-join.html" class="go_btn">加入步驟</a>
		</div>
    </div>
	</div>	



<div class="for_height"></div>
</div>
{# notice #}
<div class="notice_section_top">
		<img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
	<div class="notice_loan_content">
		<div class="d-text">
			<p>  <b>數位貸款（如有說到利率）</b></p>   
			<p>貸款總費用年百分率說明： 貸款總費用年百分率約2.61%~11.25%。最高可貸款金額：新臺幣30萬元。貸款期間：7年。貸款年利率：2.38%~11%。各項相關費用總金額1,688元（含申請時收取信用查詢費300元）。本廣告揭露之年百分率係按主管機關備查之標準計算範例予以計算，實際貸款條件，仍以銀行提供之產品為準，且每一顧客實際之年百分率仍以其個別貸款產品及授信條件而有所不同。總費用年百分率不等於貸款利率。本總費用年百分率之計算基準日係依據活動專案適用起日之本行定儲利率指數調整日期訂定之，請詳閱本行官網定儲利率指數說明。</p>
			<br>
			<p><a href=""><b> 共同基金投資警語</b></a></p>
			<p>各基金經金管會核准或同意生效，惟不表示絕無風險，本行及基金經理公司以往之經理績效不保證基金之最低投資收益；本行及基金經理公司除盡善良管理人之注意義務外，不負責各基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。投資基金所應承擔之相關風險及應負擔之費用(含分銷費用等)已揭露於基金公開說明書或投資人須知中，投資人可至<a href="">公開資訊觀測站</a>或<a href="">境外基金資訊觀測站</a>查閱。基金並非存款，基金投資非屬存款保險承保範圍投資人需自負盈虧。基金投資具投資風險，此一風險可能使本金發生虧損，其中可能之最大損失為全部信託本金。投資人應依其自行判斷進行投資。</p>
			<p style="margin-left: 20px;">•「基金ｅ指選」所提供之資訊僅供參考用途。本行當盡力提供正確之資訊，所載資料均來自或本諸我們相信可靠之來源，但對其完整性、即時性和正確性不做任何擔保，如有錯漏或疏忽，本行並不負任何法律責任。任何人因信賴此等資料而做出或改變投資決策，應審慎衡量本身之需求及投資風險，並就投資結果自行負責。未經本行許可，相關資料及訊息不得逕行抄錄、翻印或另作派發。</p>
			<p style="margin-left: 20px;">•「基金ｅ指選」非屬機器人理財及投資顧問服務，而屬於輔助性功能，投資人保有自主調整及最終決定之權利，故不適用「中華民國證券投資信託暨顧問商業同業公會證券投資顧問事業以自動化工具提供證券投資顧問服務(Robo-Advisor)作業要點」。顧客每次使用本服務需透過「玉山銀行基金e指選自主投資聲明書」進行意思表示確有投資理財需求，主動請求本行提供相關理財資訊。</p>
			<br>
			<p><b>謹慎理財 信用無價</b></p>
			<p>信用卡循環利率：5.88%-15%(依本行電腦評等而訂，基準日：2015/9/1)預借現金手續費(依預借現金約定結付幣別區分)：預借現金金額x3.5%+(新臺幣100元/3.5美元/350日圓/2.5歐元) 。其他相關費率依本行網站及申請書公告</p>

		</div>
	</div>
	<div class="for_height"></div>
</div>

<script>
	$(function(){
		$('.js-open-notice-01').magnificPopup({
			items: {
					src: '#js-open-notice-01',
					type: 'inline'
			},
			mainClass: 'mfp-fade',
			removalDelay: 300,
			midClick: true
		});
		

		$(".img_b01").addClass('go_big')
        $(".img_b02").addClass('main_show_b02')
		$(".img_b03").addClass('main_show_b03')

		// scroll Animation	
		$(window).scroll(function (event) {
			var scrollTop = $(window).scrollTop() ;
			if(scrollTop > $(".m_mobile_01").offset().top -500){
				$(".circle_01").addClass('go_big')
				$(".m_mobile_01").addClass('go_big')
				$(".text-show_01").addClass('show_text')
				
			}else{
				$(".circle_01").removeClass('go_big')
				$(".m_mobile_01").removeClass('go_big')
				$(".text-show_01").removeClass('show_text')
			}
	
			if(scrollTop > $(".m_mobile_02").offset().top -500){
				$(".circle_02").addClass('go_big')
				$(".m_mobile_02").addClass('go_big')
				$(".text-show_02").addClass('show_text')
			}else{
				$(".circle_02").removeClass('go_big')
				$(".m_mobile_02").removeClass('go_big')
				$(".text-show_02").removeClass('show_text')
			}
			
		});
	});
</script>
{% endblock %}