{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

{% include 'component/header.twig' %}
<div class="understand_feature_wrapper">
  <!-- svg animation -->
  <div class="svg_curve_line_digital_a u_position_1">
    <svg xmlns="http://www.w3.org/2000/svg" width="800" height="734.147" viewBox="0 0 916.512 734.147" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M-1457,426.681s106.95,103.349,210.063,35.625-4.913-203.191,100.858-293.219,217.285-7.639,377.924-91.927,222.07-325.547,227.266-324.995" transform="translate(1457.345 248.333)" fill="none" stroke="#d8c750" stroke-width=".7"/>
    </svg>
</div>

<div class="svg_curve_line_digital_b u_position_2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1497.912 409.655" class="go">
        <path id="Path_1637" data-name="Path 1637" d="M226.481,1485.745s146.741-117.18,129.045-281.876S160.055,1147.93,122.35,972.635,213.52,667.321,206.132,417.3-2.878,7.075,0,0" transform="matrix(-0.035, -0.999, 0.999, -0.035, 12.665, 409.162)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>

<div class="svg_curve_line_digital_c u_position_3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1631.098 1104.353" class="go">
        <path id="Path_1638" data-name="Path 1638" d="M595.352,611.267S365.228,205.535,16.726,165.033-480.481,412.066-998.942,250.319" transform="translate(827.539 116.755) rotate(-26)" fill="none" stroke="#d8c750" stroke-width=".5"/>
    </svg>
</div>

  {# section top #}
	<div class="understand_feature_top_section">
		<div class="t_description">
			<h1>如何加入 e.Fingo ？</h1>
			<h2>Step 1 : 擁有一張指定卡片＋臺幣帳戶 <span>（含數位存款帳戶）</span></h2>
      {# <p style="font-size: 12px; text-align: right"></p> #}
      <h2>Step 2 : 下載玉山行動銀行 App </h2>
      <h2>Step 3 : 在 App 中找到「e.Fingo 會員專區」<span>（側邊欄，或是首頁介紹卡片）</span> </h2>
			<p ></p>

		</div>
		<div class="svg_img"><img src="img/join_01m.svg" alt=""></div>
		<div class="top_img">
      <div class="img_c01"><img src="img/join_01.svg" alt=""></div>  
      <div class="img_c02"><img src="img/join_02.svg" alt=""></div>
    </div>
	</div>

  <div class="join_section_b">
    <div class="item_row">
      <!-- join_item -->
      <div class="join_item">
        <div class="step_bg">
          <h4>1</h4>
          <h4>STEP </h4>
        </div>
        <!--apl-1-->
        <div class="apl-1">
          <img src="img/go_apply_i01.svg" alt="">
          <div class="t-des">
            <p>玉山 Only 卡</p>
            <p>玉山 U Bear 信用卡</p>
            <p>玉山 Pi 拍錢包信用卡</p>
            <p>玉山 Pi 拍兔簽帳金融卡</p>
          </div>
        </div>
        <div class="item_link">
          <h4>指定卡片</h4>
          <a href="https://card.esunbank.com.tw/EsunCreditweb/txnproc/preApplyCard?ven=efingo">立即辦卡</a>
        </div>

        <img src="img/go_apply_i02.svg" alt="">
        <img src="img/go_apply_i03.svg" alt="">
        
        <div class="item_link">
          <h4>臺幣帳戶</h4>
          <p>（含數位存款帳戶）</p>
          <a href="https://www.esunbank.com.tw/event/OpenAccount/marketing/index.html?ven=efingo">立即開戶</a>
        </div>
      </div>

      <!-- join_item -->
      <div class="join_item">
        <div class="step_bg">
          <h4>2</h4>
          <h4>STEP </h4>
        </div>
        <div class="phone"><img src="img/go_apply_i04.png" alt=""></div>
        <div class="item_link">
          <h4>行動銀行 App</h4>
          <a href="https://esb.page.link/Launch-App-efingo">立即下載</a>
        </div>
      </div>

      <!-- join_item -->
      <div class="join_item">
        <div class="step_bg">
          <h4>3</h4>
          <h4>STEP </h4>
        </div>
        <div class="phone"><img src="img/go_apply_i05.png" alt=""></div>
        <div class="item_link">
          <h4>e.Fingo 會員專區</h4>
          <a href="https://esb.page.link/eFingo-web">馬上加入</a>
        </div>
      </div>

    </div>


  <div class="for_height"></div>
  </div>

</div>

{# notice #}
<div class="notice_section_top">
  <img src="img/notice_wave.svg" alt="">
</div>
<div class="notice_section">
  {% include 'component/warning_b.twig' %}
</div>


<script>
  $(function(){

    $(".img_c01").addClass('go_big')
    $(".img_c02").addClass('main_show_b02')
    $(".img_b03").addClass('main_show_b03')

  });


</script>

{% endblock %}