<aside>
	<ul>
		<li><a href="detail_a01.html"><img src="img/icon_4-b.svg" alt=""><p>管材</p></a></li>
		<li><a href="detail_a02.html"><img src="img/icon_2-b.svg" alt=""><p>管配件</p></a></li>
		<li><a href="detail_a03.html"><img src="img/icon_3-b.svg" alt=""><p>閥門</p></a></li>
		<li><a href="detail_a04.html"><img src="img/icon_1-b.svg" alt=""><p>配管五金</p></a></li>
	</ul>
</aside>