
<header>
    <div class="logo"><a href="index.html"><img src="img/e-fingo_logo.svg" alt=""></a></div>
	<div class="menu">
		<ul>
			<!-- <li><a href="index.html">首頁</a></li> -->
			<li>
                <a href="#">認識 e.Fingo </a>
                <div class="drop_down">
                    <a href="understand_feature.html">專屬特色</a>
                    <a href="understand_how-to-join.html">如何加入</a>
                    <a href="understand_how-to-use.html">如何使用</a>
                    <a href="understand_brand-story.html">品牌故事</a>
                </div>

            </li>
			<li>
                <a href="#">數位服務</a>
                <div class="drop_down">
                    <a href="digital_account.html">數位帳戶</a>
                    <a href="digital_creditcard_pay.html">信用卡／支付</a>
                    <a href="digital_loan.html">數位貸款</a>
                    <a href="digital_finance.html">數位理財</a>
                    <a href="digital_exchange.html">數位外匯</a>
                </div>
            </li>
			<li>
                <a href="#">e.Fingo 登山攻略</a>
                <div class="drop_down">
                    <a href="mountaineer_roaming.html">步道漫遊 </a>
                    <a href="mountaineer_cable_car_viewing.html">纜車觀景</a>
                    <a href="mountaineer_secretpath_adventure.html">秘徑探險</a>
                    <a href="mountaineer_rock_climbing.html">攀岩攻頂</a>
                </div>
            </li>
			<li>
                <a href="#">活動訊息</a>
                <div class="drop_down">
                    <a href="activity_news.html">最新消息 </a>
                    <a href="activity_announcement.html">公告消息</a>
                </div>
            </li>
			<li><a href="qa.html">常見問題 </a></li>
			<li><a href="#" class="join_member">加入會員 </a></li>

		</ul>
	</div>



<!-- hamburg -->
<div class="hamburg ">
    <span class="aaa"></span>
    <span class="bbb"></span>
    <span class="ccc"></span>
</div>

<div class="aside ">
    <ul>
        <li>
            <a href="#" class="m-first">認識 e.Fingo + </a>

            <div class="m-second_bg">
                <div class="goback second-goback"><i class="fa fa-add" aria-hidden="true"></i>資料目錄 </div>
                <ul class="ul-second">
                    <li><a href="understand_feature.html">專屬特色</a></li>
                    <li><a href="understand_how-to-join.html">如何加入</a></li>
                    <li> <a href="understand_how-to-use.html">如何使用</a></li>
                    <li><a href="understand_brand-story.html">品牌故事</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#" class="m-first">數位服務 +</a>
            <div class="m-second_bg">
                <div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>開發應用 </div>
                <ul class="ul-second">
                    <li><a href="#" class="m-second">開發指南</a></li>
                    <li><a href="#" class="m-second">應用實例</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#" class="m-first"> e.Fingo 登頂攻略 + </a>
            <div class="m-second_bg">
                <div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>會員專區 </div>
                <ul class="ul-second">
                    <li><a href="#" class="m-second">我想要更多</a></li>
                    <li><a href="#" class="m-second">意見回應</a></li>
                    <li><a href="#" class="m-second">我的收藏</a></li>
                </ul>
            </div>

        </li>
        <li>
            <a href="#" class="m-first">活動訊息 + </a>
            <div class="m-second_bg">
                <div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>關於網站 </div>
                <ul class="ul-second">
                    <li><a href="#" class="m-second">關於我們</a></li>
                    <li><a href="#" class="m-second">使用說明</a></li>
                    <li><a href="#" class="m-second">網站地圖</a></li>
                    <li><a href="#" class="m-second">數位儀表板</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#" class="m-first">常見問題 </a></li>
        {# <li><a href="#" class="m-first"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li> #}
    </ul>
</div>
</header>


