<header>
    <div class="logo"><a href="index.html"><img src="img/e-fingo_logo.svg" alt=""></a></div>
	<div class="menu">
		<ul>
			<!-- <li><a href="index.html">首頁</a></li> -->
			<li>
                <a href="#">認識 e.Fingo</a>
                <div class="drop_down">
                    <a href="#">專屬特色 </a>
                    <a href="#">如何加入</a>
                    <a href="#">如何使用</a>
                    <a href="#">品牌故事</a>
                </div>

            </li>
			<li>
                <a href="#">數位服務</a>
                <div class="drop_down">
                    <a href="#">數位帳戶</a>
                    <a href="#">信用卡／支付</a>
                    <a href="#">數位貸款</a>
                    <a href="#">數位理財</a>
                    <a href="#">數位外匯</a>
                </div>
            </li>
			<li>
                <a href="#">e.Fingo 登山攻略</a>
                <div class="drop_down">
                    <a href="#">步道漫遊 </a>
                    <a href="#">纜車觀景</a>
                    <a href="#">秘徑探險</a>
                    <a href="#">攀岩攻頂</a>
                </div>
            </li>
			<li>
                <a href="#">活動訊息</a>
                <div class="drop_down">
                    <a href="#">最新消息 </a>
                    <a href="#">公告消息</a>
                </div>
            </li>
			<li><a href="#">常見問題 </a></li>
			<li><a href="#" class="join_member">加入會員 </a></li>

		</ul>
	</div>
</header>