
<header class="index_menu">
    <div class="logo"><a href="index.html"><img src="img/e-fingo_logo.svg" alt=""></a></div>
	<div class="menu">
		<ul>
			<!-- <li><a href="index.html">首頁</a></li> -->
			<li>
                <a href="#">認識 e.Fingo </a>
                <div class="drop_down">
                    <a href="understand_feature.html">專屬特色</a>
                    <a href="understand_how-to-join.html">如何加入</a>
                    <a href="understand_how-to-use.html">如何使用</a>
                    <a href="understand_brand-story.html">品牌故事</a>
                </div>

            </li>
			<li>
                <a href="#">數位服務</a>
                <div class="drop_down">
                    <a href="digital_account.html">數位帳戶</a>
                    <a href="digital_creditcard_pay.html">信用卡／支付</a>
                    <a href="digital_loan.html">數位貸款</a>
                    <a href="digital_finance.html">數位理財</a>
                    <a href="digital_exchange.html">數位外匯</a>
                </div>
            </li>
			<li>
                <a href="#">e.Fingo 登山攻略</a>
                <div class="drop_down">
                    <a href="mountaineer_roaming.html">步道漫遊 </a>
                    <a href="mountaineer_cable_car_viewing.html">纜車觀景</a>
                    <a href="mountaineer_secretpath_adventure.html">秘徑探險</a>
                    <a href="mountaineer_rock_climbing.html">攀岩攻頂</a>
                </div>
            </li>
			<li>
                <a href="#">活動訊息</a>
                <div class="drop_down">
                    <a href="activity_news.html">最新消息 </a>
                    <a href="activity_announcement.html">公告消息</a>
                    <a href="activity_blog.html">部落格</a>
                </div>
            </li>
			<li><a href="qa.html">常見問題 </a></li>
			<li><a href="#" class="join_member">加入會員 </a></li>
		</ul>
	</div>


<script>
    $(document).ready(function(){
        $('.m-first').click(function(){
            $(".m-second_bg").removeClass("show")
            $(this).parent().find(".m-second_bg").addClass("show")

        })

    });   
</script>

<!-- hamburg -->
<div class="hamburg ">
    <span class="aaa"></span>
    <span class="bbb"></span>
    <span class="ccc"></span>
</div>

<div class="aside ">
    
    <ul>
        <li>
            <div class="m-first ">認識 e.Fingo +</div>
            <div class="m-second_bg show">
                <ul >
                    <li><a href="understand_feature.html" class="m-second">專屬特色</a></li>
                    <li><a href="understand_feature.html" class="m-second">如何加入</a></li>
                    <li><a href="understand_feature.html" class="m-second">如何使用</a></li>
                    <li><a href="understand_brand-story.html" class="m-second">品牌故事</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="m-first">數位服務 +</div>
            <div class="m-second_bg">
                <ul >
                    <li><a href="digital_account.html" class="m-second">數位帳戶</a></li>
                    <li><a href="digital_creditcard_pay.html" class="m-second">信用卡／支付</a></li>
                    <li> <a href="digital_loan.html" class="m-second">數位貸款</a></li>
                    <li> <a href="digital_finance.html" class="m-second">數位理財</a></li>
                    <li><a href="digital_exchange.html" class="m-second">數位外匯</a></li>
                </ul>
            </div>
        </li>

        <li>
            <div class="m-first">e.Fingo 登頂攻略 +</div>
            <div class="m-second_bg">
                <ul >
                    <li><a href="mountaineer_roaming.html" class="m-second">步道漫遊 </a></li>
                    <li><a href="mountaineer_cable_car_viewing.html" class="m-second">纜車觀景</a></li>
                    <li><a href="mountaineer_secretpath_adventure.html" class="m-second">秘徑探險</a></li>
                    <li><a href="mountaineer_rock_climbing.html" class="m-second">攀岩攻頂</a></li>
                </ul>
            </div>

        </li>
        <li>
            <a href="#" class="m-first">活動訊息 + </a>
            <div class="m-second_bg">
                <ul class="ul-second">
                    <li><a href="activity_news.html" class="m-second">最新消息</a></li>
                    <li><a href="activity_announcement.html" class="m-second">公告消息</a></li>
                    <li><a href="activity_blog.html" class="m-second">部落格</a></li>
                </ul>
            </div>
        </li>
        <li><a href="qa.html" class="m-first">常見問題 </a></li> 
    </ul>
    <a href="" class="join_member_m">加入會員</a>
</div>
</header>


