
<div class="digital_loan_content">
    <div class="d-text_page">
        <h6> 謹慎理財 信用無價</h6>
        <p> 信用卡循環利率：5.88%-15%(依本行電腦評等而訂，基準日：2015/9/1)預借現金手續費(依預借現金約定結付幣別區分)：預借現金金額x3.5%+(新臺幣100元/3.5美元/350日圓/2.5歐元) 。其他相關費率依本行網站及申請書公告</p>

    </div>
</div>
