<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" lang="zh-TW">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-itunes-app" content="app-id=300915900, app-argument=https://www.kkbox.com/tw/tc/index.html">
<link rel="shortcut icon" href="img/e.Fingo_favicon.svg" />


<meta name="keywords" content="">
<meta name="description" content="">
<title> 玉山銀行 e.Fingo </title>
<meta property="og:type" content="website"/>
<meta property="og:title" content=""/>
<meta property="og:url" content=""/>
<meta property="og:description" content="" />
<meta property="og:image" content=""/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<!--#include virtual="/event_templates/fb_appid_meta.html" -->

<!-- <link href="/frontend_lib/bootstrap-grid/bootstrap-grid.css" rel="stylesheet" />
<link href="/css/event-component.css" rel="stylesheet" media="screen">
-->


<!-- 套件 CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- 所有自訂的 CSS -->
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/slick-theme.css">

<link href="css/jquery.bxslider.css" rel="stylesheet" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css' integrity='sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==' crossorigin='anonymous'/>

<link href="css/module.css" rel="stylesheet" />


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js' integrity='sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==' crossorigin='anonymous'></script>

<script src="js/ui.js"></script>

<script>
    $(document).on('ready', function() {
        $(".main").slick({
            dots: true,
            infinite: true,
            arrows: false,
            autoplay: false,
            adaptiveHeight: true
        })

    });

</script>

</head>
<body>

    {% block page %}{% endblock %}

<div class="footer_wrapper">
    <div class="footer_topwave">
        <img src="img/footer_bg.svg" alt="">
    </div> 
    <div class="footer_body">
        <div class="footer_content">
            <div class="item_row">
                <div class="pillar">
                    <h6>認識 e.Fingo</h6>
                    <a href="understand_feature.html" class="link">專屬特色</a>
                    <a href="understand_how-to-join.html" class="link">如何加入</a>
                    <a href="understand_how-to-use.html" class="link">如何使用</a>
                    <a href="understand_brand-story.html" class="link">品牌故事</a>
                </div>
                <div class="pillar">
                    <h6>數位服務</h6>
                    <a href="digital_account.html" class="link">數位帳戶</a>
                    <a href="digital_creditcard_pay.html" class="link">信用卡／支付</a>
                    <a href="digital_loan.html" class="link">數位貸款</a>
                    <a href="digital_finance.html" class="link">數位理財</a>
                    <a href="digital_exchange.html" class="link">數位外匯</a>
                </div>
                <div class="pillar">
                    <h6>e.Fingo 登山攻略</h6>
                    <a href="mountaineer_roaming.html" class="link">步道漫遊 </a>
                    <a href="mountaineer_cable_car_viewing.html" class="link">纜車觀景</a>
                    <a href="mountaineer_secretpath_adventure.html" class="link">秘徑探險</a>
                    <a href="mountaineer_rock_climbing.html" class="link">攀岩攻頂</a>
                </div>
                <div class="pillar">
                    <h6>活動訊息</h6>
                    <a href="activity_news.html" class="link">最新消息 </a>
                    <a href="activity_announcement.html" class="link">公告消息</a>
                    <a href="activity_blog.html" class="link">部落格</a>

                </div>
                <div class="pillar">
                    <h6>常見問題</h6>
                    <a href="#" class="link">會員相關</a>
                    <a href="#" class="link">點數相關</a>
                    <a href="#" class="link">兌換相關</a>
                    <a href="#" class="link">申請相關</a>
                </div>
                <div class="pillar">
                    <h6>部落格</h6>
                    
                </div>
                <div class="social_media">
                    <div class="s_link_row">
                        <a href="" class="s_link"><img src="img/s_01.svg" alt=""></a>
                        <a href="" class="s_link"><img src="img/s_02.svg" alt=""></a>
                        <a href="" class="s_link"><img src="img/s_03.svg" alt=""></a>
                    </div>
                    <div class="s_bottom_link">
                        <a href="#">玉山 e 客服</a> ｜ <a href="#">常見問題</a> ｜ <a href="#">個資法定告知事項</a>｜ © E.SUN BANK
                    </div>
                </div>

            </div>
        </div>

    </div> 
</div>
</body>
</html>
